<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>v1_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,438},{108,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,66}}</string>
                <key>sourceSize</key>
                <string>{108,66}</string>
            </dict>
            <key>v1_btn_back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,370},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>v1_btn_biaoqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,349},{80,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>v1_btn_biaoqian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,420},{80,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>v1_btn_biaoqian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,422},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>v1_btn_biaoqian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,318},{118,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,70}}</string>
                <key>sourceSize</key>
                <string>{118,70}</string>
            </dict>
            <key>v1_btn_blue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,67},{155,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,62}}</string>
                <key>sourceSize</key>
                <string>{155,62}</string>
            </dict>
            <key>v1_btn_blue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,212},{130,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,50}}</string>
                <key>sourceSize</key>
                <string>{130,50}</string>
            </dict>
            <key>v1_btn_blue3.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,264},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>v1_btn_blue4.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,370},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>v1_btn_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,202},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>v1_btn_chongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,130},{132,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,80}}</string>
                <key>sourceSize</key>
                <string>{132,80}</string>
            </dict>
            <key>v1_btn_closebig.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,250},{108,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,66}}</string>
                <key>sourceSize</key>
                <string>{108,66}</string>
            </dict>
            <key>v1_btn_closebig2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,318},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>v1_btn_disabled_rpqn.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,133},{100,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,64}}</string>
                <key>sourceSize</key>
                <string>{100,64}</string>
            </dict>
            <key>v1_btn_disaduse.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,318},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>v1_btn_fighting.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{285,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,63}}</string>
                <key>sourceSize</key>
                <string>{285,63}</string>
            </dict>
            <key>v1_btn_increase.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,166},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>v1_btn_location.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,318},{100,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,42}}</string>
                <key>sourceSize</key>
                <string>{100,42}</string>
            </dict>
            <key>v1_btn_low1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{252,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,64}}</string>
                <key>sourceSize</key>
                <string>{252,64}</string>
            </dict>
            <key>v1_btn_lue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{252,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,64}}</string>
                <key>sourceSize</key>
                <string>{252,64}</string>
            </dict>
            <key>v1_btn_qianwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,318},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>v1_btn_red1.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,66},{155,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,62}}</string>
                <key>sourceSize</key>
                <string>{155,62}</string>
            </dict>
            <key>v1_btn_red2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,183},{130,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,50}}</string>
                <key>sourceSize</key>
                <string>{130,50}</string>
            </dict>
            <key>v1_btn_red3.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,411},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>v1_btn_reduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,130},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>v1_btn_selected_biaoqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,420},{80,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>v1_btn_selected_biaoqian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,235},{80,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>v1_btn_selected_biaoqian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,311},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>v1_btn_selected_biaoqian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{118,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,70}}</string>
                <key>sourceSize</key>
                <string>{118,70}</string>
            </dict>
            <key>v1_btn_selected_biaoqian4b.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,67},{10,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,64}}</string>
                <key>sourceSize</key>
                <string>{10,64}</string>
            </dict>
            <key>v1_btn_shanchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,256},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>v1_btn_shuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>v1_btn_yellow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{155,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,62}}</string>
                <key>sourceSize</key>
                <string>{155,62}</string>
            </dict>
            <key>v1_btn_yellow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,131},{130,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,50}}</string>
                <key>sourceSize</key>
                <string>{130,50}</string>
            </dict>
            <key>v1_btn_yellow3.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,297},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_button1.png</string>
            <key>size</key>
            <string>{512,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e32aa87d6ae765ebafb6354140cce4e8$</string>
            <key>textureFileName</key>
            <string>p1_button1.png</string>
        </dict>
    </dict>
</plist>
