<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>radius.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,20},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>radius2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,35},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rwww_tmtp_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{4,6}</string>
            </dict>
            <key>sg_fbbkdh_kq_x_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,190},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>v1_bg_gxhdxsa_x_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,238},{420,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,160}}</string>
                <key>sourceSize</key>
                <string>{420,160}</string>
            </dict>
            <key>v1_bth_gongchengluedi.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,100},{111,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{111,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>v1_btn_boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,80},{111,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{111,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>v1_btn_gongcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,72},{111,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{111,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>v1_btn_luanjun.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,51},{111,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{111,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>v1_btn_sjmb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,15},{54,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{54,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>v1_img_caijiyoujian.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{48,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>v1_img_gouxuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1},{43,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{43,40}}</string>
                <key>sourceSize</key>
                <string>{47,42}</string>
            </dict>
            <key>v1_img_gouxuankuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,15},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>v1_img_hong01_sh.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,161},{211,116}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,18},{211,116}}</string>
                <key>sourceSize</key>
                <string>{275,140}</string>
            </dict>
            <key>v1_img_hong02_sh.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,126},{208,111}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,35},{208,111}}</string>
                <key>sourceSize</key>
                <string>{296,155}</string>
            </dict>
            <key>v1_img_hong03_sh.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,278},{325,165}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,29},{325,165}}</string>
                <key>sourceSize</key>
                <string>{387,199}</string>
            </dict>
            <key>v1_img_hong04_sh.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,42},{138,70}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,79},{138,70}}</string>
                <key>sourceSize</key>
                <string>{376,188}</string>
            </dict>
            <key>v1_img_huanyedian1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>v1_img_huanyedian1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>v1_img_jiesuantb.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1},{302,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,40}}</string>
                <key>sourceSize</key>
                <string>{302,40}</string>
            </dict>
            <key>v1_img_mubiaodiushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,1},{52,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{52,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>v1_img_scjtl.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1},{89,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,18}}</string>
                <key>sourceSize</key>
                <string>{89,18}</string>
            </dict>
            <key>v1_img_star5a.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>v1_img_star5b.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1},{33,33}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>v1_img_tuwtkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,1},{49,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,61}}</string>
                <key>sourceSize</key>
                <string>{49,61}</string>
            </dict>
            <key>v1_img_v2_btn_wujiangtuijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,37},{70,74}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>v1_img_wanjia_hong10_sh.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,23},{113,56}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,28},{113,56}}</string>
                <key>sourceSize</key>
                <string>{133,86}</string>
            </dict>
            <key>v1_img_wanjia_lan20_sh.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,42},{145,79}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{145,79}}</string>
                <key>sourceSize</key>
                <string>{181,93}</string>
            </dict>
            <key>v1_img_xsydk.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,210},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{143,143}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>v2_btn_close02.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,1},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,45}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>v2_font_shengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,48},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,79}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>v2_font_shibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,46},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,79}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>v2_img_fubenzhangjie.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,399},{286,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,166}}</string>
                <key>sourceSize</key>
                <string>{286,166}</string>
            </dict>
            <key>v2_img_xsfuduqddyy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1},{157,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,13}}</string>
                <key>sourceSize</key>
                <string>{157,13}</string>
            </dict>
            <key>v2_ing_touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,113},{106,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,219}}</string>
                <key>sourceSize</key>
                <string>{106,219}</string>
            </dict>
            <key>v2_line_biao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1},{31,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,37}}</string>
                <key>sourceSize</key>
                <string>{31,37}</string>
            </dict>
            <key>zjm_tjmc_hdtx_dt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_commonse4.png</string>
            <key>size</key>
            <string>{1021,566}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:597caf06689428c3d013e5fa9f429ba0$</string>
            <key>textureFileName</key>
            <string>p1_commonse4.png</string>
        </dict>
    </dict>
</plist>
