<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_sjdt_ywtx_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,694},{268,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,186}}</string>
                <key>sourceSize</key>
                <string>{268,186}</string>
            </dict>
            <key>v1_bg_daohangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,202},{8,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,87}}</string>
                <key>sourceSize</key>
                <string>{8,87}</string>
            </dict>
            <key>v1_bg_daohangdi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,39},{5,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,82}}</string>
                <key>sourceSize</key>
                <string>{5,82}</string>
            </dict>
            <key>v1_bg_kelashen14.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,592},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>v1_img_bluelump.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,613},{151,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,80}}</string>
                <key>sourceSize</key>
                <string>{151,80}</string>
            </dict>
            <key>v1_img_changtiaoqian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,290},{258,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,42}}</string>
                <key>sourceSize</key>
                <string>{258,42}</string>
            </dict>
            <key>v1_img_dengjidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,164},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>v1_img_dengjidi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,549},{42,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>v1_img_dengjidi3c.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,126},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>v1_img_dikuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,111}}</string>
                <key>sourceSize</key>
                <string>{640,111}</string>
            </dict>
            <key>v1_img_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,131},{24,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,16}}</string>
                <key>sourceSize</key>
                <string>{24,16}</string>
            </dict>
            <key>v1_img_fight_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,370},{189,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,49}}</string>
                <key>sourceSize</key>
                <string>{189,49}</string>
            </dict>
            <key>v1_img_graylump.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,532},{151,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,80}}</string>
                <key>sourceSize</key>
                <string>{151,80}</string>
            </dict>
            <key>v1_img_greenlump.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,451},{151,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,80}}</string>
                <key>sourceSize</key>
                <string>{151,80}</string>
            </dict>
            <key>v1_img_jzmzd.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,1},{112,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,28}}</string>
                <key>sourceSize</key>
                <string>{112,28}</string>
            </dict>
            <key>v1_img_kela.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,113},{584,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,13}}</string>
                <key>sourceSize</key>
                <string>{584,13}</string>
            </dict>
            <key>v1_img_kelashen6.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,718},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>v1_img_kelashen6_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,20},{350,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,18}}</string>
                <key>sourceSize</key>
                <string>{350,18}</string>
            </dict>
            <key>v1_img_kelashen6_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1},{350,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,18}}</string>
                <key>sourceSize</key>
                <string>{350,18}</string>
            </dict>
            <key>v1_img_kelashen6liang.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,718},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>v1_img_kelashen7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,409},{126,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,130}}</string>
                <key>sourceSize</key>
                <string>{126,130}</string>
            </dict>
            <key>v1_img_liaotiankuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,461},{86,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,40}}</string>
                <key>sourceSize</key>
                <string>{86,40}</string>
            </dict>
            <key>v1_img_liaotiankuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,461},{86,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,40}}</string>
                <key>sourceSize</key>
                <string>{86,40}</string>
            </dict>
            <key>v1_img_liaotiankuang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,370},{90,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,50}}</string>
                <key>sourceSize</key>
                <string>{90,50}</string>
            </dict>
            <key>v1_img_liaotiankuang3b.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,113},{90,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,50}}</string>
                <key>sourceSize</key>
                <string>{90,50}</string>
            </dict>
            <key>v1_img_liaotiankuang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,420},{86,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,40}}</string>
                <key>sourceSize</key>
                <string>{86,40}</string>
            </dict>
            <key>v1_img_lkgaufreje.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,370},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>v1_img_redlump.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,370},{151,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,80}}</string>
                <key>sourceSize</key>
                <string>{151,80}</string>
            </dict>
            <key>v1_img_saod.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,954},{115,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,59}}</string>
                <key>sourceSize</key>
                <string>{115,59}</string>
            </dict>
            <key>v1_img_shenbingjianbian.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,39},{344,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,42}}</string>
                <key>sourceSize</key>
                <string>{344,42}</string>
            </dict>
            <key>v1_img_shenbingmingzidi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,82},{38,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,60}}</string>
                <key>sourceSize</key>
                <string>{38,60}</string>
            </dict>
            <key>v1_img_star5.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,370},{34,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{34,34}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>v1_img_tishichangtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,82},{276,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,43}}</string>
                <key>sourceSize</key>
                <string>{276,43}</string>
            </dict>
            <key>v1_img_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,114},{24,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,16}}</string>
                <key>sourceSize</key>
                <string>{24,16}</string>
            </dict>
            <key>v1_img_wjmcd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,954},{68,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,243}}</string>
                <key>sourceSize</key>
                <string>{68,243}</string>
            </dict>
            <key>v1_img_yindaotankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,127},{572,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,242}}</string>
                <key>sourceSize</key>
                <string>{572,242}</string>
            </dict>
            <key>v1_img_zhanli02.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,148},{20,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,82}}</string>
                <key>sourceSize</key>
                <string>{20,82}</string>
            </dict>
            <key>v1_img_zjm_rwdk.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,126},{80,76}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{80,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>v1_img_zjm_tzqpl.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,126},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{76,76}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>v1_img_zjm_wpkd.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,122},{74,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,72}}</string>
                <key>sourceSize</key>
                <string>{74,72}</string>
            </dict>
            <key>v1_img_zjm_wzqph.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,451},{94,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>v1_ing_zjm_gndi.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,451},{94,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>v1_ing_zjm_gndi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,614},{122,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{122,116}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>v1_line_sj.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,614},{202,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,103}}</string>
                <key>sourceSize</key>
                <string>{202,103}</string>
            </dict>
            <key>v1_line_sj_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,409},{404,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,204}}</string>
                <key>sourceSize</key>
                <string>{404,204}</string>
            </dict>
            <key>v1_line_sj_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,549},{404,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,204}}</string>
                <key>sourceSize</key>
                <string>{404,204}</string>
            </dict>
            <key>v1_line_sj_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,549},{404,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,204}}</string>
                <key>sourceSize</key>
                <string>{404,204}</string>
            </dict>
            <key>v1_line_sj_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,204},{404,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,204}}</string>
                <key>sourceSize</key>
                <string>{404,204}</string>
            </dict>
            <key>v1_line_zjmfg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,114},{2,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,87}}</string>
                <key>sourceSize</key>
                <string>{2,87}</string>
            </dict>
            <key>v2_img_xiaoxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,126},{84,74}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{84,74}}</string>
                <key>sourceSize</key>
                <string>{92,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_commmon2_sep.png</string>
            <key>size</key>
            <string>{1022,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c67009bca158dd92ccb36a73da8b5b54$</string>
            <key>textureFileName</key>
            <string>p1_commmon2_sep.png</string>
        </dict>
    </dict>
</plist>
