<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_fbtxtx_s_sda_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1},{151,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,151}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>v1_btn_cc.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,194},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>v1_btn_czdl.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,330},{41,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,51}}</string>
                <key>sourceSize</key>
                <string>{41,51}</string>
            </dict>
            <key>v1_btn_czlb.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,346},{49,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,40}}</string>
                <key>sourceSize</key>
                <string>{49,40}</string>
            </dict>
            <key>v1_btn_gzlb.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,407},{58,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,44}}</string>
                <key>sourceSize</key>
                <string>{58,44}</string>
            </dict>
            <key>v1_btn_jianzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,373},{111,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{111,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>v1_btn_jsrw.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,512},{46,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{46,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>v1_btn_jsrw5.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,270},{111,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{111,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>v1_btn_kjrw.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,289},{58,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{58,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>v1_btn_kjrw3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,270},{111,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{111,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>v1_btn_ljrw.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,451},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>v1_btn_ljrw6.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,263},{111,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{111,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>v1_btn_shenbing.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,160},{111,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{111,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>v1_btn_sjdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,466},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>v1_btn_ss.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,245},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>v1_btn_tqq.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,323},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,28}</string>
            </dict>
            <key>v1_btn_zbrw.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,269},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>v1_btn_zbrw2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,160},{111,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{111,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>v1_btn_zfwj.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,86},{35,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,43}}</string>
                <key>sourceSize</key>
                <string>{35,43}</string>
            </dict>
            <key>v1_btn_zxrw.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,477},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>v1_btn_zxrw1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,153},{111,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{111,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>v1_img_fbzj_01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{278,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,158}}</string>
                <key>sourceSize</key>
                <string>{278,158}</string>
            </dict>
            <key>v1_img_hongdiantishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,218},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>v1_img_huanyedian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,282},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{10,10}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>v1_img_huanyedian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,390},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{16,16}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>v1_img_jld_fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,396},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{78,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>v1_img_jt_sj.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,282},{24,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{24,40}}</string>
                <key>sourceSize</key>
                <string>{26,42}</string>
            </dict>
            <key>v1_img_moji.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,160},{128,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,51}}</string>
                <key>sourceSize</key>
                <string>{128,51}</string>
            </dict>
            <key>v1_img_mubingxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,208},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>v1_img_shenbingjianbian.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1},{344,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,42}}</string>
                <key>sourceSize</key>
                <string>{344,42}</string>
            </dict>
            <key>v1_img_shengjixiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,169},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>v1_img_sjjz.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,475},{76,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,79}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>v1_img_spk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,380},{130,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,85}}</string>
                <key>sourceSize</key>
                <string>{130,85}</string>
            </dict>
            <key>v1_img_touying_fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,1},{84,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{84,36}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>v1_img_tzfb.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,380},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>v1_img_wcrw.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,402},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>v1_img_xjlxhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,386},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{16,18}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>v1_img_xjlxhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,369},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>v1_img_xjlxlv.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,369},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>v1_img_xycj.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,247},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>v1_img_zhaohuanxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,130},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>v1_img_zjd_fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,153},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>v1_img_zjmxa.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,348},{53,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,50}}</string>
                <key>sourceSize</key>
                <string>{53,50}</string>
            </dict>
            <key>v1_youjiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,352},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,8},{16,24}}</string>
                <key>sourceSize</key>
                <string>{104,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_commonse3.png</string>
            <key>size</key>
            <string>{512,569}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:334a52c8d638170aba50514fd84ee196$</string>
            <key>textureFileName</key>
            <string>p1_commonse3.png</string>
        </dict>
    </dict>
</plist>
