<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,20},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{58,60}</string>
            </dict>
            <key>sg_fbbkdh_kq_x_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,380},{250,248}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{250,248}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sg_fbbkdh_kq_x_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,127},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>sg_fbbkdh_kq_x_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,20},{207,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,59}}</string>
                <key>sourceSize</key>
                <string>{207,59}</string>
            </dict>
            <key>sg_fbbkdh_kq_x_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,56},{80,70}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>sg_skill_mc_dt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,20},{177,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{177,37}}</string>
                <key>sourceSize</key>
                <string>{177,39}</string>
            </dict>
            <key>sg_skill_mc_dt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,20},{177,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{177,37}}</string>
                <key>sourceSize</key>
                <string>{177,39}</string>
            </dict>
            <key>v1_bar_blue_sc.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,1},{124,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,16}}</string>
                <key>sourceSize</key>
                <string>{124,16}</string>
            </dict>
            <key>v1_bar_bscd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,18},{132,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,26}}</string>
                <key>sourceSize</key>
                <string>{132,26}</string>
            </dict>
            <key>v1_img_gauqkapaibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,510},{118,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,358}}</string>
                <key>sourceSize</key>
                <string>{118,358}</string>
            </dict>
            <key>v1_img_gauqkapaicheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,441},{118,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,358}}</string>
                <key>sourceSize</key>
                <string>{118,358}</string>
            </dict>
            <key>v1_img_gauqkapaihong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,391},{118,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,358}}</string>
                <key>sourceSize</key>
                <string>{118,358}</string>
            </dict>
            <key>v1_img_gauqkapailan.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,322},{118,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,358}}</string>
                <key>sourceSize</key>
                <string>{118,358}</string>
            </dict>
            <key>v1_img_gauqkapailv.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,272},{118,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,358}}</string>
                <key>sourceSize</key>
                <string>{118,358}</string>
            </dict>
            <key>v1_img_gauqkapaizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,153},{118,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,358}}</string>
                <key>sourceSize</key>
                <string>{118,358}</string>
            </dict>
            <key>v1_img_kelashenyidu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,80},{300,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,90}}</string>
                <key>sourceSize</key>
                <string>{300,90}</string>
            </dict>
            <key>v1_img_truqrjfi.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,171},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{136,136}}</string>
                <key>sourceSize</key>
                <string>{144,146}</string>
            </dict>
            <key>v1_img_tubiaowzdh.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1},{66,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,18}}</string>
                <key>sourceSize</key>
                <string>{66,18}</string>
            </dict>
            <key>v1_img_tubiaowzdl.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1},{66,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,18}}</string>
                <key>sourceSize</key>
                <string>{66,18}</string>
            </dict>
            <key>v1_img_xingjuntishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,56},{74,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,72}}</string>
                <key>sourceSize</key>
                <string>{74,72}</string>
            </dict>
            <key>v1_img_yuanjiaotishikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,20},{90,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,35}}</string>
                <key>sourceSize</key>
                <string>{90,35}</string>
            </dict>
            <key>v1_img_zjm_tzqpz.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,58},{94,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,108}}</string>
                <key>sourceSize</key>
                <string>{94,110}</string>
            </dict>
            <key>v1_img_zjm_wpkdh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,45},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{68,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>v1_img_zjm_wpkdl.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,32},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{68,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>v1_img_zjm_wzqpj.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,58},{94,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,108}}</string>
                <key>sourceSize</key>
                <string>{94,110}</string>
            </dict>
            <key>v1_img_zjm_wzqpjddt.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,58},{80,80}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{80,80}}</string>
                <key>sourceSize</key>
                <string>{94,110}</string>
            </dict>
            <key>v2_btn_huifang.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,20},{68,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{68,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>v2_img_3yuanlibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,229},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>v2_img_6yuanlibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,171},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>v2_img_bluekelashen.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{954,1},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>v2_img_duizhandiyoujian.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1},{640,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,18}}</string>
                <key>sourceSize</key>
                <string>{640,18}</string>
            </dict>
            <key>v2_img_liaotiankapian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,685},{335,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,124}}</string>
                <key>sourceSize</key>
                <string>{335,124}</string>
            </dict>
            <key>v2_img_liaotiankapian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,629},{335,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,124}}</string>
                <key>sourceSize</key>
                <string>{335,124}</string>
            </dict>
            <key>v2_img_liaotiankapian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,560},{335,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,124}}</string>
                <key>sourceSize</key>
                <string>{335,124}</string>
            </dict>
            <key>v2_line_biaoqianfenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{2,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,52}}</string>
                <key>sourceSize</key>
                <string>{2,52}</string>
            </dict>
            <key>v_img_labaxuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,101},{151,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,127}}</string>
                <key>sourceSize</key>
                <string>{151,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_commmon5_sep.png</string>
            <key>size</key>
            <string>{988,810}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cb1fd5e5117dbcfb9cae3db66652f16$</string>
            <key>textureFileName</key>
            <string>p1_commmon5_sep.png</string>
        </dict>
    </dict>
</plist>
