<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_fkgx_fb_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1},{212,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,209}}</string>
                <key>sourceSize</key>
                <string>{212,209}</string>
            </dict>
            <key>v1_bg_guozhanliebiao.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,200}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>v1_bg_vvpyrqnm.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,417},{50,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,197}}</string>
                <key>sourceSize</key>
                <string>{50,197}</string>
            </dict>
            <key>v1_border_blue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,211},{220,102}}</string>
                <key>offset</key>
                <string>{-19,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,28},{220,102}}</string>
                <key>sourceSize</key>
                <string>{260,130}</string>
            </dict>
            <key>v1_border_blue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,314},{218,98}}</string>
                <key>offset</key>
                <string>{-21,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{218,98}}</string>
                <key>sourceSize</key>
                <string>{260,130}</string>
            </dict>
            <key>v1_border_blue_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,417},{146,102}}</string>
                <key>offset</key>
                <string>{-57,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{146,102}}</string>
                <key>sourceSize</key>
                <string>{260,130}</string>
            </dict>
            <key>v1_border_green-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,314},{218,98}}</string>
                <key>offset</key>
                <string>{-21,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{218,98}}</string>
                <key>sourceSize</key>
                <string>{260,130}</string>
            </dict>
            <key>v1_border_green_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,211},{220,102}}</string>
                <key>offset</key>
                <string>{-19,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,28},{220,102}}</string>
                <key>sourceSize</key>
                <string>{260,130}</string>
            </dict>
            <key>v1_border_green_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,314},{218,98}}</string>
                <key>offset</key>
                <string>{-21,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{218,98}}</string>
                <key>sourceSize</key>
                <string>{260,130}</string>
            </dict>
            <key>v1_border_green_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,417},{146,102}}</string>
                <key>offset</key>
                <string>{-57,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{146,102}}</string>
                <key>sourceSize</key>
                <string>{260,130}</string>
            </dict>
            <key>v1_border_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,211},{220,102}}</string>
                <key>offset</key>
                <string>{-19,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,28},{220,102}}</string>
                <key>sourceSize</key>
                <string>{260,130}</string>
            </dict>
            <key>v1_border_red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,314},{218,98}}</string>
                <key>offset</key>
                <string>{-21,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{218,98}}</string>
                <key>sourceSize</key>
                <string>{260,130}</string>
            </dict>
            <key>v1_border_red_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,417},{146,102}}</string>
                <key>offset</key>
                <string>{-57,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{146,102}}</string>
                <key>sourceSize</key>
                <string>{260,130}</string>
            </dict>
            <key>v1_border_white_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,211},{220,102}}</string>
                <key>offset</key>
                <string>{-19,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,28},{220,102}}</string>
                <key>sourceSize</key>
                <string>{260,130}</string>
            </dict>
            <key>v1_border_white_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,314},{218,98}}</string>
                <key>offset</key>
                <string>{-21,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{218,98}}</string>
                <key>sourceSize</key>
                <string>{260,130}</string>
            </dict>
            <key>v1_border_white_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,314},{146,102}}</string>
                <key>offset</key>
                <string>{-57,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{146,102}}</string>
                <key>sourceSize</key>
                <string>{260,130}</string>
            </dict>
            <key>v1_btn_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,664},{42,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,21}}</string>
                <key>sourceSize</key>
                <string>{42,21}</string>
            </dict>
            <key>v1_img_jingongjiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,664},{66,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,28}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>v1_img_namebg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,615},{108,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,28}}</string>
                <key>sourceSize</key>
                <string>{108,28}</string>
            </dict>
            <key>v1_img_namebg1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,615},{90,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,28}}</string>
                <key>sourceSize</key>
                <string>{90,28}</string>
            </dict>
            <key>v1_img_namebg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,615},{126,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,28}}</string>
                <key>sourceSize</key>
                <string>{126,28}</string>
            </dict>
            <key>v1_img_namebg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,615},{141,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,28}}</string>
                <key>sourceSize</key>
                <string>{141,28}</string>
            </dict>
            <key>v1_img_namebg30.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,664},{48,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>v1_img_namebg3a.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,664},{64,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,24}}</string>
                <key>sourceSize</key>
                <string>{64,24}</string>
            </dict>
            <key>v1_img_namebg3b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,664},{80,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,24}}</string>
                <key>sourceSize</key>
                <string>{80,24}</string>
            </dict>
            <key>v1_img_namebg3c.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,615},{95,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,24}}</string>
                <key>sourceSize</key>
                <string>{95,24}</string>
            </dict>
            <key>v1_img_namebg3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,615},{112,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,24}}</string>
                <key>sourceSize</key>
                <string>{112,24}</string>
            </dict>
            <key>v1_img_namebg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,615},{156,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,28}}</string>
                <key>sourceSize</key>
                <string>{156,28}</string>
            </dict>
            <key>v1_img_namebg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,417},{180,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,28}}</string>
                <key>sourceSize</key>
                <string>{180,28}</string>
            </dict>
            <key>v1_img_namebg6.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,615},{120,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,36}}</string>
                <key>sourceSize</key>
                <string>{120,36}</string>
            </dict>
            <key>v1_img_namebg6g.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,417},{215,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,28}}</string>
                <key>sourceSize</key>
                <string>{215,28}</string>
            </dict>
            <key>v1_img_v_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,664},{26,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{26,18}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>v1_img_zhiyin_sj.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,615},{58,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,48}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_commmon4_sep.png</string>
            <key>size</key>
            <string>{1024,693}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ec85e1aa66e2249ed48aa1b48676890$</string>
            <key>textureFileName</key>
            <string>p1_commmon4_sep.png</string>
        </dict>
    </dict>
</plist>
