<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_fbtxtx_s_sda_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,472},{173,169}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{173,169}}</string>
                <key>sourceSize</key>
                <string>{173,187}</string>
            </dict>
            <key>sg_fbtxtx_s_sda_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,104},{129,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{129,48}}</string>
                <key>sourceSize</key>
                <string>{129,50}</string>
            </dict>
            <key>sg_fbtxtx_s_sda_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,675},{123,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,114}}</string>
                <key>sourceSize</key>
                <string>{123,114}</string>
            </dict>
            <key>sg_slhmdg_zdg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{483,470}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,470}}</string>
                <key>sourceSize</key>
                <string>{483,470}</string>
            </dict>
            <key>v1_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,930},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>v1_bg_kelashen.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,588},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>v1_bg_yuanjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,675},{54,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,254}}</string>
                <key>sourceSize</key>
                <string>{54,254}</string>
            </dict>
            <key>v1_btn_zhuangbeikongge.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,430},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>v1_btn_zj.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,642},{100,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,42}}</string>
                <key>sourceSize</key>
                <string>{100,42}</string>
            </dict>
            <key>v1_img_awfkaqtjgh01.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1},{640,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,61}}</string>
                <key>sourceSize</key>
                <string>{640,61}</string>
            </dict>
            <key>v1_img_awfkaqtjh02.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,941},{640,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,61}}</string>
                <key>sourceSize</key>
                <string>{640,61}</string>
            </dict>
            <key>v1_img_biaoqian5.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,540},{50,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,47}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>v1_img_blackjianbianhei.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,675},{252,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,51}}</string>
                <key>sourceSize</key>
                <string>{252,51}</string>
            </dict>
            <key>v1_img_djbq.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,743},{147,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,46}}</string>
                <key>sourceSize</key>
                <string>{147,46}</string>
            </dict>
            <key>v1_img_djqz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,909},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>v1_img_dkd_zd.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,234},{136,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,32}}</string>
                <key>sourceSize</key>
                <string>{136,32}</string>
            </dict>
            <key>v1_img_dld.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1},{102,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,62}}</string>
                <key>sourceSize</key>
                <string>{102,62}</string>
            </dict>
            <key>v1_img_dld_sj.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1},{30,556}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,556}}</string>
                <key>sourceSize</key>
                <string>{30,556}</string>
            </dict>
            <key>v1_img_dtx_sj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,472},{236,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,202}}</string>
                <key>sourceSize</key>
                <string>{236,202}</string>
            </dict>
            <key>v1_img_dw_sj.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,790},{128,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,50}}</string>
                <key>sourceSize</key>
                <string>{128,50}</string>
            </dict>
            <key>v1_img_fbzjd_fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,642},{143,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,166}}</string>
                <key>sourceSize</key>
                <string>{143,166}</string>
            </dict>
            <key>v1_img_jzwjs_zjm.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,371},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>v1_img_kapai.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,489},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>v1_img_kelashen6hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,642},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>v1_img_qipao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,928},{50,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,55}}</string>
                <key>sourceSize</key>
                <string>{50,55}</string>
            </dict>
            <key>v1_img_result_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,860},{68,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,58}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>v1_img_shenbingmingzidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,642},{68,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,194}}</string>
                <key>sourceSize</key>
                <string>{68,194}</string>
            </dict>
            <key>v1_img_shizhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1003},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>v1_img_shurukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>v1_img_shurukuang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,860},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>v1_img_sjdtk.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,786},{140,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,98}}</string>
                <key>sourceSize</key>
                <string>{140,98}</string>
            </dict>
            <key>v1_img_sjzb.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,786},{154,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,34}}</string>
                <key>sourceSize</key>
                <string>{154,34}</string>
            </dict>
            <key>v1_img_stk_sj.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,984},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>v1_img_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,1},{640,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,76}}</string>
                <key>sourceSize</key>
                <string>{640,76}</string>
            </dict>
            <key>v1_img_touxiangkuangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,751},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>v1_img_touxiangkuanghong.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,642},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>v1_img_touxiangkuanghui.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,751},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>v1_img_touxiangkuanglan.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,642},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>v1_img_touxiangkuanglv.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,751},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>v1_img_touxiangkuangzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,642},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>v1_img_vipqianbidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,885},{125,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,41}}</string>
                <key>sourceSize</key>
                <string>{125,41}</string>
            </dict>
            <key>v1_img_xzk_fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,1003},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>v1_img_zhangjiekuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,869},{386,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,50}}</string>
                <key>sourceSize</key>
                <string>{386,50}</string>
            </dict>
            <key>v1_img_zjjt_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1003},{66,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,20}}</string>
                <key>sourceSize</key>
                <string>{66,20}</string>
            </dict>
            <key>v1_img_zjjt_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,1003},{66,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,20}}</string>
                <key>sourceSize</key>
                <string>{66,20}</string>
            </dict>
            <key>v1_img_zjm_sjts.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1003},{17,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,32}}</string>
                <key>sourceSize</key>
                <string>{17,32}</string>
            </dict>
            <key>v1_img_zjm_tbmzd.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1003},{22,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,19}}</string>
                <key>sourceSize</key>
                <string>{22,19}</string>
            </dict>
            <key>v1_img_zz_sj.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,472},{56,396}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{56,396}}</string>
                <key>sourceSize</key>
                <string>{56,420}</string>
            </dict>
            <key>v1_line_sjbj_sj.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,472},{109,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,13}}</string>
                <key>sourceSize</key>
                <string>{109,13}</string>
            </dict>
            <key>v1_weijiesuo_fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,790},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>v2_btn_cc.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,995},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{30,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>v2_btn_ss.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,837},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{24,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>v2_btn_tqq.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,995},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>v2_img_awfkaqtjh_ba.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,1},{640,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,34}}</string>
                <key>sourceSize</key>
                <string>{640,34}</string>
            </dict>
            <key>v2_img_awfkaqtjh_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1},{640,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,34}}</string>
                <key>sourceSize</key>
                <string>{640,34}</string>
            </dict>
            <key>v2_img_awfkaqtjh_lu.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1},{640,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,34}}</string>
                <key>sourceSize</key>
                <string>{640,34}</string>
            </dict>
            <key>v2_img_awfkaqtjh_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,1},{640,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,34}}</string>
                <key>sourceSize</key>
                <string>{640,34}</string>
            </dict>
            <key>v2_img_awfkaqtjh_zs.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1},{640,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,34}}</string>
                <key>sourceSize</key>
                <string>{640,34}</string>
            </dict>
            <key>v2_img_dw_sj.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,860},{128,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,59}}</string>
                <key>sourceSize</key>
                <string>{128,59}</string>
            </dict>
            <key>v2_img_touxiangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,885},{131,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,98}}</string>
                <key>sourceSize</key>
                <string>{131,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_commmon3_sep.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d796485fa588005a69f6eab1604b60f2$</string>
            <key>textureFileName</key>
            <string>p1_commmon3_sep.png</string>
        </dict>
    </dict>
</plist>
