<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>v2_btn_biaoqian_hkoyp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{130,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,52}}</string>
                <key>sourceSize</key>
                <string>{130,52}</string>
            </dict>
            <key>v2_btn_blue1aa.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{80,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>v2_btn_blue2bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,146},{80,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>v2_btn_blue6.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,299},{110,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,46}}</string>
                <key>sourceSize</key>
                <string>{110,46}</string>
            </dict>
            <key>v2_btn_bluehuodongchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{522,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,60}}</string>
                <key>sourceSize</key>
                <string>{522,60}</string>
            </dict>
            <key>v2_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,669},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>v2_btn_close02.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,409},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>v2_btn_guanbi_cf.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,669},{45,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,37}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>v2_btn_huodongjinse.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{233,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,70}}</string>
                <key>sourceSize</key>
                <string>{233,70}</string>
            </dict>
            <key>v2_btn_huodongjinsehui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{233,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,70}}</string>
                <key>sourceSize</key>
                <string>{233,70}</string>
            </dict>
            <key>v2_btn_jianzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{158,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,48}}</string>
                <key>sourceSize</key>
                <string>{158,48}</string>
            </dict>
            <key>v2_btn_selected_biaoqian1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,347},{108,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,60}}</string>
                <key>sourceSize</key>
                <string>{108,60}</string>
            </dict>
            <key>v2_btn_selected_biaoqian1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{108,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,60}}</string>
                <key>sourceSize</key>
                <string>{108,60}</string>
            </dict>
            <key>v2_btn_selected_biaoqian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{80,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,50}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>v2_btn_selected_hkoyp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{130,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,52}}</string>
                <key>sourceSize</key>
                <string>{130,52}</string>
            </dict>
            <key>v2_btn_shuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,669},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>v2_btn_wujianghblue.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,409},{258,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,46}}</string>
                <key>sourceSize</key>
                <string>{258,46}</string>
            </dict>
            <key>v2_btn_wujianglanse.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,459},{258,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,46}}</string>
                <key>sourceSize</key>
                <string>{258,46}</string>
            </dict>
            <key>v2_btn_wujiangzise.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,409},{258,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,46}}</string>
                <key>sourceSize</key>
                <string>{258,46}</string>
            </dict>
            <key>v2_btn_yellow6.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,251},{110,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,46}}</string>
                <key>sourceSize</key>
                <string>{110,46}</string>
            </dict>
            <key>v2_btn_zzdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,212},{114,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,37}}</string>
                <key>sourceSize</key>
                <string>{114,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p2_button1.png</string>
            <key>size</key>
            <string>{251,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fdbf61e5c8ea6fb24a179e84574e411$</string>
            <key>textureFileName</key>
            <string>p2_button1.png</string>
        </dict>
    </dict>
</plist>
