<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>V2_line_hong_ns.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,2},{2,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,54}}</string>
                <key>sourceSize</key>
                <string>{2,54}</string>
            </dict>
            <key>v2_bar_dianliangtuijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,807},{145,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,107}}</string>
                <key>sourceSize</key>
                <string>{145,107}</string>
            </dict>
            <key>v2_bar_meidianliangtuijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,807},{145,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,107}}</string>
                <key>sourceSize</key>
                <string>{145,107}</string>
            </dict>
            <key>v2_bar_nianshou_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,324},{341,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,20}}</string>
                <key>sourceSize</key>
                <string>{341,20}</string>
            </dict>
            <key>v2_bar_nianshou_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,988},{374,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,24}}</string>
                <key>sourceSize</key>
                <string>{374,24}</string>
            </dict>
            <key>v2_bar_nianshoush_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,324},{618,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,25}}</string>
                <key>sourceSize</key>
                <string>{618,25}</string>
            </dict>
            <key>v2_bar_nianshoush_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{618,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,25}}</string>
                <key>sourceSize</key>
                <string>{618,25}</string>
            </dict>
            <key>v2_img_hongbaodadi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,487}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,487}}</string>
                <key>sourceSize</key>
                <string>{320,487}</string>
            </dict>
            <key>v2_img_hsbjb.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,422},{383,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,84}}</string>
                <key>sourceSize</key>
                <string>{383,84}</string>
            </dict>
            <key>v2_img_jiangliyulan.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,807},{129,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,37}}</string>
                <key>sourceSize</key>
                <string>{129,37}</string>
            </dict>
            <key>v2_img_keyidongshanjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,944},{58,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,27}}</string>
                <key>sourceSize</key>
                <string>{58,27}</string>
            </dict>
            <key>v2_img_nianshoubeiganpaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,346},{263,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,260}}</string>
                <key>sourceSize</key>
                <string>{263,260}</string>
            </dict>
            <key>v2_img_texiao_ns.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,807},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>v2_img_wpkdhd.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,324},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v2_kelashen_ns.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,944},{41,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,42}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p2_commmon_ac.png</string>
            <key>size</key>
            <string>{505,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f662de1992fe1d3c25c42fc93ccac8f$</string>
            <key>textureFileName</key>
            <string>p2_commmon_ac.png</string>
        </dict>
    </dict>
</plist>
