<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_fb_gd_hd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>sg_fb_gd_hd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,24},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>sg_sjdt_zdsl_ht_gy_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,26},{201,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,68}}</string>
                <key>sourceSize</key>
                <string>{201,68}</string>
            </dict>
            <key>v2_bg_kela.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1},{23,536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,536}}</string>
                <key>sourceSize</key>
                <string>{23,536}</string>
            </dict>
            <key>v2_btn_xaqnwybc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,70},{270,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,94}}</string>
                <key>sourceSize</key>
                <string>{270,94}</string>
            </dict>
            <key>v2_btn_zjm_zhanbtou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,798},{640,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,147}}</string>
                <key>sourceSize</key>
                <string>{640,147}</string>
            </dict>
            <key>v2_fonts_jdsbfb02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,677},{640,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,120}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>v2_fonts_zhandshengli02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,556},{640,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,120}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>v2_img_cha_fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,25},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>v2_img_cz_hangjun.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{24,26}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>v2_img_cz_huyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1},{24,22}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{24,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>v2_img_cz_longfei.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1},{20,24}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{20,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>v2_img_cz_niaoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,1},{24,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{24,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>v2_img_cz_shepen.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,1},{20,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{20,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>v2_img_dengjidi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,22},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>v2_img_dengjidi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,22},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>v2_img_dhsld.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,25},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>v2_img_dld.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,25},{88,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,54}}</string>
                <key>sourceSize</key>
                <string>{88,54}</string>
            </dict>
            <key>v2_img_dqsld.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,25},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>v2_img_gauqkapaibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,375},{94,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,400}}</string>
                <key>sourceSize</key>
                <string>{94,400}</string>
            </dict>
            <key>v2_img_gauqkapaicheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,307},{94,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,400}}</string>
                <key>sourceSize</key>
                <string>{94,400}</string>
            </dict>
            <key>v2_img_gauqkapaihong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,280},{94,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,400}}</string>
                <key>sourceSize</key>
                <string>{94,400}</string>
            </dict>
            <key>v2_img_gauqkapailan.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,212},{94,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,400}}</string>
                <key>sourceSize</key>
                <string>{94,400}</string>
            </dict>
            <key>v2_img_gauqkapailv.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,185},{94,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,400}}</string>
                <key>sourceSize</key>
                <string>{94,400}</string>
            </dict>
            <key>v2_img_gauqkapaizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,117},{94,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,400}}</string>
                <key>sourceSize</key>
                <string>{94,400}</string>
            </dict>
            <key>v2_img_gjguowujiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,38},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>v2_img_jdszIdikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>v2_img_jingyingguanqia.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,212},{144,150}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{144,150}}</string>
                <key>sourceSize</key>
                <string>{146,158}</string>
            </dict>
            <key>v2_img_liaotiandi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,470},{640,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,85}}</string>
                <key>sourceSize</key>
                <string>{640,85}</string>
            </dict>
            <key>v2_img_liaotiantoushi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,1},{34,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,130}}</string>
                <key>sourceSize</key>
                <string>{34,130}</string>
            </dict>
            <key>v2_img_lock_tjp02b.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1},{26,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{26,33}}</string>
                <key>sourceSize</key>
                <string>{30,37}</string>
            </dict>
            <key>v2_img_putongguanqia.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,80},{104,120}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{104,120}}</string>
                <key>sourceSize</key>
                <string>{110,126}</string>
            </dict>
            <key>v2_img_qxsld.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,25},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>v2_img_qxsld2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,25},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>v2_img_qxsldv.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1},{22,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{22,42}}</string>
                <key>sourceSize</key>
                <string>{26,44}</string>
            </dict>
            <key>v2_img_roleshade_wujiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,402},{320,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,160}}</string>
                <key>sourceSize</key>
                <string>{320,160}</string>
            </dict>
            <key>v2_img_star5b.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{32,32}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>v2_img_wangquandi.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,36},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>v2_img_wujiangqiehuandi.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,25},{53,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,50}}</string>
                <key>sourceSize</key>
                <string>{53,50}</string>
            </dict>
            <key>v2_img_xcsld.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,25},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>v2_img_xuanzhon.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,76},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>v2_img_zhangjiejianglidi_fb_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,34},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>v2_img_zhishidian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{29,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{29,15}}</string>
                <key>sourceSize</key>
                <string>{29,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p2_commmon2_sep.png</string>
            <key>size</key>
            <string>{998,946}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66f0c88b9a26987c279851a5e17a7b2b$</string>
            <key>textureFileName</key>
            <string>p2_commmon2_sep.png</string>
        </dict>
    </dict>
</plist>
