<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rwww_jfxz_jxhs_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,316},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>rwww_jjc_tx_bl_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v2_btn_bt_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{347,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,34}}</string>
                <key>sourceSize</key>
                <string>{347,34}</string>
            </dict>
            <key>v2_btn_bt_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,38},{10,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,38}}</string>
                <key>sourceSize</key>
                <string>{10,38}</string>
            </dict>
            <key>v2_btn_dankai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{258,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,71}}</string>
                <key>sourceSize</key>
                <string>{258,71}</string>
            </dict>
            <key>v2_btn_lianka.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{258,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,71}}</string>
                <key>sourceSize</key>
                <string>{258,71}</string>
            </dict>
            <key>v2_btn_qianwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{250,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,63}}</string>
                <key>sourceSize</key>
                <string>{250,63}</string>
            </dict>
            <key>v2_img_chufa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,762},{104,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{104,106}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>v2_img_chufa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,522},{126,124}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,124}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>v2_img_chufa_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,522},{120,122}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{120,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>v2_img_chufa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,644},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{116,116}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>v2_img_chufa_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,648},{114,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{114,116}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>v2_img_clock_bossa.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,717},{52,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,74}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
            <key>v2_img_clock_bossb.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,384},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>v2_img_fangshoufang_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,474},{228,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,46}}</string>
                <key>sourceSize</key>
                <string>{228,46}</string>
            </dict>
            <key>v2_img_guojiakeji.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,38},{276,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{276,131}}</string>
                <key>sourceSize</key>
                <string>{278,135}</string>
            </dict>
            <key>v2_img_jingongfang_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,426},{228,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,46}}</string>
                <key>sourceSize</key>
                <string>{228,46}</string>
            </dict>
            <key>v2_img_jz_diana.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,350},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>v2_img_jz_dianb.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,316},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>v2_img_kelashen_chongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,120}}</string>
                <key>sourceSize</key>
                <string>{360,120}</string>
            </dict>
            <key>v2_img_labazhegai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{110,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,340}}</string>
                <key>sourceSize</key>
                <string>{110,340}</string>
            </dict>
            <key>v2_img_tietu.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,294},{130,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,99}}</string>
                <key>sourceSize</key>
                <string>{130,99}</string>
            </dict>
            <key>v2_img_v2_btn_longtu.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,966},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>v2_img_v2_btn_longtudi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>v2_img_v2_btn_xinsho.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,793},{64,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>v2_img_vipcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,762},{51,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,28}}</string>
                <key>sourceSize</key>
                <string>{51,28}</string>
            </dict>
            <key>v2_img_viphong.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,182},{42,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,18}}</string>
                <key>sourceSize</key>
                <string>{42,18}</string>
            </dict>
            <key>v2_img_viphui.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,664},{51,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,28}}</string>
                <key>sourceSize</key>
                <string>{51,28}</string>
            </dict>
            <key>v2_img_viplan.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,611},{51,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,28}}</string>
                <key>sourceSize</key>
                <string>{51,28}</string>
            </dict>
            <key>v2_img_viplv.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,558},{51,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,28}}</string>
                <key>sourceSize</key>
                <string>{51,28}</string>
            </dict>
            <key>v2_img_vipzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,505},{51,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,28}}</string>
                <key>sourceSize</key>
                <string>{51,28}</string>
            </dict>
            <key>v2_img_xsylan.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,673},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>v2_img_xsylu.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,868},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>v2_img_zgdj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{20,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,345}}</string>
                <key>sourceSize</key>
                <string>{20,345}</string>
            </dict>
            <key>v2_img_zjm_wgcj.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,226},{24,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,14}}</string>
                <key>sourceSize</key>
                <string>{24,14}</string>
            </dict>
            <key>v2_img_zzdtbannerdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,505},{210,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,166}}</string>
                <key>sourceSize</key>
                <string>{210,166}</string>
            </dict>
            <key>v2_img_zzdthdmd.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{142,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,34}}</string>
                <key>sourceSize</key>
                <string>{142,34}</string>
            </dict>
            <key>v2_line_longx.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{2,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,10}}</string>
                <key>sourceSize</key>
                <string>{2,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p2_commmon3_sep.png</string>
            <key>size</key>
            <string>{512,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:062499a83a83e77aa574c242fbf5e72d$</string>
            <key>textureFileName</key>
            <string>p2_commmon3_sep.png</string>
        </dict>
    </dict>
</plist>
