<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_dzjs_zzsk_xk_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,188},{129,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{129,72}}</string>
                <key>sourceSize</key>
                <string>{139,72}</string>
            </dict>
            <key>sg_jssj_zjm_s_x_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,411},{280,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,74}}</string>
                <key>sourceSize</key>
                <string>{280,76}</string>
            </dict>
            <key>sg_skill_mc_hsqj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,262},{126,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,37}}</string>
                <key>sourceSize</key>
                <string>{130,39}</string>
            </dict>
            <key>sg_skill_mc_jgtm_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,897},{124,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{124,37}}</string>
                <key>sourceSize</key>
                <string>{130,39}</string>
            </dict>
            <key>sg_skill_mc_wjqf_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,897},{124,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{124,36}}</string>
                <key>sourceSize</key>
                <string>{130,40}</string>
            </dict>
            <key>v1_btn_chengchishousha.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,409},{78,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{78,80}}</string>
                <key>sourceSize</key>
                <string>{82,88}</string>
            </dict>
            <key>v1_btn_mianfeiquzhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,489},{74,80}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{74,80}}</string>
                <key>sourceSize</key>
                <string>{82,88}</string>
            </dict>
            <key>v1_btn_shijieshuom.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,593},{68,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{68,76}}</string>
                <key>sourceSize</key>
                <string>{82,88}</string>
            </dict>
            <key>v1_btn_taoguangyanghui.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,331},{68,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{68,78}}</string>
                <key>sourceSize</key>
                <string>{82,88}</string>
            </dict>
            <key>v1_fight_skill_name1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{325,84}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{325,84}}</string>
                <key>sourceSize</key>
                <string>{331,86}</string>
            </dict>
            <key>v1_fight_skill_name2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{323,84}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{323,84}}</string>
                <key>sourceSize</key>
                <string>{331,86}</string>
            </dict>
            <key>v1_fight_skill_name3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{323,84}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{323,84}}</string>
                <key>sourceSize</key>
                <string>{331,86}</string>
            </dict>
            <key>v1_fonts_VIPtfce.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,105},{224,39}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,39}}</string>
                <key>sourceSize</key>
                <string>{234,39}</string>
            </dict>
            <key>v1_fonts_chengzhan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,642},{52,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,25}}</string>
                <key>sourceSize</key>
                <string>{52,25}</string>
            </dict>
            <key>v1_fonts_guozhan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,663},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>v1_fonts_ysq.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,335},{111,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,72}}</string>
                <key>sourceSize</key>
                <string>{111,72}</string>
            </dict>
            <key>v1_fonts_zhanlitisheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,409},{73,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,35}}</string>
                <key>sourceSize</key>
                <string>{73,35}</string>
            </dict>
            <key>v1_fonts_zhenrongzhanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,105},{142,35}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{142,35}}</string>
                <key>sourceSize</key>
                <string>{144,35}</string>
            </dict>
            <key>v1_img_fbjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{635,306}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{635,306}}</string>
                <key>sourceSize</key>
                <string>{637,312}</string>
            </dict>
            <key>v2_fonts_benxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,565},{77,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,26}}</string>
                <key>sourceSize</key>
                <string>{77,26}</string>
            </dict>
            <key>v2_fonts_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,262},{43,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,24}}</string>
                <key>sourceSize</key>
                <string>{43,24}</string>
            </dict>
            <key>v2_fonts_djz_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{180,60}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{180,60}}</string>
                <key>sourceSize</key>
                <string>{188,66}</string>
            </dict>
            <key>v2_fonts_duantu.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,563},{77,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,26}}</string>
                <key>sourceSize</key>
                <string>{77,26}</string>
            </dict>
            <key>v2_fonts_fuwuqiliebiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,64},{165,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,39}}</string>
                <key>sourceSize</key>
                <string>{165,39}</string>
            </dict>
            <key>v2_fonts_hewei.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,484},{77,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,26}}</string>
                <key>sourceSize</key>
                <string>{77,26}</string>
            </dict>
            <key>v2_fonts_weikaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,142},{140,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,44}}</string>
                <key>sourceSize</key>
                <string>{140,46}</string>
            </dict>
            <key>v2_fonts_zjt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,897},{123,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{123,32}}</string>
                <key>sourceSize</key>
                <string>{125,36}</string>
            </dict>
            <key>v2_fonts_zjt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,897},{123,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{123,32}}</string>
                <key>sourceSize</key>
                <string>{125,36}</string>
            </dict>
            <key>v2_fonts_zjt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,301},{121,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{121,32}}</string>
                <key>sourceSize</key>
                <string>{125,36}</string>
            </dict>
            <key>v2_fonts_zjt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,897},{123,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{123,32}}</string>
                <key>sourceSize</key>
                <string>{125,36}</string>
            </dict>
            <key>v2_fonts_zjt_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,897},{121,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{121,32}}</string>
                <key>sourceSize</key>
                <string>{125,36}</string>
            </dict>
            <key>v2_fonts_zjt_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,897},{121,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{121,32}}</string>
                <key>sourceSize</key>
                <string>{125,36}</string>
            </dict>
            <key>v2_fonts_zjt_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,897},{123,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{123,32}}</string>
                <key>sourceSize</key>
                <string>{125,36}</string>
            </dict>
            <key>v2_fonts_zjt_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,897},{121,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{121,32}}</string>
                <key>sourceSize</key>
                <string>{125,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_font2.png</string>
            <key>size</key>
            <string>{512,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c78a090e8e3d0f5639851c16c5bf961$</string>
            <key>textureFileName</key>
            <string>p1_font2.png</string>
        </dict>
    </dict>
</plist>
