<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>v1_bg_anlw.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,493},{134,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,40}}</string>
                <key>sourceSize</key>
                <string>{134,40}</string>
            </dict>
            <key>v1_bg_anlwboss.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{364,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,40}}</string>
                <key>sourceSize</key>
                <string>{364,40}</string>
            </dict>
            <key>v1_bg_atrsvtk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,493},{103,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,41}}</string>
                <key>sourceSize</key>
                <string>{103,41}</string>
            </dict>
            <key>v1_bg_attdpl.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,445},{134,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,41}}</string>
                <key>sourceSize</key>
                <string>{134,41}</string>
            </dict>
            <key>v1_bg_bvrrrk.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,445},{180,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,45}}</string>
                <key>sourceSize</key>
                <string>{180,45}</string>
            </dict>
            <key>v1_bg_gxcj.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,445},{235,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,45}}</string>
                <key>sourceSize</key>
                <string>{235,45}</string>
            </dict>
            <key>v1_bg_gxhd.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{336,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,109}}</string>
                <key>sourceSize</key>
                <string>{336,109}</string>
            </dict>
            <key>v1_bg_gxhdxsa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,304},{240,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,67}}</string>
                <key>sourceSize</key>
                <string>{240,67}</string>
            </dict>
            <key>v1_bg_hkwyftfd.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,445},{132,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,41}}</string>
                <key>sourceSize</key>
                <string>{132,41}</string>
            </dict>
            <key>v1_bg_wgfntrww.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{183,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,46}}</string>
                <key>sourceSize</key>
                <string>{183,46}</string>
            </dict>
            <key>v1_btn_baohu.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,228},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>v1_btn_chaundai.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,378},{83,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,60}}</string>
                <key>sourceSize</key>
                <string>{83,60}</string>
            </dict>
            <key>v1_btn_chengzhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,304},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>v1_btn_fenxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,228},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>v1_btn_guozhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>v1_btn_guozhan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,228},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>v1_btn_jinru.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,228},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>v1_btn_juqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,228},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>v1_btn_qiancheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,304},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>v1_btn_shijie.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,378},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>v1_btn_shuxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,378},{42,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,62}}</string>
                <key>sourceSize</key>
                <string>{42,62}</string>
            </dict>
            <key>v1_btn_siliao.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,228},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>v1_btn_wujiangzhuangtai.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>v1_btn_xiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,304},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>v1_btn_xiexia.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,378},{83,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,60}}</string>
                <key>sourceSize</key>
                <string>{83,60}</string>
            </dict>
            <key>v1_btn_zhaohuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,304},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>v1_btn_zhencha.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,304},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>v1_btn_zhufang.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,304},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>v1_font_fight_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,378},{101,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,56}}</string>
                <key>sourceSize</key>
                <string>{101,56}</string>
            </dict>
            <key>v1_font_fight_sb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{181,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,65}}</string>
                <key>sourceSize</key>
                <string>{181,65}</string>
            </dict>
            <key>v1_fonts_%.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,578},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>v1_fonts_bccf.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,136},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>v1_fonts_beibaoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,378},{146,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,52}}</string>
                <key>sourceSize</key>
                <string>{146,52}</string>
            </dict>
            <key>v1_fonts_bing.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,615},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>v1_fonts_chongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,445},{60,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,42}}</string>
                <key>sourceSize</key>
                <string>{60,42}</string>
            </dict>
            <key>v1_fonts_efighting.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,615},{110,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,24}}</string>
                <key>sourceSize</key>
                <string>{110,24}</string>
            </dict>
            <key>v1_fonts_fang.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,615},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>v1_fonts_fighting.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,578},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
            <key>v1_fonts_fp.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,378},{48,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,51}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>v1_fonts_gong.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,615},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>v1_fonts_hdjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,228},{69,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,74}}</string>
                <key>sourceSize</key>
                <string>{69,74}</string>
            </dict>
            <key>v1_fonts_jbsjbkqafg.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,493},{398,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,40}}</string>
                <key>sourceSize</key>
                <string>{398,40}</string>
            </dict>
            <key>v1_fonts_jie.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,536},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>v1_fonts_jinjiechenggong.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,378},{206,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,62}}</string>
                <key>sourceSize</key>
                <string>{206,62}</string>
            </dict>
            <key>v1_fonts_kongxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,536},{68,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,38}}</string>
                <key>sourceSize</key>
                <string>{68,38}</string>
            </dict>
            <key>v1_fonts_mf.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,228},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>v1_fonts_mfjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,136},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>v1_fonts_mfl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{62,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,35}}</string>
                <key>sourceSize</key>
                <string>{62,35}</string>
            </dict>
            <key>v1_fonts_mfzm.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,136},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>v1_fonts_ofighting.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,615},{109,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,24}}</string>
                <key>sourceSize</key>
                <string>{109,24}</string>
            </dict>
            <key>v1_fonts_shengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,536},{70,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,38}}</string>
                <key>sourceSize</key>
                <string>{70,38}</string>
            </dict>
            <key>v1_fonts_shengjichenggong.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,304},{217,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,72}}</string>
                <key>sourceSize</key>
                <string>{217,72}</string>
            </dict>
            <key>v1_fonts_tiaozhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,536},{70,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,38}}</string>
                <key>sourceSize</key>
                <string>{70,38}</string>
            </dict>
            <key>v1_fonts_xilian.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,536},{69,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,38}}</string>
                <key>sourceSize</key>
                <string>{69,38}</string>
            </dict>
            <key>v1_fonts_yigoumai.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,136},{124,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,80}}</string>
                <key>sourceSize</key>
                <string>{124,80}</string>
            </dict>
            <key>v1_fonts_yijbai.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,228},{111,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,72}}</string>
                <key>sourceSize</key>
                <string>{111,72}</string>
            </dict>
            <key>v1_fonts_yilingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,136},{124,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,80}}</string>
                <key>sourceSize</key>
                <string>{124,80}</string>
            </dict>
            <key>v1_fonts_yiqiandao.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,136},{124,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,80}}</string>
                <key>sourceSize</key>
                <string>{124,80}</string>
            </dict>
            <key>v1_fonts_yitongguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,578},{84,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,31}}</string>
                <key>sourceSize</key>
                <string>{84,31}</string>
            </dict>
            <key>v1_fonts_zh.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,493},{72,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,40}}</string>
                <key>sourceSize</key>
                <string>{72,40}</string>
            </dict>
            <key>v1_fonts_zhanm.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,536},{70,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,38}}</string>
                <key>sourceSize</key>
                <string>{70,38}</string>
            </dict>
            <key>v1_fonts_zhongchendu.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,615},{62,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,23}}</string>
                <key>sourceSize</key>
                <string>{62,23}</string>
            </dict>
            <key>v1_fonts_zizhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,615},{45,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,19}}</string>
                <key>sourceSize</key>
                <string>{45,19}</string>
            </dict>
            <key>v1_fonts_zmwg.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,228},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>v1_fonts_zy.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,228},{69,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,74}}</string>
                <key>sourceSize</key>
                <string>{69,74}</string>
            </dict>
            <key>v1_img_1st.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{78,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,74}}</string>
                <key>sourceSize</key>
                <string>{78,74}</string>
            </dict>
            <key>v1_img_bai_yx.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,536},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>v1_img_bufang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>v1_img_caiqianxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,378},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>v1_img_chaiqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>v1_img_chengxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v1_img_guowang.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v1_img_kongxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,578},{44,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,26}}</string>
                <key>sourceSize</key>
                <string>{44,26}</string>
            </dict>
            <key>v1_img_qizhiwei3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,132}}</string>
                <key>sourceSize</key>
                <string>{115,132}</string>
            </dict>
            <key>v1_img_sheng_yx.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,536},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>v1_img_taiwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v1_img_vipyishuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,536},{57,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,35}}</string>
                <key>sourceSize</key>
                <string>{57,35}</string>
            </dict>
            <key>v1_img_vipyishuzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,578},{108,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,34}}</string>
                <key>sourceSize</key>
                <string>{108,34}</string>
            </dict>
            <key>v1_img_vipyishuzi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,578},{108,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,34}}</string>
                <key>sourceSize</key>
                <string>{108,34}</string>
            </dict>
            <key>v1_img_vipyishuzi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,578},{107,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,34}}</string>
                <key>sourceSize</key>
                <string>{107,34}</string>
            </dict>
            <key>v1_img_vipyishuzi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,578},{95,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,34}}</string>
                <key>sourceSize</key>
                <string>{95,34}</string>
            </dict>
            <key>v1_img_vipyishuzi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,578},{96,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,34}}</string>
                <key>sourceSize</key>
                <string>{96,34}</string>
            </dict>
            <key>v1_img_vipyishuzi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,578},{83,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,34}}</string>
                <key>sourceSize</key>
                <string>{83,34}</string>
            </dict>
            <key>v1_img_xilian.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,578},{44,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,26}}</string>
                <key>sourceSize</key>
                <string>{44,26}</string>
            </dict>
            <key>v1_img_zhaomu.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,578},{44,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,26}}</string>
                <key>sourceSize</key>
                <string>{44,26}</string>
            </dict>
            <key>v2_fonts_ggzj.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,136},{69,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,74}}</string>
                <key>sourceSize</key>
                <string>{69,74}</string>
            </dict>
            <key>v2_fonts_gjby.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,136},{69,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,74}}</string>
                <key>sourceSize</key>
                <string>{69,74}</string>
            </dict>
            <key>v2_fonts_mjrq.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,136},{69,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,74}}</string>
                <key>sourceSize</key>
                <string>{69,74}</string>
            </dict>
            <key>v2_fonts_mrdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,136},{69,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,74}}</string>
                <key>sourceSize</key>
                <string>{69,74}</string>
            </dict>
            <key>v2_fonts_mslx.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,228},{69,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,74}}</string>
                <key>sourceSize</key>
                <string>{69,74}</string>
            </dict>
            <key>v2_fonts_qiuzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,536},{70,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,38}}</string>
                <key>sourceSize</key>
                <string>{70,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_font1.png</string>
            <key>size</key>
            <string>{1014,641}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7a97c326e4b76015e55dcdc2a75dda2$</string>
            <key>textureFileName</key>
            <string>p1_font1.png</string>
        </dict>
    </dict>
</plist>
