<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>v1_fonts_cjfb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,851},{467,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{467,35}}</string>
                <key>sourceSize</key>
                <string>{485,41}</string>
            </dict>
            <key>v1_fonts_clgf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{407,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{407,36}}</string>
                <key>sourceSize</key>
                <string>{435,46}</string>
            </dict>
            <key>v1_fonts_qtqd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,795},{418,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{418,44}}</string>
                <key>sourceSize</key>
                <string>{440,48}</string>
            </dict>
            <key>v1_fonts_wgsj.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,851},{529,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{529,41}}</string>
                <key>sourceSize</key>
                <string>{547,47}</string>
            </dict>
            <key>v1_fonts_zbtz.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,752},{409,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{409,41}}</string>
                <key>sourceSize</key>
                <string>{435,47}</string>
            </dict>
            <key>v2_btn_dianjigongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,2},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>v2_fonts_10beifanli_yueka.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,157},{343,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,39}}</string>
                <key>sourceSize</key>
                <string>{343,39}</string>
            </dict>
            <key>v2_fonts_baoji_ns.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{70,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{70,35}}</string>
                <key>sourceSize</key>
                <string>{72,41}</string>
            </dict>
            <key>v2_fonts_chijitili.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,367},{345,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,29}}</string>
                <key>sourceSize</key>
                <string>{345,29}</string>
            </dict>
            <key>v2_fonts_chongzhihonbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,118},{186,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,37}}</string>
                <key>sourceSize</key>
                <string>{186,37}</string>
            </dict>
            <key>v2_fonts_cjybs.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,118},{120,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,24}}</string>
                <key>sourceSize</key>
                <string>{120,24}</string>
            </dict>
            <key>v2_fonts_czjj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{344,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,156}}</string>
                <key>sourceSize</key>
                <string>{344,156}</string>
            </dict>
            <key>v2_fonts_fyzdbb.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,118},{142,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,24}}</string>
                <key>sourceSize</key>
                <string>{142,24}</string>
            </dict>
            <key>v2_fonts_gjjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{95,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,24}}</string>
                <key>sourceSize</key>
                <string>{95,24}</string>
            </dict>
            <key>v2_fonts_grshjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,118},{160,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{160,20}}</string>
                <key>sourceSize</key>
                <string>{168,28}</string>
            </dict>
            <key>v2_fonts_hjqefh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,525},{355,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,134}}</string>
                <key>sourceSize</key>
                <string>{355,134}</string>
            </dict>
            <key>v2_fonts_huangjinyueka.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,2},{88,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,22}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>v2_fonts_huangjinzhouka.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{88,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,22}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>v2_fonts_jiasudaojuzhouka.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,118},{132,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,21}}</string>
                <key>sourceSize</key>
                <string>{132,21}</string>
            </dict>
            <key>v2_fonts_liangcaozhouka.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{88,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,22}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>v2_fonts_mucaizhouka.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,2},{88,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,21}}</string>
                <key>sourceSize</key>
                <string>{88,21}</string>
            </dict>
            <key>v2_fonts_nianshouganpao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{197,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,29}}</string>
                <key>sourceSize</key>
                <string>{197,29}</string>
            </dict>
            <key>v2_fonts_qiriweiwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,157},{282,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,91}}</string>
                <key>sourceSize</key>
                <string>{282,91}</string>
            </dict>
            <key>v2_fonts_shengdan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,683},{400,67}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{400,67}}</string>
                <key>sourceSize</key>
                <string>{404,69}</string>
            </dict>
            <key>v2_fonts_tekuangzhouka.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{88,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,22}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>v2_fonts_tjmc.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,795},{441,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{441,54}}</string>
                <key>sourceSize</key>
                <string>{445,58}</string>
            </dict>
            <key>v2_fonts_wwfz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{344,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,115}}</string>
                <key>sourceSize</key>
                <string>{344,115}</string>
            </dict>
            <key>v2_fonts_wwfz02.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,250},{344,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,87}}</string>
                <key>sourceSize</key>
                <string>{344,87}</string>
            </dict>
            <key>v2_fonts_xunlongzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,683},{400,67}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{400,67}}</string>
                <key>sourceSize</key>
                <string>{404,69}</string>
            </dict>
            <key>v2_fonts_yinbizhouka.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,2},{88,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,22}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>v2_fonts_yjhxkj.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,525},{383,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,156}}</string>
                <key>sourceSize</key>
                <string>{383,156}</string>
            </dict>
            <key>v2_fonts_zhjjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,2},{93,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,24}}</string>
                <key>sourceSize</key>
                <string>{93,24}</string>
            </dict>
            <key>v2_fonts_zhjybs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{117,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,24}}</string>
                <key>sourceSize</key>
                <string>{117,24}</string>
            </dict>
            <key>v2_img_cheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{20,27}}</string>
                <key>sourceSize</key>
                <string>{22,29}</string>
            </dict>
            <key>v2_img_denglong.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{47,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,84}}</string>
                <key>sourceSize</key>
                <string>{47,84}</string>
            </dict>
            <key>v2_img_xianshidazhe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{585,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{585,113}}</string>
                <key>sourceSize</key>
                <string>{585,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p2_font_ac.png</string>
            <key>size</key>
            <string>{1002,1009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59d3673ce51ebb1721b3528fc0fad420$</string>
            <key>textureFileName</key>
            <string>p2_font_ac.png</string>
        </dict>
    </dict>
</plist>
