<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>v2_fonts_huodongbaozang.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{95,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,24}}</string>
                <key>sourceSize</key>
                <string>{95,24}</string>
            </dict>
            <key>v2_fonts_suijituzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{95,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,24}}</string>
                <key>sourceSize</key>
                <string>{95,24}</string>
            </dict>
            <key>v2_fonts_wanchengrenwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{227,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,69}}</string>
                <key>sourceSize</key>
                <string>{227,69}</string>
            </dict>
            <key>v2_fonts_xunbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>v2_fonts_xunfangbaozang.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{70,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,253}}</string>
                <key>sourceSize</key>
                <string>{70,253}</string>
            </dict>
            <key>v2_fonts_yizhuhe.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{70,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,25}}</string>
                <key>sourceSize</key>
                <string>{70,25}</string>
            </dict>
            <key>v2_fonts_zhuhe.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{47,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,25}}</string>
                <key>sourceSize</key>
                <string>{47,25}</string>
            </dict>
            <key>v2_img_huiguiyouli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{423,59}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{423,59}}</string>
                <key>sourceSize</key>
                <string>{443,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p2_font_ac2.png</string>
            <key>size</key>
            <string>{437,389}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:220e3fabdaea63cc79995d0dd70a6624$</string>
            <key>textureFileName</key>
            <string>p2_font_ac2.png</string>
        </dict>
    </dict>
</plist>
