<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>v1_fonts_dengji0.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1},{388,165}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{388,165}}</string>
                <key>sourceSize</key>
                <string>{412,195}</string>
            </dict>
            <key>v1_img_guojia_rizhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,217},{76,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,71}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>v1_ing_junzhenshousha.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,421},{23,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{23,88}}</string>
                <key>sourceSize</key>
                <string>{35,90}</string>
            </dict>
            <key>v1_ing_shoushajiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,512},{21,88}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{21,88}}</string>
                <key>sourceSize</key>
                <string>{35,90}</string>
            </dict>
            <key>v2_bg_guoguandig.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,263},{124,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,86}}</string>
                <key>sourceSize</key>
                <string>{124,86}</string>
            </dict>
            <key>v2_buweipohuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,309},{145,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,39}}</string>
                <key>sourceSize</key>
                <string>{145,39}</string>
            </dict>
            <key>v2_dingzihu.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,388},{88,32}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{88,32}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v2_fonts_afanggong.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,300},{260,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,89}}</string>
                <key>sourceSize</key>
                <string>{260,89}</string>
            </dict>
            <key>v2_fonts_afg.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,371},{99,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,38}}</string>
                <key>sourceSize</key>
                <string>{99,38}</string>
            </dict>
            <key>v2_fonts_bajun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,606},{42,21}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,21}}</string>
                <key>sourceSize</key>
                <string>{50,21}</string>
            </dict>
            <key>v2_fonts_benqizuiji.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,167},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>v2_fonts_changshajun.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,541},{66,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,21}}</string>
                <key>sourceSize</key>
                <string>{66,21}</string>
            </dict>
            <key>v2_fonts_changshengbaozang_cheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,478},{87,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,21}}</string>
                <key>sourceSize</key>
                <string>{87,21}</string>
            </dict>
            <key>v2_fonts_changshengbaozang_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,467},{87,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,21}}</string>
                <key>sourceSize</key>
                <string>{87,21}</string>
            </dict>
            <key>v2_fonts_changshengbaozang_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,456},{87,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,21}}</string>
                <key>sourceSize</key>
                <string>{87,21}</string>
            </dict>
            <key>v2_fonts_changshengbaozang_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,601},{87,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,21}}</string>
                <key>sourceSize</key>
                <string>{87,21}</string>
            </dict>
            <key>v2_fonts_cishupaihang.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,492},{111,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,23}}</string>
                <key>sourceSize</key>
                <string>{111,23}</string>
            </dict>
            <key>v2_fonts_dengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{388,165}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{388,165}}</string>
                <key>sourceSize</key>
                <string>{412,195}</string>
            </dict>
            <key>v2_fonts_efanggong.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,529},{66,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,21}}</string>
                <key>sourceSize</key>
                <string>{66,21}</string>
            </dict>
            <key>v2_fonts_fangshoubingli.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,497},{78,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,20}}</string>
                <key>sourceSize</key>
                <string>{78,20}</string>
            </dict>
            <key>v2_fonts_gong.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,500},{29,27}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{29,27}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>v2_fonts_guoguanzhanjiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,300},{81,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,24}}</string>
                <key>sourceSize</key>
                <string>{81,24}</string>
            </dict>
            <key>v2_fonts_handanjun.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,522},{66,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,21}}</string>
                <key>sourceSize</key>
                <string>{66,21}</string>
            </dict>
            <key>v2_fonts_hanzhongjun.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,500},{66,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,21}}</string>
                <key>sourceSize</key>
                <string>{66,21}</string>
            </dict>
            <key>v2_fonts_jieduan.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,497},{43,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,22}}</string>
                <key>sourceSize</key>
                <string>{43,22}</string>
            </dict>
            <key>v2_fonts_jinggaoBOSS.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,227},{164,81}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,81}}</string>
                <key>sourceSize</key>
                <string>{178,81}</string>
            </dict>
            <key>v2_fonts_jingongbingli.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,294},{79,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,20}}</string>
                <key>sourceSize</key>
                <string>{79,20}</string>
            </dict>
            <key>v2_fonts_jipindajiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,167},{369,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,95}}</string>
                <key>sourceSize</key>
                <string>{369,95}</string>
            </dict>
            <key>v2_fonts_jizhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,584},{44,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{44,21}}</string>
                <key>sourceSize</key>
                <string>{50,21}</string>
            </dict>
            <key>v2_fonts_jj.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,178},{68,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{68,38}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>v2_fonts_kuijijun.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,489},{66,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,21}}</string>
                <key>sourceSize</key>
                <string>{66,21}</string>
            </dict>
            <key>v2_fonts_langyajun.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,472},{66,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,21}}</string>
                <key>sourceSize</key>
                <string>{66,21}</string>
            </dict>
            <key>v2_fonts_longxijun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,540},{66,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,21}}</string>
                <key>sourceSize</key>
                <string>{66,21}</string>
            </dict>
            <key>v2_fonts_pwdchgo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,379},{278,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,76}}</string>
                <key>sourceSize</key>
                <string>{278,76}</string>
            </dict>
            <key>v2_fonts_qhchgo.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,88},{194,53}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{194,53}}</string>
                <key>sourceSize</key>
                <string>{208,53}</string>
            </dict>
            <key>v2_fonts_qhshibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,142},{175,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,47}}</string>
                <key>sourceSize</key>
                <string>{175,47}</string>
            </dict>
            <key>v2_fonts_qianwang_zzdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,456},{87,39}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{87,39}}</string>
                <key>sourceSize</key>
                <string>{89,45}</string>
            </dict>
            <key>v2_fonts_quanbuquyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,445},{88,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,21}}</string>
                <key>sourceSize</key>
                <string>{88,21}</string>
            </dict>
            <key>v2_fonts_quanminlaba.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,263},{282,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,115}}</string>
                <key>sourceSize</key>
                <string>{282,115}</string>
            </dict>
            <key>v2_fonts_shanghaipaihang.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,389},{111,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,23}}</string>
                <key>sourceSize</key>
                <string>{111,23}</string>
            </dict>
            <key>v2_fonts_shijiebosswenan.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,1},{215,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,86}}</string>
                <key>sourceSize</key>
                <string>{215,86}</string>
            </dict>
            <key>v2_fonts_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,540},{25,25}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{25,25}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>v2_fonts_taiyuanjun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,518},{66,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,21}}</string>
                <key>sourceSize</key>
                <string>{66,21}</string>
            </dict>
            <key>v2_fonts_tpxg.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,389},{128,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,40}}</string>
                <key>sourceSize</key>
                <string>{130,40}</string>
            </dict>
            <key>v2_fonts_tuijiankeji.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,346},{96,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,24}}</string>
                <key>sourceSize</key>
                <string>{96,24}</string>
            </dict>
            <key>v2_fonts_wjyl.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,410},{69,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,74}}</string>
                <key>sourceSize</key>
                <string>{69,74}</string>
            </dict>
            <key>v2_fonts_xin_chongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,88},{26,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,19}}</string>
                <key>sourceSize</key>
                <string>{26,19}</string>
            </dict>
            <key>v2_fonts_yangzhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,562},{44,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{44,21}}</string>
                <key>sourceSize</key>
                <string>{50,21}</string>
            </dict>
            <key>v2_fonts_yizhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,562},{44,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{44,21}}</string>
                <key>sourceSize</key>
                <string>{50,21}</string>
            </dict>
            <key>v2_fonts_yongzhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,472},{44,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{44,21}}</string>
                <key>sourceSize</key>
                <string>{50,21}</string>
            </dict>
            <key>v2_fonts_zhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,131},{49,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{49,46}}</string>
                <key>sourceSize</key>
                <string>{61,46}</string>
            </dict>
            <key>v2_fonts_zhenrongzhanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,431},{111,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,26}}</string>
                <key>sourceSize</key>
                <string>{111,26}</string>
            </dict>
            <key>v2_fonts_ziyuanduihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,208},{342,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,91}}</string>
                <key>sourceSize</key>
                <string>{342,91}</string>
            </dict>
            <key>v2_fonts_zmkm.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,533},{103,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,33}}</string>
                <key>sourceSize</key>
                <string>{103,33}</string>
            </dict>
            <key>v2_fonts_zuiqiangyiji.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,349},{144,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,39}}</string>
                <key>sourceSize</key>
                <string>{144,39}</string>
            </dict>
            <key>v2_fonts_zuizhongjisha.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,325},{144,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,39}}</string>
                <key>sourceSize</key>
                <string>{144,39}</string>
            </dict>
            <key>v2_imgIshibai_jzhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,683},{44,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,22}}</string>
                <key>sourceSize</key>
                <string>{44,22}</string>
            </dict>
            <key>v2_img_afghg.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,633},{92,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,102}}</string>
                <key>sourceSize</key>
                <string>{92,104}</string>
            </dict>
            <key>v2_img_afgqg.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,540},{92,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,102}}</string>
                <key>sourceSize</key>
                <string>{92,104}</string>
            </dict>
            <key>v2_img_afgxc.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,512},{92,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,102}}</string>
                <key>sourceSize</key>
                <string>{92,104}</string>
            </dict>
            <key>v2_img_dijibo.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,611},{71,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,23}}</string>
                <key>sourceSize</key>
                <string>{71,23}</string>
            </dict>
            <key>v2_img_gongshou_jzhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,167},{346,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,40}}</string>
                <key>sourceSize</key>
                <string>{346,40}</string>
            </dict>
            <key>v2_img_guojia_guanyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,233},{64,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,84}}</string>
                <key>sourceSize</key>
                <string>{64,84}</string>
            </dict>
            <key>v2_img_role_mosh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,456},{102,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{102,40}}</string>
                <key>sourceSize</key>
                <string>{130,40}</string>
            </dict>
            <key>v2_img_shengli_jzhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,566},{44,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{44,24}}</string>
                <key>sourceSize</key>
                <string>{48,26}</string>
            </dict>
            <key>v2_img_tishidianpaitou.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,142},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>v2_ing_chengxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,390},{120,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{120,40}}</string>
                <key>sourceSize</key>
                <string>{130,40}</string>
            </dict>
            <key>v2_ing_dingzihu.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,492},{112,40}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{112,40}}</string>
                <key>sourceSize</key>
                <string>{130,40}</string>
            </dict>
            <key>v2_ing_guojia.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,365},{126,136}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{126,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>v2_ing_guozhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,1},{27,129}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{27,129}}</string>
                <key>sourceSize</key>
                <string>{35,135}</string>
            </dict>
            <key>v2_ing_renwoweiwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,390},{122,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{122,40}}</string>
                <key>sourceSize</key>
                <string>{130,40}</string>
            </dict>
            <key>v2_ing_saodilei.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,470},{114,34}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{114,34}}</string>
                <key>sourceSize</key>
                <string>{130,40}</string>
            </dict>
            <key>v2_ing_taiwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,431},{116,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{116,38}}</string>
                <key>sourceSize</key>
                <string>{130,40}</string>
            </dict>
            <key>v2_ing_wanfumodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,430},{126,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{126,40}}</string>
                <key>sourceSize</key>
                <string>{130,40}</string>
            </dict>
            <key>v2_ing_woshixueba.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,501},{124,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{124,38}}</string>
                <key>sourceSize</key>
                <string>{130,40}</string>
            </dict>
            <key>v2_ing_yiguozhijun.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,431},{118,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{118,40}}</string>
                <key>sourceSize</key>
                <string>{130,40}</string>
            </dict>
            <key>v2_ing_zhanwubusheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,471},{124,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{124,40}}</string>
                <key>sourceSize</key>
                <string>{130,40}</string>
            </dict>
            <key>v2_moshl.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,496},{78,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,32},{78,32}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v2_saodilei.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,410},{88,26}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,32},{88,26}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v2_woshixueba.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,315},{96,30}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{96,30}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v3_font_paimingshangsheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,190},{171,36}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{171,36}}</string>
                <key>sourceSize</key>
                <string>{177,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p2_font2.png</string>
            <key>size</key>
            <string>{1024,728}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4234191245eb36ee1a13a3fcc820b930$</string>
            <key>textureFileName</key>
            <string>p2_font2.png</string>
        </dict>
    </dict>
</plist>
