<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>v1_img_army.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{74,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,125}}</string>
                <key>sourceSize</key>
                <string>{74,127}</string>
            </dict>
            <key>v1_img_boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,97},{122,142}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{122,142}}</string>
                <key>sourceSize</key>
                <string>{128,144}</string>
            </dict>
            <key>v1_img_boss2.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,90},{104,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{104,142}}</string>
                <key>sourceSize</key>
                <string>{128,144}</string>
            </dict>
            <key>v1_img_hong01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,106},{249,140}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,140}}</string>
                <key>sourceSize</key>
                <string>{275,140}</string>
            </dict>
            <key>v1_img_hong02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,232},{266,155}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,155}}</string>
                <key>sourceSize</key>
                <string>{296,155}</string>
            </dict>
            <key>v1_img_hong03.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,936},{716,397}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{716,397}}</string>
                <key>sourceSize</key>
                <string>{772,397}</string>
            </dict>
            <key>v1_img_hong04.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,378},{292,188}}</string>
                <key>offset</key>
                <string>{-35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{292,188}}</string>
                <key>sourceSize</key>
                <string>{376,188}</string>
            </dict>
            <key>v1_img_huang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,196},{249,140}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,140}}</string>
                <key>sourceSize</key>
                <string>{275,140}</string>
            </dict>
            <key>v1_img_huang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,230},{266,155}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,155}}</string>
                <key>sourceSize</key>
                <string>{296,155}</string>
            </dict>
            <key>v1_img_huang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,537},{716,397}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{716,397}}</string>
                <key>sourceSize</key>
                <string>{772,397}</string>
            </dict>
            <key>v1_img_huang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,377},{292,188}}</string>
                <key>offset</key>
                <string>{-35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{292,188}}</string>
                <key>sourceSize</key>
                <string>{376,188}</string>
            </dict>
            <key>v1_img_lan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{249,140}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,140}}</string>
                <key>sourceSize</key>
                <string>{275,140}</string>
            </dict>
            <key>v1_img_lan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,221},{266,155}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,155}}</string>
                <key>sourceSize</key>
                <string>{296,155}</string>
            </dict>
            <key>v1_img_lan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{716,397}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{716,397}}</string>
                <key>sourceSize</key>
                <string>{772,397}</string>
            </dict>
            <key>v1_img_lan04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,243},{292,188}}</string>
                <key>offset</key>
                <string>{-35,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{292,188}}</string>
                <key>sourceSize</key>
                <string>{376,188}</string>
            </dict>
            <key>v1_img_luanjun_lv11_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,97},{123,121}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,6},{123,121}}</string>
                <key>sourceSize</key>
                <string>{167,129}</string>
            </dict>
            <key>v1_img_luanjun_lv15_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,99},{133,123}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{133,123}}</string>
                <key>sourceSize</key>
                <string>{167,129}</string>
            </dict>
            <key>v1_img_luanjun_lv19_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,101},{163,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{163,129}}</string>
                <key>sourceSize</key>
                <string>{167,129}</string>
            </dict>
            <key>v1_img_luanjun_lv1_01a.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{63,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,21},{63,87}}</string>
                <key>sourceSize</key>
                <string>{167,129}</string>
            </dict>
            <key>v1_img_luanjun_lv1_02b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,15},{57,99}}</string>
                <key>sourceSize</key>
                <string>{167,129}</string>
            </dict>
            <key>v1_img_luanjun_lv1_03c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,2},{95,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,5},{95,119}}</string>
                <key>sourceSize</key>
                <string>{167,129}</string>
            </dict>
            <key>v1_img_luanjun_lv1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,78},{129,105}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{129,105}}</string>
                <key>sourceSize</key>
                <string>{167,129}</string>
            </dict>
            <key>v1_img_luanjun_lv3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,97},{113,111}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,11},{113,111}}</string>
                <key>sourceSize</key>
                <string>{167,129}</string>
            </dict>
            <key>v1_img_luanjun_lv5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,101},{127,129}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{127,129}}</string>
                <key>sourceSize</key>
                <string>{167,129}</string>
            </dict>
            <key>v1_img_luanjun_lv8_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,97},{121,129}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{121,129}}</string>
                <key>sourceSize</key>
                <string>{167,129}</string>
            </dict>
            <key>v1_img_lv01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1577,101},{249,140}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,140}}</string>
                <key>sourceSize</key>
                <string>{275,140}</string>
            </dict>
            <key>v1_img_lv02.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,220},{266,155}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,155}}</string>
                <key>sourceSize</key>
                <string>{296,155}</string>
            </dict>
            <key>v1_img_lv03.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,537},{716,397}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{716,397}}</string>
                <key>sourceSize</key>
                <string>{772,397}</string>
            </dict>
            <key>v1_img_lv04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{292,188}}</string>
                <key>offset</key>
                <string>{-35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{292,188}}</string>
                <key>sourceSize</key>
                <string>{376,188}</string>
            </dict>
            <key>v1_img_wanjia_hong10.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,2},{125,86}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,86}}</string>
                <key>sourceSize</key>
                <string>{133,86}</string>
            </dict>
            <key>v1_img_wanjia_hong20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,2},{165,93}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,93}}</string>
                <key>sourceSize</key>
                <string>{181,93}</string>
            </dict>
            <key>v1_img_wanjia_hong30.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,90},{175,102}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,102}}</string>
                <key>sourceSize</key>
                <string>{193,102}</string>
            </dict>
            <key>v1_img_wanjia_lan10.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{125,86}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,86}}</string>
                <key>sourceSize</key>
                <string>{133,86}</string>
            </dict>
            <key>v1_img_wanjia_lan20.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,2},{165,93}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,93}}</string>
                <key>sourceSize</key>
                <string>{181,93}</string>
            </dict>
            <key>v1_img_wanjia_lan30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{175,102}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,102}}</string>
                <key>sourceSize</key>
                <string>{193,102}</string>
            </dict>
            <key>v1_img_wanjia_lv10.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,2},{125,86}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,86}}</string>
                <key>sourceSize</key>
                <string>{133,86}</string>
            </dict>
            <key>v1_img_wanjia_lv20.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{165,93}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,93}}</string>
                <key>sourceSize</key>
                <string>{181,93}</string>
            </dict>
            <key>v1_img_wanjia_lv30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,2},{175,102}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,102}}</string>
                <key>sourceSize</key>
                <string>{193,102}</string>
            </dict>
            <key>v2_img_chu1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,2},{132,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,97}}</string>
                <key>sourceSize</key>
                <string>{132,97}</string>
            </dict>
            <key>v2_img_han2b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,2},{132,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,97}}</string>
                <key>sourceSize</key>
                <string>{132,97}</string>
            </dict>
            <key>v2_img_qing3c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,2},{132,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,97}}</string>
                <key>sourceSize</key>
                <string>{132,97}</string>
            </dict>
            <key>v2_img_qun4d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,2},{132,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,97}}</string>
                <key>sourceSize</key>
                <string>{132,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_icon6.png</string>
            <key>size</key>
            <string>{2035,1335}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd8a3db0ef3a607a489d55be17a82d90$</string>
            <key>textureFileName</key>
            <string>p1_icon6.png</string>
        </dict>
    </dict>
</plist>
