<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>v1_img_hu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,479},{310,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,174}}</string>
                <key>sourceSize</key>
                <string>{310,174}</string>
            </dict>
            <key>v1_img_hu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{363,173}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{363,173}}</string>
                <key>sourceSize</key>
                <string>{363,175}</string>
            </dict>
            <key>v1_img_mj_huang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,279},{356,198}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,198}}</string>
                <key>sourceSize</key>
                <string>{382,198}</string>
            </dict>
            <key>v1_img_shan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{305,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,152}}</string>
                <key>sourceSize</key>
                <string>{305,152}</string>
            </dict>
            <key>v1_img_shan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,2},{431,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,236}}</string>
                <key>sourceSize</key>
                <string>{431,236}</string>
            </dict>
            <key>v1_img_shan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{443,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,275}}</string>
                <key>sourceSize</key>
                <string>{443,275}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_icon7.png</string>
            <key>size</key>
            <string>{880,655}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dce402fa3e01b321718690ce09391459$</string>
            <key>textureFileName</key>
            <string>p1_icon7.png</string>
        </dict>
    </dict>
</plist>
