<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_sjdt_wwgz_tx_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,224},{20,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>sg_sjdt_wwgz_tx_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>v1_world_1_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,101},{48,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,37}}</string>
                <key>sourceSize</key>
                <string>{52,41}</string>
            </dict>
            <key>v1_world_1_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,87},{48,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,37}}</string>
                <key>sourceSize</key>
                <string>{52,41}</string>
            </dict>
            <key>v1_world_1_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,87},{48,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,37}}</string>
                <key>sourceSize</key>
                <string>{52,41}</string>
            </dict>
            <key>v1_world_1_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,62},{48,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,37}}</string>
                <key>sourceSize</key>
                <string>{52,41}</string>
            </dict>
            <key>v1_world_2_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,47},{50,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,38}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>v1_world_2_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,62},{52,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,40}}</string>
                <key>sourceSize</key>
                <string>{56,44}</string>
            </dict>
            <key>v1_world_2_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,47},{50,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,38}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>v1_world_2_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,168},{50,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,38}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>v1_world_3_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{52,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,40}}</string>
                <key>sourceSize</key>
                <string>{56,44}</string>
            </dict>
            <key>v1_world_3_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,116},{50,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,38}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>v1_world_3_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{52,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,40}}</string>
                <key>sourceSize</key>
                <string>{56,44}</string>
            </dict>
            <key>v1_world_3_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{52,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,40}}</string>
                <key>sourceSize</key>
                <string>{56,44}</string>
            </dict>
            <key>v1_world_4_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{52,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,43}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>v1_world_4_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{52,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,43}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>v1_world_4_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{52,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,43}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>v1_world_4_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,43}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>v1_world_5_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,126},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{32,28}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>v1_world_5_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,220},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{32,28}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>v1_world_5_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,32},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{32,28}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>v1_world_5_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{32,28}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>v1_world_lv10_19_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,160},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>v1_world_lv10_19_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,47},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>v1_world_lv10_19_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,47},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>v1_world_lv10_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,156},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{20,14}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>v1_world_lv10_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,47},{20,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,13}}</string>
                <key>sourceSize</key>
                <string>{20,13}</string>
            </dict>
            <key>v1_world_lv10_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,188},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{20,14}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>v1_world_lv15_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,176},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{20,14}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>v1_world_lv15_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,47},{20,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,13}}</string>
                <key>sourceSize</key>
                <string>{20,13}</string>
            </dict>
            <key>v1_world_lv15_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,164},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{20,14}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>v1_world_lv1_9_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,47},{11,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,12}}</string>
                <key>sourceSize</key>
                <string>{11,12}</string>
            </dict>
            <key>v1_world_lv1_9_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,75},{11,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,12}}</string>
                <key>sourceSize</key>
                <string>{11,12}</string>
            </dict>
            <key>v1_world_lv1_9_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,62},{11,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,12}}</string>
                <key>sourceSize</key>
                <string>{11,12}</string>
            </dict>
            <key>v1_world_lv20_30_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,222},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{15,16}</string>
            </dict>
            <key>v1_world_lv20_30_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,180},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{15,16}</string>
            </dict>
            <key>v1_world_lv20_30_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,204},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{15,16}</string>
            </dict>
            <key>v1_world_lv20_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,164},{22,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{22,16}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>v1_world_lv20_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,150},{22,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,15}}</string>
                <key>sourceSize</key>
                <string>{22,15}</string>
            </dict>
            <key>v1_world_lv20_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,158},{22,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{22,16}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>v1_world_lv25_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,140},{22,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{22,16}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>v1_world_lv25_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,150},{22,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,15}}</string>
                <key>sourceSize</key>
                <string>{22,15}</string>
            </dict>
            <key>v1_world_lv25_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,140},{22,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{22,16}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>v1_world_lv30_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,126},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>v1_world_lv30_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,140},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>v1_world_lv30_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,126},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>v1_world_lv5_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,138},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{20,14}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>v1_world_lv5_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{20,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,13}}</string>
                <key>sourceSize</key>
                <string>{20,13}</string>
            </dict>
            <key>v1_world_lv5_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,116},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{20,14}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_icon9.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:403a3a375ad088d9566d28f10117c1b3$</string>
            <key>textureFileName</key>
            <string>p1_icon9.png</string>
        </dict>
    </dict>
</plist>
