<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chengfangjun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,106},{94,96}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>chengfangjun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,106},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>chengfangjun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,106},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>chengfangjun4.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,106},{92,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>chengfangjun5.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,106},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i130000_tx.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,423},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>i200001_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,786},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>i200011_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,655},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>i200021_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,423},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>i200031_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,313},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>i200041_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,313},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>i200051_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,786},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>i200061_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,786},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>i200071_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,423},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>i200101_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,786},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>i200111_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,786},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>i200121_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,208},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>i200131_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,786},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>i200141_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,423},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>i200151_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,655},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>i200171_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,4},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i200181_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,208},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>i200191_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,423},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>i200201_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,4},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i200211_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,655},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>i200221_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,106},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i200231_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,313},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>i200241_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,536},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>i200251_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,655},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>i200261_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,208},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>i200271_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,313},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>i200281_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,4},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i200291_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,655},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>i200301_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,786},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>i200311_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,4},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i200321_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,536},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>i200331_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,536},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>i200341_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,655},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>i200351_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,536},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>i200361_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,423},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>i200371_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,313},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>i200381_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,655},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>i200391_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,208},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>i200401_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,536},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>i200411_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,313},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>i200421_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,4},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i200431_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,313},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>i200441_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>i200451_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,4},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i200461_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,536},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>i200471_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,313},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>i200481_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,208},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>i200491_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,423},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>i200501_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,106},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i200511_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,536},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>i200521_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,4},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i200531_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,536},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>i200541_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,423},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>i200551_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,423},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>i200561_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,208},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>i200571_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,655},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>i200581_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,208},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>i200591_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,4},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i200601_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,4},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i200611_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,208},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i200621_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,106},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i200631_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,208},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>i200641_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,106},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i200651_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,106},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i200661_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,313},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_icon3.jpg</string>
            <key>size</key>
            <string>{1020,925}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b06aff54b1b35364f526c36408f83c4$</string>
            <key>textureFileName</key>
            <string>p1_icon3.jpg</string>
        </dict>
    </dict>
</plist>
