<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>i141001.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,358},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{108,108}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>i141002.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{134,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{134,114}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>i141003.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,122},{120,118}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{120,118}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>i141004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{124,120}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{124,120}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>i141005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,126}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,126}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>i141006.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,242},{118,116}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{118,116}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>i141007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{118,116}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{118,116}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>i141008.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{118,130}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{118,130}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>i141009.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,240},{124,116}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{124,116}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>i141010.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,118},{124,120}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{124,120}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>i141011.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,122},{124,118}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{124,118}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_icon10.png</string>
            <key>size</key>
            <string>{512,468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9f5f2cf7553cb34fd240c5c36155a96$</string>
            <key>textureFileName</key>
            <string>p1_icon10.png</string>
        </dict>
    </dict>
</plist>
