<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>i100013.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,848},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i100014.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,847},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i100015.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,765},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i100016.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,751},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i100017.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,668},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i100018.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,668},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i100019.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,847},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i100024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,749},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i100025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,847},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i100077.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,750},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i100078.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,654},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i100079.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,571},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i100080.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,652},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i100081.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,571},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i100082.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,653},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i100083.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,555},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v1_img_bupingbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,456},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>v1_img_chaozhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,557},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v1_img_chongzhiyueka.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,446},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>v1_img_chu.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,944},{51,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,64}}</string>
                <key>sourceSize</key>
                <string>{51,64}</string>
            </dict>
            <key>v1_img_han.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,944},{51,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,64}}</string>
                <key>sourceSize</key>
                <string>{51,64}</string>
            </dict>
            <key>v1_img_jiangying.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,474},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v1_img_pingbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,355},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>v1_img_qing.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,407},{51,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,64}}</string>
                <key>sourceSize</key>
                <string>{51,64}</string>
            </dict>
            <key>v1_img_quanminfanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,474},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v1_img_qun.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,355},{51,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,64}}</string>
                <key>sourceSize</key>
                <string>{51,64}</string>
            </dict>
            <key>v1_img_shaodang.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,556},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v1_img_tiaoguozhandou.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,459},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v1_img_yueka.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,331},{142,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,150}}</string>
                <key>sourceSize</key>
                <string>{142,150}</string>
            </dict>
            <key>v1_img_zhugongchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,221},{109,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,356}}</string>
                <key>sourceSize</key>
                <string>{109,356}</string>
            </dict>
            <key>v1_img_zhugonghan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,111},{109,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,356}}</string>
                <key>sourceSize</key>
                <string>{109,356}</string>
            </dict>
            <key>v1_img_zhugongqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{109,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,356}}</string>
                <key>sourceSize</key>
                <string>{109,356}</string>
            </dict>
            <key>v1_img_zhugongzhanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,331},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
            <key>v2_img_jiasuzhouka.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,331},{159,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,114}}</string>
                <key>sourceSize</key>
                <string>{159,114}</string>
            </dict>
            <key>v2_img_mucaizhouka.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,246},{153,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,108}}</string>
                <key>sourceSize</key>
                <string>{153,108}</string>
            </dict>
            <key>v2_img_yueka.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1},{153,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,122}}</string>
                <key>sourceSize</key>
                <string>{153,122}</string>
            </dict>
            <key>v2_img_zhouka.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,124},{153,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,121}}</string>
                <key>sourceSize</key>
                <string>{153,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_icon_font.png</string>
            <key>size</key>
            <string>{512,1009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8798c9727a630e6751835aadcf21635$</string>
            <key>textureFileName</key>
            <string>p1_icon_font.png</string>
        </dict>
    </dict>
</plist>
