<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>i100170.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{86,86}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i100171.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,82},{34,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>i100175.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,588},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i100176.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,489},{92,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{92,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i100210.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,571},{90,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{90,88}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i100214.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,707},{94,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{94,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i100215.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,399},{88,92}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{88,92}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i100216.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,309},{88,92}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{88,92}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i100220.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,686},{88,80}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{88,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i100221.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,891},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{84,86}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i21.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,891},{84,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{84,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i500.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,568},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>i501.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>minwang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,609},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>mojiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,490},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v1_btn_taoguangyanghui.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{68,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{68,78}}</string>
                <key>sourceSize</key>
                <string>{82,88}</string>
            </dict>
            <key>v1_img_daguomenshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,470},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v1_img_dinglixiezhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v1_img_huogong.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,511},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v1_img_jijie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v1_img_junshigailiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,413},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v1_img_kejixingguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,217},{92,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{92,90}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v1_img_keyanrechao.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,392},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v1_img_mingjie.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,372},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v1_img_qiyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v1_img_shanshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,315},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v1_img_touxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,294},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v1_img_youxiangjianying.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v1_img_youxiangjianying02.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,217},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v1_img_youxiangjianying03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v1_img_zhenfen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v1_img_zhenyizhishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,274},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v2_bth_mingjie.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,106},{111,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{111,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>v2_img_dangqianzdzj.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,100},{114,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,94}}</string>
                <key>sourceSize</key>
                <string>{114,94}</string>
            </dict>
            <key>v2_img_dazaojiasu.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,803},{86,86}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{86,86}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v2_img_gongfangjiasu.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,749},{86,86}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{86,86}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v2_img_jianzhujiazu.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,666},{86,88}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{86,88}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v2_img_keyanjiasu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{86,88}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{86,88}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v2_img_liangcaozhouka.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,104}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{143,104}}</string>
                <key>sourceSize</key>
                <string>{153,108}</string>
            </dict>
            <key>v2_img_mubingjiasu.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,661},{88,86}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{88,86}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v2_img_tekuangzhouka.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{143,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{143,96}}</string>
                <key>sourceSize</key>
                <string>{153,108}</string>
            </dict>
            <key>v2_img_yinbizhouka.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{143,102}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{143,102}}</string>
                <key>sourceSize</key>
                <string>{153,108}</string>
            </dict>
            <key>v2_renwoweiwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,106},{90,30}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,32},{90,30}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v2_saodilei.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,100},{88,26}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,32},{88,26}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v2_wanfumodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,118},{94,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,33},{94,30}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v2_woshixueba.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,82},{96,30}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{96,30}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>v2_zhanwubusheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,180},{92,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,33},{92,30}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>youhun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,196},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_icon11.png</string>
            <key>size</key>
            <string>{507,979}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7445ae94649da4c3b52f527ed41757ed$</string>
            <key>textureFileName</key>
            <string>p1_icon11.png</string>
        </dict>
    </dict>
</plist>
