<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sg_zjm_blsqt_s_01.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>sg_zjm_blsqt_s_02.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>18</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>sg_zjm_blsqt_s_03.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>37</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>sg_zjm_blsqt_s_04.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>18</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>sg_zjm_blsqt_s_05.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>20</integer>
				<key>y</key>
				<integer>18</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>sg_zjm_blsqt_s_06.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>42</integer>
				<key>y</key>
				<integer>18</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>sg_zjm_blsqt_s_07.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>36</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>sg_zjm_blsqt_s_08.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>16</integer>
				<key>y</key>
				<integer>36</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>sg_zjm_blsqt_s_09.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>16</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>35</integer>
				<key>y</key>
				<integer>36</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>sg_zjm_blsqt_s_10.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>16</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>54</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>sg_zjm_blsqt_s_11.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>15</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>20</integer>
				<key>y</key>
				<integer>54</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>sg_zjm_blsqt_s_12.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>42</integer>
				<key>y</key>
				<integer>54</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>sg_zjm_blsqt_s_13.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>73</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>sg_blsqt_jyy_sfx_0010.png</string>
			<key>realTextureFileName</key>
			<string>sg_blsqt_jyy_sfx_0010.png</string>
			<key>size</key>
			<string>{64,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>