<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sg_ckp_8gz_tup_sa_001.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>4</integer>
				<key>originalHeight</key>
				<integer>6</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>sg_ckp_8gz_a2_02.png</key>
			<dict>
				<key>width</key>
				<integer>291</integer>
				<key>height</key>
				<integer>291</integer>
				<key>originalWidth</key>
				<integer>291</integer>
				<key>originalHeight</key>
				<integer>291</integer>
				<key>x</key>
				<integer>2</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>sg_ckp_8gz_tx_05.png</key>
			<dict>
				<key>width</key>
				<integer>205</integer>
				<key>height</key>
				<integer>204</integer>
				<key>originalWidth</key>
				<integer>205</integer>
				<key>originalHeight</key>
				<integer>204</integer>
				<key>x</key>
				<integer>294</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>sg_ckp_8gz_tx_0xx1x.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>129</integer>
				<key>originalHeight</key>
				<integer>129</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>292</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>sg_ckp_8gz_tx_06.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>4</integer>
				<key>originalHeight</key>
				<integer>6</integer>
				<key>x</key>
				<integer>130</integer>
				<key>y</key>
				<integer>292</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>sg_ckp_8gz_tx_03.png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>111</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>132</integer>
				<key>y</key>
				<integer>292</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-27.5</real>
			</dict>
			<key>sg_ckp_8gz_tx_02.png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>111</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>244</integer>
				<key>y</key>
				<integer>292</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>sg_ckp_8gz_tx_01.png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>111</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>356</integer>
				<key>y</key>
				<integer>292</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>27.5</real>
			</dict>
			<key>sg_ckp_8gz_a_014.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>468</integer>
				<key>y</key>
				<integer>292</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>sg_ckp_8gz_a_013.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>422</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>sg_ckp_8gz_a_010.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>34</integer>
				<key>y</key>
				<integer>422</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>sg_ckp_8gz_a_009.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>68</integer>
				<key>y</key>
				<integer>422</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>sg_ckp_8gz_a_006.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>103</integer>
				<key>y</key>
				<integer>422</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>sg_ckp_8gz_a_005.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>138</integer>
				<key>y</key>
				<integer>422</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>sg_ckp_8gz_a_002.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>170</integer>
				<key>y</key>
				<integer>422</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>sg_ckp_8gz_a_001.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>204</integer>
				<key>y</key>
				<integer>422</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>sg_ckp_8gz_a_016.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>238</integer>
				<key>y</key>
				<integer>422</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>sg_ckp_8gz_a_015.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>273</integer>
				<key>y</key>
				<integer>422</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>sg_ckp_8gz_a_012.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>307</integer>
				<key>y</key>
				<integer>422</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>sg_ckp_8gz_a_011.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>342</integer>
				<key>y</key>
				<integer>422</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>sg_ckp_8gz_a_008.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>376</integer>
				<key>y</key>
				<integer>422</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>sg_ckp_8gz_a_007.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>410</integer>
				<key>y</key>
				<integer>422</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>sg_ckp_8gz_a_004.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>442</integer>
				<key>y</key>
				<integer>422</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>sg_ckp_8gz_a_003.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>476</integer>
				<key>y</key>
				<integer>422</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>sg_ckp_8gz_tx_04.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>452</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>sg_ckp_8gz_a2_01.png</key>
			<dict>
				<key>width</key>
				<integer>267</integer>
				<key>height</key>
				<integer>267</integer>
				<key>originalWidth</key>
				<integer>272</integer>
				<key>originalHeight</key>
				<integer>272</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>709</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>sg_ckp_8gz_a2_03.png</key>
			<dict>
				<key>width</key>
				<integer>109</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>111</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>268</integer>
				<key>y</key>
				<integer>709</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>sg_ckp_8gz_0010.png</string>
			<key>realTextureFileName</key>
			<string>sg_ckp_8gz_0010.png</string>
			<key>size</key>
			<string>{512,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>