<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sg_jzsj_dh_1_001_04.png</key>
			<dict>
				<key>width</key>
				<integer>178</integer>
				<key>height</key>
				<integer>352</integer>
				<key>originalWidth</key>
				<integer>186</integer>
				<key>originalHeight</key>
				<integer>457</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-17.5</real>
			</dict>
			<key>sg_jzsj_dh_1_001_05.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>347</integer>
				<key>originalWidth</key>
				<integer>186</integer>
				<key>originalHeight</key>
				<integer>457</integer>
				<key>x</key>
				<integer>179</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>sg_jzsj_dh_1_001_06.png</key>
			<dict>
				<key>width</key>
				<integer>180</integer>
				<key>height</key>
				<integer>331</integer>
				<key>originalWidth</key>
				<integer>186</integer>
				<key>originalHeight</key>
				<integer>457</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>353</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>16</real>
			</dict>
			<key>sg_jzsj_dh_1_001_07.png</key>
			<dict>
				<key>width</key>
				<integer>146</integer>
				<key>height</key>
				<integer>322</integer>
				<key>originalWidth</key>
				<integer>186</integer>
				<key>originalHeight</key>
				<integer>457</integer>
				<key>x</key>
				<integer>181</integer>
				<key>y</key>
				<integer>353</integer>
				<key>offsetX</key>
				<real>-19</real>
				<key>offsetY</key>
				<real>35.5</real>
			</dict>
			<key>sg_jzsj_dh_1_001_08.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>311</integer>
				<key>originalWidth</key>
				<integer>186</integer>
				<key>originalHeight</key>
				<integer>457</integer>
				<key>x</key>
				<integer>328</integer>
				<key>y</key>
				<integer>353</integer>
				<key>offsetX</key>
				<real>-37.5</real>
				<key>offsetY</key>
				<real>54</real>
			</dict>
			<key>sg_jzsj_dh_1_001_09.png</key>
			<dict>
				<key>width</key>
				<integer>108</integer>
				<key>height</key>
				<integer>307</integer>
				<key>originalWidth</key>
				<integer>186</integer>
				<key>originalHeight</key>
				<integer>457</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>685</integer>
				<key>offsetX</key>
				<real>-38</real>
				<key>offsetY</key>
				<real>68</real>
			</dict>
			<key>sg_jzsj_dh_1_0010_10.png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>244</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>252</integer>
				<key>x</key>
				<integer>109</integer>
				<key>y</key>
				<integer>685</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>sg_jzsj_dh_1_0011.png</string>
			<key>realTextureFileName</key>
			<string>sg_jzsj_dh_1_0011.png</string>
			<key>size</key>
			<string>{512,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>