<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_bjjn_jzd_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,481},{112,107}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,52},{112,107}}</string>
                <key>sourceSize</key>
                <string>{182,185}</string>
            </dict>
            <key>sg_bjjn_jzd_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,848},{140,175}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{140,175}}</string>
                <key>sourceSize</key>
                <string>{182,185}</string>
            </dict>
            <key>sg_bjjn_jzd_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,593},{172,149}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,36},{172,149}}</string>
                <key>sourceSize</key>
                <string>{182,185}</string>
            </dict>
            <key>sg_bjjn_jzd_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,862},{180,153}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{180,153}}</string>
                <key>sourceSize</key>
                <string>{182,185}</string>
            </dict>
            <key>sg_bjjn_jzd_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,601},{182,149}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{182,149}}</string>
                <key>sourceSize</key>
                <string>{182,185}</string>
            </dict>
            <key>sg_bjjn_jzd_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,301},{180,147}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,38},{180,147}}</string>
                <key>sourceSize</key>
                <string>{182,185}</string>
            </dict>
            <key>sg_bjjn_jzd_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,0},{180,143}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,42},{180,143}}</string>
                <key>sourceSize</key>
                <string>{182,185}</string>
            </dict>
            <key>sg_bjjn_jzd_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,0},{182,145}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{182,145}}</string>
                <key>sourceSize</key>
                <string>{182,185}</string>
            </dict>
            <key>sg_bjjn_jzd_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,0},{182,129}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,48},{182,129}}</string>
                <key>sourceSize</key>
                <string>{182,185}</string>
            </dict>
            <key>sg_bjjn_jzd_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,182},{172,117}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,60},{172,117}}</string>
                <key>sourceSize</key>
                <string>{182,185}</string>
            </dict>
            <key>sg_bjjn_jzd_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,182},{172,119}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,58},{172,119}}</string>
                <key>sourceSize</key>
                <string>{182,185}</string>
            </dict>
            <key>sg_bjjn_jzd_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,481},{172,107}}</string>
                <key>offset</key>
                <string>{2,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,70},{172,107}}</string>
                <key>sourceSize</key>
                <string>{182,185}</string>
            </dict>
            <key>sg_bjjn_jzd_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,299},{172,99}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,78},{172,99}}</string>
                <key>sourceSize</key>
                <string>{182,185}</string>
            </dict>
            <key>sg_jqcha_lla_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,306},{83,296}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{83,296}}</string>
                <key>sourceSize</key>
                <string>{99,314}</string>
            </dict>
            <key>sg_jqcha_lla_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{93,306}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{93,306}}</string>
                <key>sourceSize</key>
                <string>{99,314}</string>
            </dict>
            <key>sg_jqcha_lla_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,602},{97,260}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{97,260}}</string>
                <key>sourceSize</key>
                <string>{99,314}</string>
            </dict>
            <key>sg_jqcha_lla_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,306},{95,212}}</string>
                <key>offset</key>
                <string>{-2,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,102},{95,212}}</string>
                <key>sourceSize</key>
                <string>{99,314}</string>
            </dict>
            <key>sg_jqcha_lla_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,299},{97,152}}</string>
                <key>offset</key>
                <string>{-1,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,162},{97,152}}</string>
                <key>sourceSize</key>
                <string>{99,314}</string>
            </dict>
            <key>sg_jqcha_lla_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,587},{97,144}}</string>
                <key>offset</key>
                <string>{-1,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,170},{97,144}}</string>
                <key>sourceSize</key>
                <string>{99,314}</string>
            </dict>
            <key>sg_jqcha_lla_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,588},{97,144}}</string>
                <key>offset</key>
                <string>{-1,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,170},{97,144}}</string>
                <key>sourceSize</key>
                <string>{99,314}</string>
            </dict>
            <key>sg_jqcha_lla_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,0},{95,146}}</string>
                <key>offset</key>
                <string>{-2,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,168},{95,146}}</string>
                <key>sourceSize</key>
                <string>{99,314}</string>
            </dict>
            <key>sg_jqcha_lla_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,180},{99,146}}</string>
                <key>offset</key>
                <string>{0,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,168},{99,146}}</string>
                <key>sourceSize</key>
                <string>{99,314}</string>
            </dict>
            <key>sg_jqcha_lla_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,823},{99,144}}</string>
                <key>offset</key>
                <string>{0,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,170},{99,144}}</string>
                <key>sourceSize</key>
                <string>{99,314}</string>
            </dict>
            <key>sg_jqcha_lla_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,451},{93,136}}</string>
                <key>offset</key>
                <string>{-1,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,178},{93,136}}</string>
                <key>sourceSize</key>
                <string>{99,314}</string>
            </dict>
            <key>sg_jqcha_lla_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,732},{85,130}}</string>
                <key>offset</key>
                <string>{-1,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,184},{85,130}}</string>
                <key>sourceSize</key>
                <string>{99,314}</string>
            </dict>
            <key>sg_jqcha_lla_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,518},{83,126}}</string>
                <key>offset</key>
                <string>{0,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,188},{83,126}}</string>
                <key>sourceSize</key>
                <string>{99,314}</string>
            </dict>
            <key>sg_jqcha_lla_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,783},{65,96}}</string>
                <key>offset</key>
                <string>{0,-107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,216},{65,96}}</string>
                <key>sourceSize</key>
                <string>{99,314}</string>
            </dict>
            <key>sg_jqcha_lla_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,783},{57,72}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,236},{57,72}}</string>
                <key>sourceSize</key>
                <string>{99,314}</string>
            </dict>
            <key>sg_jqcha_lla_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,765},{51,60}}</string>
                <key>offset</key>
                <string>{2,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,241},{51,60}}</string>
                <key>sourceSize</key>
                <string>{99,314}</string>
            </dict>
            <key>sg_jqcha_lla_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,765},{51,58}}</string>
                <key>offset</key>
                <string>{1,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,242},{51,58}}</string>
                <key>sourceSize</key>
                <string>{99,314}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_fight_skill_bj_001.png</string>
            <key>size</key>
            <string>{605,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:188a8c2c2f40e455fb557a5e57803270$</string>
            <key>textureFileName</key>
            <string>p1_fight_skill_bj_001.png</string>
        </dict>
    </dict>
</plist>
