<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zd_bb_s_ts_aa_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,442},{114,62}}</string>
                <key>offset</key>
                <string>{24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,2},{114,62}}</string>
                <key>sourceSize</key>
                <string>{162,64}</string>
            </dict>
            <key>zd_bb_s_ts_aa_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,371},{116,60}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{116,60}}</string>
                <key>sourceSize</key>
                <string>{166,60}</string>
            </dict>
            <key>zd_bb_s_ts_aa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,100},{126,60}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{126,60}}</string>
                <key>sourceSize</key>
                <string>{170,60}</string>
            </dict>
            <key>zd_bb_s_ts_aa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,322},{124,60}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{124,60}}</string>
                <key>sourceSize</key>
                <string>{168,60}</string>
            </dict>
            <key>zd_bb_x_ts_aa_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,402},{114,66}}</string>
                <key>offset</key>
                <string>{-23,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{114,66}}</string>
                <key>sourceSize</key>
                <string>{160,98}</string>
            </dict>
            <key>zd_bb_x_ts_aa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,305},{124,64}}</string>
                <key>offset</key>
                <string>{-20,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{124,64}}</string>
                <key>sourceSize</key>
                <string>{164,104}</string>
            </dict>
            <key>zd_bb_x_ts_aa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,278},{124,64}}</string>
                <key>offset</key>
                <string>{-19,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{124,64}}</string>
                <key>sourceSize</key>
                <string>{162,106}</string>
            </dict>
            <key>zd_bb_x_ts_aa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{124,64}}</string>
                <key>offset</key>
                <string>{-19,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{124,64}}</string>
                <key>sourceSize</key>
                <string>{162,106}</string>
            </dict>
            <key>zd_gb_s_ts_aa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,264},{126,56}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{126,56}}</string>
                <key>sourceSize</key>
                <string>{146,68}</string>
            </dict>
            <key>zd_gb_s_ts_aa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,220},{126,56}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{126,56}}</string>
                <key>sourceSize</key>
                <string>{146,68}</string>
            </dict>
            <key>zd_gb_s_ts_aa_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,206},{126,56}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{126,56}}</string>
                <key>sourceSize</key>
                <string>{146,68}</string>
            </dict>
            <key>zd_gb_s_ts_aa_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,162},{126,56}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{126,56}}</string>
                <key>sourceSize</key>
                <string>{146,68}</string>
            </dict>
            <key>zd_gb_x_ts_aa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,384},{118,56}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{118,56}}</string>
                <key>sourceSize</key>
                <string>{128,92}</string>
            </dict>
            <key>zd_gb_x_ts_aa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{118,54}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{118,54}}</string>
                <key>sourceSize</key>
                <string>{128,90}</string>
            </dict>
            <key>zd_gb_x_ts_aa_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,344},{118,56}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{118,56}}</string>
                <key>sourceSize</key>
                <string>{128,94}</string>
            </dict>
            <key>zd_gb_x_ts_aa_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,247},{118,56}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{118,56}}</string>
                <key>sourceSize</key>
                <string>{128,94}</string>
            </dict>
            <key>zd_qb_s_ts_aa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{140,92}}</string>
                <key>offset</key>
                <string>{33,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,0},{140,92}}</string>
                <key>sourceSize</key>
                <string>{206,116}</string>
            </dict>
            <key>zd_qb_s_ts_aa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{136,96}}</string>
                <key>offset</key>
                <string>{44,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,0},{136,96}}</string>
                <key>sourceSize</key>
                <string>{224,122}</string>
            </dict>
            <key>zd_qb_s_ts_aa_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{128,100}}</string>
                <key>offset</key>
                <string>{54,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,0},{128,100}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>zd_qb_s_ts_aa_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,96},{128,108}}</string>
                <key>offset</key>
                <string>{58,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,0},{128,108}}</string>
                <key>sourceSize</key>
                <string>{244,148}</string>
            </dict>
            <key>zd_qb_x_ts_aa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,80}}</string>
                <key>offset</key>
                <string>{-40,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{144,80}}</string>
                <key>sourceSize</key>
                <string>{224,108}</string>
            </dict>
            <key>zd_qb_x_ts_aa_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{130,82}}</string>
                <key>offset</key>
                <string>{-44,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{130,82}}</string>
                <key>sourceSize</key>
                <string>{218,122}</string>
            </dict>
            <key>zd_qb_x_ts_aa_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{140,80}}</string>
                <key>offset</key>
                <string>{-58,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{140,80}}</string>
                <key>sourceSize</key>
                <string>{256,132}</string>
            </dict>
            <key>zd_qb_x_ts_aa_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{124,56}}</string>
                <key>offset</key>
                <string>{-55,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{124,56}}</string>
                <key>sourceSize</key>
                <string>{234,98}</string>
            </dict>
            <key>zd_wj_s_ts_aa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,513},{75,85}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{75,85}}</string>
                <key>sourceSize</key>
                <string>{75,101}</string>
            </dict>
            <key>zd_wj_s_ts_aa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,506},{69,89}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,12},{69,89}}</string>
                <key>sourceSize</key>
                <string>{89,101}</string>
            </dict>
            <key>zd_wj_s_ts_aa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,433},{87,95}}</string>
                <key>offset</key>
                <string>{19,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,6},{87,95}}</string>
                <key>sourceSize</key>
                <string>{125,101}</string>
            </dict>
            <key>zd_wj_s_ts_aa_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,134},{107,111}}</string>
                <key>offset</key>
                <string>{29,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{107,111}}</string>
                <key>sourceSize</key>
                <string>{165,119}</string>
            </dict>
            <key>zd_wj_x_ts_aa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,470},{95,83}}</string>
                <key>offset</key>
                <string>{23,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{95,83}}</string>
                <key>sourceSize</key>
                <string>{141,99}</string>
            </dict>
            <key>zd_wj_x_ts_aa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,522},{79,65}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{79,65}}</string>
                <key>sourceSize</key>
                <string>{97,81}</string>
            </dict>
            <key>zd_wj_x_ts_aa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,522},{85,61}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{85,61}}</string>
                <key>sourceSize</key>
                <string>{97,99}</string>
            </dict>
            <key>zd_wj_x_ts_aa_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{105,63}}</string>
                <key>offset</key>
                <string>{-16,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{105,63}}</string>
                <key>sourceSize</key>
                <string>{137,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_fight_death.png</string>
            <key>size</key>
            <string>{512,590}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32d60bfe9cc537424c65335e567f7658$</string>
            <key>textureFileName</key>
            <string>p1_fight_death.png</string>
        </dict>
    </dict>
</plist>
