<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_jntx_dz_gjjn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,116},{36,246}}</string>
                <key>offset</key>
                <string>{0,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{36,246}}</string>
                <key>sourceSize</key>
                <string>{36,396}</string>
            </dict>
            <key>sg_jntx_dz_gjjn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{36,314}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{36,314}}</string>
                <key>sourceSize</key>
                <string>{36,396}</string>
            </dict>
            <key>sg_jntx_dz_gjjn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{36,360}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{36,360}}</string>
                <key>sourceSize</key>
                <string>{36,396}</string>
            </dict>
            <key>sg_jntx_dz_gjjn_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,384}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{36,384}}</string>
                <key>sourceSize</key>
                <string>{36,396}</string>
            </dict>
            <key>sg_jntx_dz_gjjn_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{36,360}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{36,360}}</string>
                <key>sourceSize</key>
                <string>{36,396}</string>
            </dict>
            <key>sg_jntx_dz_gjjn_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,40},{22,338}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,58},{22,338}}</string>
                <key>sourceSize</key>
                <string>{36,396}</string>
            </dict>
            <key>sg_jntx_dz_gjjn_x_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,154},{156,145}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{156,145}}</string>
                <key>sourceSize</key>
                <string>{188,157}</string>
            </dict>
            <key>sg_jntx_dz_gjjn_x_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,280},{150,111}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,14},{150,111}}</string>
                <key>sourceSize</key>
                <string>{188,157}</string>
            </dict>
            <key>sg_jntx_dz_gjjn_x_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{154,125}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{154,125}}</string>
                <key>sourceSize</key>
                <string>{188,157}</string>
            </dict>
            <key>sg_jntx_dz_gjjn_x_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{166,131}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{166,131}}</string>
                <key>sourceSize</key>
                <string>{188,157}</string>
            </dict>
            <key>sg_jntx_dz_gjjn_x_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,312},{152,129}}</string>
                <key>offset</key>
                <string>{13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{152,129}}</string>
                <key>sourceSize</key>
                <string>{188,157}</string>
            </dict>
            <key>sg_jntx_dz_gjjn_x_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,443},{130,123}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,7},{130,123}}</string>
                <key>sourceSize</key>
                <string>{188,157}</string>
            </dict>
            <key>sg_jntx_dz_gjjn_x_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{132,109}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{132,109}}</string>
                <key>sourceSize</key>
                <string>{188,157}</string>
            </dict>
            <key>sg_jntx_dz_gjjn_x_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,142},{136,115}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,7},{136,115}}</string>
                <key>sourceSize</key>
                <string>{188,157}</string>
            </dict>
            <key>sg_jntx_dz_gjjn_x_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{138,119}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,4},{138,119}}</string>
                <key>sourceSize</key>
                <string>{188,157}</string>
            </dict>
            <key>sg_jntx_dz_gjjn_x_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,432},{140,123}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{140,123}}</string>
                <key>sourceSize</key>
                <string>{188,157}</string>
            </dict>
            <key>sg_jntx_dz_gjjn_x_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,481},{84,99}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,5},{84,99}}</string>
                <key>sourceSize</key>
                <string>{188,157}</string>
            </dict>
            <key>sg_jntx_dz_gjjn_x_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,567},{82,99}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,5},{82,99}}</string>
                <key>sourceSize</key>
                <string>{188,157}</string>
            </dict>
            <key>sg_jntx_dz_gjjn_x_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,525},{78,99}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,5},{78,99}}</string>
                <key>sourceSize</key>
                <string>{188,157}</string>
            </dict>
            <key>sg_jntx_dz_gjjn_x_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,380},{72,99}}</string>
                <key>offset</key>
                <string>{4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,5},{72,99}}</string>
                <key>sourceSize</key>
                <string>{188,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_fight_skill_gj_001.png</string>
            <key>size</key>
            <string>{511,651}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d6382906ed6126145b2c90f565ceb37$</string>
            <key>textureFileName</key>
            <string>p1_fight_skill_gj_001.png</string>
        </dict>
    </dict>
</plist>
