<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zd_lsegh_s_wj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,378},{88,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,42}}</string>
                <key>sourceSize</key>
                <string>{88,42}</string>
            </dict>
            <key>zd_lsegh_s_wj_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,328},{88,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{88,40}}</string>
                <key>sourceSize</key>
                <string>{88,42}</string>
            </dict>
            <key>zd_lsegh_s_wj_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,442},{88,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{88,40}}</string>
                <key>sourceSize</key>
                <string>{88,42}</string>
            </dict>
            <key>zd_lsegh_s_wj_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,328},{88,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{88,38}}</string>
                <key>sourceSize</key>
                <string>{88,42}</string>
            </dict>
            <key>zd_lsegh_s_wj_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,368},{86,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{86,40}}</string>
                <key>sourceSize</key>
                <string>{88,42}</string>
            </dict>
            <key>zd_lsegh_s_wj_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,408},{86,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{86,38}}</string>
                <key>sourceSize</key>
                <string>{88,42}</string>
            </dict>
            <key>zd_lsegh_s_wj_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,430},{84,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{84,38}}</string>
                <key>sourceSize</key>
                <string>{88,42}</string>
            </dict>
            <key>zd_lsegh_s_wj_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,410},{84,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{84,38}}</string>
                <key>sourceSize</key>
                <string>{88,42}</string>
            </dict>
            <key>zd_lsegh_s_wj_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,364},{88,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{88,38}}</string>
                <key>sourceSize</key>
                <string>{88,42}</string>
            </dict>
            <key>zd_lsegh_s_wj_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,448},{86,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{86,38}}</string>
                <key>sourceSize</key>
                <string>{88,42}</string>
            </dict>
            <key>zd_lsegh_s_wj_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,326},{84,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{84,38}}</string>
                <key>sourceSize</key>
                <string>{88,42}</string>
            </dict>
            <key>zd_lsegh_s_wj_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,402},{88,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{88,40}}</string>
                <key>sourceSize</key>
                <string>{88,42}</string>
            </dict>
            <key>zd_lsegh_s_wj_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,314},{88,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{88,40}}</string>
                <key>sourceSize</key>
                <string>{88,42}</string>
            </dict>
            <key>zd_lsegh_s_wj_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,326},{88,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{88,38}}</string>
                <key>sourceSize</key>
                <string>{88,42}</string>
            </dict>
            <key>zd_lsegh_s_wj_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,462},{88,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{88,40}}</string>
                <key>sourceSize</key>
                <string>{88,42}</string>
            </dict>
            <key>zd_lsegh_s_wj_s_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,482},{66,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,29}}</string>
                <key>sourceSize</key>
                <string>{66,29}</string>
            </dict>
            <key>zd_lsegh_s_wj_s_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,332},{96,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{96,46}}</string>
                <key>sourceSize</key>
                <string>{100,48}</string>
            </dict>
            <key>zd_lsegh_x_wj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,420},{87,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,42}}</string>
                <key>sourceSize</key>
                <string>{87,42}</string>
            </dict>
            <key>zd_lsegh_x_wj_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,446},{87,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{87,40}}</string>
                <key>sourceSize</key>
                <string>{87,42}</string>
            </dict>
            <key>zd_lsegh_x_wj_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,368},{85,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{85,40}}</string>
                <key>sourceSize</key>
                <string>{87,42}</string>
            </dict>
            <key>zd_lsegh_x_wj_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,392},{85,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{85,38}}</string>
                <key>sourceSize</key>
                <string>{87,42}</string>
            </dict>
            <key>zd_lsegh_x_wj_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,328},{83,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{83,40}}</string>
                <key>sourceSize</key>
                <string>{87,42}</string>
            </dict>
            <key>zd_lsegh_x_wj_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,97},{83,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{83,38}}</string>
                <key>sourceSize</key>
                <string>{87,42}</string>
            </dict>
            <key>zd_lsegh_x_wj_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,180},{81,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{81,38}}</string>
                <key>sourceSize</key>
                <string>{87,42}</string>
            </dict>
            <key>zd_lsegh_x_wj_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,354},{81,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{81,38}}</string>
                <key>sourceSize</key>
                <string>{87,42}</string>
            </dict>
            <key>zd_lsegh_x_wj_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,354},{85,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{85,38}}</string>
                <key>sourceSize</key>
                <string>{87,42}</string>
            </dict>
            <key>zd_lsegh_x_wj_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,468},{83,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{83,38}}</string>
                <key>sourceSize</key>
                <string>{87,42}</string>
            </dict>
            <key>zd_lsegh_x_wj_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,468},{81,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{81,38}}</string>
                <key>sourceSize</key>
                <string>{87,42}</string>
            </dict>
            <key>zd_lsegh_x_wj_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,408},{85,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{85,40}}</string>
                <key>sourceSize</key>
                <string>{87,42}</string>
            </dict>
            <key>zd_lsegh_x_wj_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,406},{87,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,40}}</string>
                <key>sourceSize</key>
                <string>{87,42}</string>
            </dict>
            <key>zd_lsegh_x_wj_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,446},{85,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{85,38}}</string>
                <key>sourceSize</key>
                <string>{87,42}</string>
            </dict>
            <key>zd_lsegh_x_wj_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,366},{87,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{87,40}}</string>
                <key>sourceSize</key>
                <string>{87,42}</string>
            </dict>
            <key>zd_lsegh_x_wj_s_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,0},{64,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,28}}</string>
                <key>sourceSize</key>
                <string>{64,28}</string>
            </dict>
            <key>zd_lsegh_x_wj_s_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,0},{97,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{97,46}}</string>
                <key>sourceSize</key>
                <string>{101,50}</string>
            </dict>
            <key>zd_tx_xl_s_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,338},{95,174}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,13},{95,174}}</string>
                <key>sourceSize</key>
                <string>{137,188}</string>
            </dict>
            <key>zd_tx_xl_s_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,178},{123,176}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{123,176}}</string>
                <key>sourceSize</key>
                <string>{137,188}</string>
            </dict>
            <key>zd_tx_xl_s_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,0},{121,178}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{121,178}}</string>
                <key>sourceSize</key>
                <string>{137,188}</string>
            </dict>
            <key>zd_tx_xl_s_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{123,178}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{123,178}}</string>
                <key>sourceSize</key>
                <string>{137,188}</string>
            </dict>
            <key>zd_tx_xl_s_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,0},{125,160}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,28},{125,160}}</string>
                <key>sourceSize</key>
                <string>{137,188}</string>
            </dict>
            <key>zd_tx_xl_s_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,166},{125,166}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{125,166}}</string>
                <key>sourceSize</key>
                <string>{137,188}</string>
            </dict>
            <key>zd_tx_xl_s_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,160},{119,166}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{119,166}}</string>
                <key>sourceSize</key>
                <string>{137,188}</string>
            </dict>
            <key>zd_tx_xl_s_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,0},{107,168}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{107,168}}</string>
                <key>sourceSize</key>
                <string>{137,188}</string>
            </dict>
            <key>zd_tx_xl_s_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,162},{97,166}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{97,166}}</string>
                <key>sourceSize</key>
                <string>{137,188}</string>
            </dict>
            <key>zd_tx_xl_s_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,168},{89,158}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{89,158}}</string>
                <key>sourceSize</key>
                <string>{137,188}</string>
            </dict>
            <key>zd_tx_xl_s_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,420},{49,82}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,65},{49,82}}</string>
                <key>sourceSize</key>
                <string>{137,188}</string>
            </dict>
            <key>zd_tx_xl_s_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,97},{3,50}}</string>
                <key>offset</key>
                <string>{-20,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,66},{3,50}}</string>
                <key>sourceSize</key>
                <string>{137,188}</string>
            </dict>
            <key>zd_tx_xl_x_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,348},{95,164}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{95,164}}</string>
                <key>sourceSize</key>
                <string>{131,180}</string>
            </dict>
            <key>zd_tx_xl_x_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,170},{123,168}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{123,168}}</string>
                <key>sourceSize</key>
                <string>{131,180}</string>
            </dict>
            <key>zd_tx_xl_x_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,178},{121,170}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{121,170}}</string>
                <key>sourceSize</key>
                <string>{131,180}</string>
            </dict>
            <key>zd_tx_xl_x_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,0},{123,170}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{123,170}}</string>
                <key>sourceSize</key>
                <string>{131,180}</string>
            </dict>
            <key>zd_tx_xl_x_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,354},{125,158}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{125,158}}</string>
                <key>sourceSize</key>
                <string>{131,180}</string>
            </dict>
            <key>zd_tx_xl_x_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,0},{125,166}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{125,166}}</string>
                <key>sourceSize</key>
                <string>{131,180}</string>
            </dict>
            <key>zd_tx_xl_x_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,0},{119,162}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{119,162}}</string>
                <key>sourceSize</key>
                <string>{131,180}</string>
            </dict>
            <key>zd_tx_xl_x_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,0},{107,162}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{107,162}}</string>
                <key>sourceSize</key>
                <string>{131,180}</string>
            </dict>
            <key>zd_tx_xl_x_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,168},{97,160}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{97,160}}</string>
                <key>sourceSize</key>
                <string>{131,180}</string>
            </dict>
            <key>zd_tx_xl_x_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,162},{89,152}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{89,152}}</string>
                <key>sourceSize</key>
                <string>{131,180}</string>
            </dict>
            <key>zd_tx_xl_x_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,338},{49,82}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,59},{49,82}}</string>
                <key>sourceSize</key>
                <string>{131,180}</string>
            </dict>
            <key>zd_tx_xl_x_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,348},{3,50}}</string>
                <key>offset</key>
                <string>{-21,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,60},{3,50}}</string>
                <key>sourceSize</key>
                <string>{131,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_fight_wj_circle.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce57f6495d939d1fc31a08f8534c9de8$</string>
            <key>textureFileName</key>
            <string>p1_fight_wj_circle.png</string>
        </dict>
    </dict>
</plist>
