<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zd_bb_s_dj_aa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,74}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,74}}</string>
                <key>sourceSize</key>
                <string>{118,76}</string>
            </dict>
            <key>zd_bb_s_dj_aa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{104,74}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,74}}</string>
                <key>sourceSize</key>
                <string>{118,76}</string>
            </dict>
            <key>zd_bb_s_dj_aa_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{108,74}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,74}}</string>
                <key>sourceSize</key>
                <string>{122,74}</string>
            </dict>
            <key>zd_bb_s_dj_aa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{108,74}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,74}}</string>
                <key>sourceSize</key>
                <string>{122,74}</string>
            </dict>
            <key>zd_bb_s_dj_aa_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{108,74}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,74}}</string>
                <key>sourceSize</key>
                <string>{122,74}</string>
            </dict>
            <key>zd_bb_s_dj_aa_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{110,74}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,74}}</string>
                <key>sourceSize</key>
                <string>{122,74}</string>
            </dict>
            <key>zd_bb_s_dj_aa_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{108,74}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,74}}</string>
                <key>sourceSize</key>
                <string>{122,74}</string>
            </dict>
            <key>zd_bb_s_dj_aa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{108,74}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,74}}</string>
                <key>sourceSize</key>
                <string>{122,74}</string>
            </dict>
            <key>zd_bb_s_dj_aa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{106,74}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,74}}</string>
                <key>sourceSize</key>
                <string>{118,74}</string>
            </dict>
            <key>zd_bb_s_dj_aa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{106,74}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,74}}</string>
                <key>sourceSize</key>
                <string>{118,76}</string>
            </dict>
            <key>zd_bb_s_pb_aa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,78},{116,70}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,70}}</string>
                <key>sourceSize</key>
                <string>{126,70}</string>
            </dict>
            <key>zd_bb_s_pb_aa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,78},{114,68}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,68}}</string>
                <key>sourceSize</key>
                <string>{124,70}</string>
            </dict>
            <key>zd_bb_s_pb_aa_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,78},{114,66}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,66}}</string>
                <key>sourceSize</key>
                <string>{122,68}</string>
            </dict>
            <key>zd_bb_s_pb_aa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,78},{114,66}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,66}}</string>
                <key>sourceSize</key>
                <string>{120,68}</string>
            </dict>
            <key>zd_bb_s_pb_aa_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,78},{114,68}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,68}}</string>
                <key>sourceSize</key>
                <string>{118,70}</string>
            </dict>
            <key>zd_bb_s_pb_aa_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,78},{114,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,68}}</string>
                <key>sourceSize</key>
                <string>{114,72}</string>
            </dict>
            <key>zd_bb_s_pb_aa_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,78},{112,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,68}}</string>
                <key>sourceSize</key>
                <string>{112,70}</string>
            </dict>
            <key>zd_bb_s_pb_aa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{112,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,68}}</string>
                <key>sourceSize</key>
                <string>{112,70}</string>
            </dict>
            <key>zd_bb_s_pb_aa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,154},{110,68}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,68}}</string>
                <key>sourceSize</key>
                <string>{114,70}</string>
            </dict>
            <key>zd_bb_s_pb_aa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,154},{112,68}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,68}}</string>
                <key>sourceSize</key>
                <string>{120,72}</string>
            </dict>
            <key>zd_bb_s_pb_aa_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,154},{114,68}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,68}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>zd_bb_s_pg_aa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,154},{106,72}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,72}}</string>
                <key>sourceSize</key>
                <string>{118,74}</string>
            </dict>
            <key>zd_bb_s_pg_aa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,154},{100,78}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,78}}</string>
                <key>sourceSize</key>
                <string>{100,84}</string>
            </dict>
            <key>zd_bb_s_pg_aa_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,154},{126,76}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{126,76}}</string>
                <key>sourceSize</key>
                <string>{146,82}</string>
            </dict>
            <key>zd_bb_s_pg_aa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,154},{122,80}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{122,80}}</string>
                <key>sourceSize</key>
                <string>{138,90}</string>
            </dict>
            <key>zd_bb_s_pg_aa_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,154},{102,88}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,88}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>zd_bb_s_pg_aa_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{114,74}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{114,74}}</string>
                <key>sourceSize</key>
                <string>{136,80}</string>
            </dict>
            <key>zd_bb_s_pg_aa_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,244},{98,76}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{98,76}}</string>
                <key>sourceSize</key>
                <string>{100,86}</string>
            </dict>
            <key>zd_bb_s_pg_aa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,244},{98,76}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{98,76}}</string>
                <key>sourceSize</key>
                <string>{98,86}</string>
            </dict>
            <key>zd_bb_s_pg_aa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,244},{98,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,64}}</string>
                <key>sourceSize</key>
                <string>{98,64}</string>
            </dict>
            <key>zd_bb_s_pg_aa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,244},{100,74}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{100,74}}</string>
                <key>sourceSize</key>
                <string>{102,84}</string>
            </dict>
            <key>zd_bb_s_pg_aa_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,244},{100,76}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{100,76}}</string>
                <key>sourceSize</key>
                <string>{102,86}</string>
            </dict>
            <key>zd_bb_s_pg_aa_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,244},{100,76}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{100,76}}</string>
                <key>sourceSize</key>
                <string>{102,84}</string>
            </dict>
            <key>zd_bb_s_pg_aa_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,244},{98,76}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{98,76}}</string>
                <key>sourceSize</key>
                <string>{102,84}</string>
            </dict>
            <key>zd_bb_s_pg_aa_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,244},{100,74}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{100,74}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>zd_bb_s_pg_aa_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{102,74}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{102,74}}</string>
                <key>sourceSize</key>
                <string>{112,78}</string>
            </dict>
            <key>zd_bb_s_pg_aa_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,322},{106,70}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,70}}</string>
                <key>sourceSize</key>
                <string>{120,70}</string>
            </dict>
            <key>zd_bb_s_pg_aa_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,322},{108,72}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,72}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>zd_bb_s_pg_aa_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,322},{108,70}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,70}}</string>
                <key>sourceSize</key>
                <string>{126,70}</string>
            </dict>
            <key>zd_bb_s_pg_aa_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,322},{108,72}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,72}}</string>
                <key>sourceSize</key>
                <string>{122,74}</string>
            </dict>
            <key>zd_bb_s_qg_aa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,322},{108,72}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,72}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>zd_bb_s_qg_aa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,322},{112,72}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,72}}</string>
                <key>sourceSize</key>
                <string>{122,74}</string>
            </dict>
            <key>zd_bb_s_qg_aa_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,322},{106,84}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,84}}</string>
                <key>sourceSize</key>
                <string>{106,92}</string>
            </dict>
            <key>zd_bb_s_qg_aa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,322},{100,102}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{100,102}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>zd_bb_s_qg_aa_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{116,92}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{116,92}}</string>
                <key>sourceSize</key>
                <string>{136,108}</string>
            </dict>
            <key>zd_bb_s_qg_aa_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,426},{110,96}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{110,96}}</string>
                <key>sourceSize</key>
                <string>{122,116}</string>
            </dict>
            <key>zd_bb_s_qg_aa_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,426},{122,68}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{122,68}}</string>
                <key>sourceSize</key>
                <string>{142,86}</string>
            </dict>
            <key>zd_bb_s_qg_aa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,426},{122,68}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{122,68}}</string>
                <key>sourceSize</key>
                <string>{140,86}</string>
            </dict>
            <key>zd_bb_s_qg_aa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,426},{122,68}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{122,68}}</string>
                <key>sourceSize</key>
                <string>{138,86}</string>
            </dict>
            <key>zd_bb_s_qg_aa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,426},{124,70}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{124,70}}</string>
                <key>sourceSize</key>
                <string>{140,86}</string>
            </dict>
            <key>zd_bb_s_qg_aa_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,426},{122,68}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{122,68}}</string>
                <key>sourceSize</key>
                <string>{142,84}</string>
            </dict>
            <key>zd_bb_s_qg_aa_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,426},{120,70}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{120,70}}</string>
                <key>sourceSize</key>
                <string>{140,86}</string>
            </dict>
            <key>zd_bb_s_qg_aa_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{114,72}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{114,72}}</string>
                <key>sourceSize</key>
                <string>{132,86}</string>
            </dict>
            <key>zd_bb_s_qg_aa_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,524},{108,72}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{108,72}}</string>
                <key>sourceSize</key>
                <string>{116,84}</string>
            </dict>
            <key>zd_bb_s_qg_aa_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,524},{106,70}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{106,70}}</string>
                <key>sourceSize</key>
                <string>{110,78}</string>
            </dict>
            <key>zd_bb_s_qg_aa_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,524},{112,68}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{112,68}}</string>
                <key>sourceSize</key>
                <string>{116,74}</string>
            </dict>
            <key>zd_bb_s_qg_aa_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,524},{116,70}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{116,70}}</string>
                <key>sourceSize</key>
                <string>{122,72}</string>
            </dict>
            <key>zd_bb_s_qg_aa_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,524},{118,72}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,72}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>zd_bb_s_qg_aa_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,524},{116,72}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,72}}</string>
                <key>sourceSize</key>
                <string>{132,72}</string>
            </dict>
            <key>zd_bb_s_qg_aa_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,524},{112,74}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,74}}</string>
                <key>sourceSize</key>
                <string>{132,74}</string>
            </dict>
            <key>zd_bb_s_ts_aa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{110,74}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,74}}</string>
                <key>sourceSize</key>
                <string>{116,78}</string>
            </dict>
            <key>zd_bb_s_ts_aa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,600},{106,70}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{106,70}}</string>
                <key>sourceSize</key>
                <string>{114,70}</string>
            </dict>
            <key>zd_bb_s_ts_aa_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,600},{104,68}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{104,68}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>zd_bb_s_ts_aa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,600},{108,64}}</string>
                <key>offset</key>
                <string>{15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{108,64}}</string>
                <key>sourceSize</key>
                <string>{138,72}</string>
            </dict>
            <key>zd_bb_s_ts_aa_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,600},{106,62}}</string>
                <key>offset</key>
                <string>{19,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,8},{106,62}}</string>
                <key>sourceSize</key>
                <string>{144,70}</string>
            </dict>
            <key>zd_bb_s_ts_aa_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,600},{114,62}}</string>
                <key>offset</key>
                <string>{24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,2},{114,62}}</string>
                <key>sourceSize</key>
                <string>{162,64}</string>
            </dict>
            <key>zd_bb_s_ts_aa_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,600},{116,60}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{116,60}}</string>
                <key>sourceSize</key>
                <string>{166,60}</string>
            </dict>
            <key>zd_bb_s_ts_aa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,600},{126,60}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{126,60}}</string>
                <key>sourceSize</key>
                <string>{170,60}</string>
            </dict>
            <key>zd_bb_s_ts_aa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{124,60}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{124,60}}</string>
                <key>sourceSize</key>
                <string>{168,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p2_fight_bb_s.pvr.ccz</string>
            <key>size</key>
            <string>{1024,738}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51a50f78cfb4cc6adb9eb2a1bd743880$</string>
            <key>textureFileName</key>
            <string>p2_fight_bb_s.pvr.ccz</string>
        </dict>
    </dict>
</plist>
