<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_skill_bj_sj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{98,79}}</string>
                <key>offset</key>
                <string>{42,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,4},{98,79}}</string>
                <key>sourceSize</key>
                <string>{212,151}</string>
            </dict>
            <key>sg_skill_bj_sj_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{144,107}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,16},{144,107}}</string>
                <key>sourceSize</key>
                <string>{212,151}</string>
            </dict>
            <key>sg_skill_bj_sj_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,143},{156,113}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,17},{156,113}}</string>
                <key>sourceSize</key>
                <string>{212,151}</string>
            </dict>
            <key>sg_skill_bj_sj_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{168,125}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{168,125}}</string>
                <key>sourceSize</key>
                <string>{212,151}</string>
            </dict>
            <key>sg_skill_bj_sj_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,143}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{186,143}}</string>
                <key>sourceSize</key>
                <string>{212,151}</string>
            </dict>
            <key>sg_skill_bj_sj_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{124,137}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,1},{124,137}}</string>
                <key>sourceSize</key>
                <string>{212,151}</string>
            </dict>
            <key>sg_skill_bj_sj_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,224},{36,37}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,56},{36,37}}</string>
                <key>sourceSize</key>
                <string>{212,151}</string>
            </dict>
            <key>sg_skill_bj_sj_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,262},{34,35}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,56},{34,35}}</string>
                <key>sourceSize</key>
                <string>{212,151}</string>
            </dict>
            <key>sg_skill_bj_sj_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,298},{32,35}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,56},{32,35}}</string>
                <key>sourceSize</key>
                <string>{212,151}</string>
            </dict>
            <key>sg_skill_bj_xl_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,258},{145,124}}</string>
                <key>offset</key>
                <string>{-19,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,124}}</string>
                <key>sourceSize</key>
                <string>{183,178}</string>
            </dict>
            <key>sg_skill_bj_xl_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{139,150}}</string>
                <key>offset</key>
                <string>{-22,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{139,150}}</string>
                <key>sourceSize</key>
                <string>{183,178}</string>
            </dict>
            <key>sg_skill_bj_xl_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,129},{157,156}}</string>
                <key>offset</key>
                <string>{-11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{157,156}}</string>
                <key>sourceSize</key>
                <string>{183,178}</string>
            </dict>
            <key>sg_skill_bj_xl_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,287},{135,106}}</string>
                <key>offset</key>
                <string>{-13,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,23},{135,106}}</string>
                <key>sourceSize</key>
                <string>{183,178}</string>
            </dict>
            <key>sg_zdtx_bbsjgx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,258},{14,27}}</string>
                <key>offset</key>
                <string>{11,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,0},{14,27}}</string>
                <key>sourceSize</key>
                <string>{86,97}</string>
            </dict>
            <key>sg_zdtx_bbsjgx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,511},{62,73}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{62,73}}</string>
                <key>sourceSize</key>
                <string>{86,97}</string>
            </dict>
            <key>sg_zdtx_bbsjgx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,479},{70,79}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{70,79}}</string>
                <key>sourceSize</key>
                <string>{86,97}</string>
            </dict>
            <key>sg_zdtx_bbsjgx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{76,85}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{76,85}}</string>
                <key>sourceSize</key>
                <string>{86,97}</string>
            </dict>
            <key>sg_zdtx_bbsjgx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,384},{70,93}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{70,93}}</string>
                <key>sourceSize</key>
                <string>{86,97}</string>
            </dict>
            <key>sg_zdtx_bbsjgx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,436},{72,73}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{72,73}}</string>
                <key>sourceSize</key>
                <string>{86,97}</string>
            </dict>
            <key>sg_zdtx_gbsjgx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,384},{93,95}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{93,95}}</string>
                <key>sourceSize</key>
                <string>{99,101}</string>
            </dict>
            <key>sg_zdtx_gbsjgx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,395},{85,83}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{85,83}}</string>
                <key>sourceSize</key>
                <string>{99,101}</string>
            </dict>
            <key>sg_zdtx_gbsjgx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,480},{75,77}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{75,77}}</string>
                <key>sourceSize</key>
                <string>{99,101}</string>
            </dict>
            <key>sg_zdtx_gbsjgx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,543},{63,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{63,57}}</string>
                <key>sourceSize</key>
                <string>{99,101}</string>
            </dict>
            <key>sg_zdtx_gbsjgx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,365},{69,33}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,37},{69,33}}</string>
                <key>sourceSize</key>
                <string>{99,101}</string>
            </dict>
            <key>sg_zdtx_gbsjgx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,147},{75,37}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,34},{75,37}}</string>
                <key>sourceSize</key>
                <string>{99,101}</string>
            </dict>
            <key>sg_zdtx_qbsjgx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,456},{85,87}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{85,87}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
            <key>sg_zdtx_qbsjgx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,551},{57,55}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,15},{57,55}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
            <key>sg_zdtx_qbsjgx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,546},{59,59}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{59,59}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
            <key>sg_zdtx_qbsjgx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{65,65}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{65,65}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
            <key>sg_zdtx_qbsjgx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,479},{65,65}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{65,65}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
            <key>sg_zdtx_qbsjgx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,332},{31,35}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,28},{31,35}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
            <key>sg_zdtx_qbsjgx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,287},{29,31}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,30},{29,31}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
            <key>sg_zdtx_qbsjgx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,318},{27,29}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,32},{27,29}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p2_fight_hurt.pvr.ccz</string>
            <key>size</key>
            <string>{512,608}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23a682d71a4b4aff99a852fa9cf6bdf6$</string>
            <key>textureFileName</key>
            <string>p2_fight_hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
