<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zd_gb_x_dj_aa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,70}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{100,74}</string>
            </dict>
            <key>zd_gb_x_dj_aa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,70}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{102,74}</string>
            </dict>
            <key>zd_gb_x_dj_aa_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{92,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{92,70}}</string>
                <key>sourceSize</key>
                <string>{106,74}</string>
            </dict>
            <key>zd_gb_x_dj_aa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{92,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{92,70}}</string>
                <key>sourceSize</key>
                <string>{106,74}</string>
            </dict>
            <key>zd_gb_x_dj_aa_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{92,70}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{92,70}}</string>
                <key>sourceSize</key>
                <string>{106,72}</string>
            </dict>
            <key>zd_gb_x_dj_aa_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{92,70}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{92,70}}</string>
                <key>sourceSize</key>
                <string>{104,72}</string>
            </dict>
            <key>zd_gb_x_dj_aa_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,74},{90,70}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{100,72}</string>
            </dict>
            <key>zd_gb_x_dj_aa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,74},{88,70}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{88,70}}</string>
                <key>sourceSize</key>
                <string>{98,72}</string>
            </dict>
            <key>zd_gb_x_dj_aa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,74},{88,70}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{88,70}}</string>
                <key>sourceSize</key>
                <string>{96,72}</string>
            </dict>
            <key>zd_gb_x_dj_aa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,74},{88,70}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{88,70}}</string>
                <key>sourceSize</key>
                <string>{98,74}</string>
            </dict>
            <key>zd_gb_x_pb_aa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{100,68}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{100,68}}</string>
                <key>sourceSize</key>
                <string>{106,68}</string>
            </dict>
            <key>zd_gb_x_pb_aa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,146},{100,68}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{100,68}}</string>
                <key>sourceSize</key>
                <string>{104,68}</string>
            </dict>
            <key>zd_gb_x_pb_aa_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,146},{98,66}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{98,66}}</string>
                <key>sourceSize</key>
                <string>{102,68}</string>
            </dict>
            <key>zd_gb_x_pb_aa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,146},{98,66}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{98,66}}</string>
                <key>sourceSize</key>
                <string>{104,66}</string>
            </dict>
            <key>zd_gb_x_pb_aa_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,146},{100,68}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{100,68}}</string>
                <key>sourceSize</key>
                <string>{108,68}</string>
            </dict>
            <key>zd_gb_x_pb_aa_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{104,66}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{104,66}}</string>
                <key>sourceSize</key>
                <string>{114,68}</string>
            </dict>
            <key>zd_gb_x_pb_aa_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,216},{104,66}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{104,66}}</string>
                <key>sourceSize</key>
                <string>{116,68}</string>
            </dict>
            <key>zd_gb_x_pb_aa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,216},{104,66}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{104,66}}</string>
                <key>sourceSize</key>
                <string>{118,66}</string>
            </dict>
            <key>zd_gb_x_pb_aa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,216},{100,66}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{100,66}}</string>
                <key>sourceSize</key>
                <string>{116,68}</string>
            </dict>
            <key>zd_gb_x_pb_aa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{100,68}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{100,68}}</string>
                <key>sourceSize</key>
                <string>{112,70}</string>
            </dict>
            <key>zd_gb_x_pg_aa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,284},{90,70}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{98,74}</string>
            </dict>
            <key>zd_gb_x_pg_aa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,284},{88,70}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{88,70}}</string>
                <key>sourceSize</key>
                <string>{96,74}</string>
            </dict>
            <key>zd_gb_x_pg_aa_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,284},{102,72}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{102,72}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>zd_gb_x_pg_aa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,284},{106,74}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{106,74}}</string>
                <key>sourceSize</key>
                <string>{118,78}</string>
            </dict>
            <key>zd_gb_x_pg_aa_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{94,80}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{94,80}}</string>
                <key>sourceSize</key>
                <string>{112,94}</string>
            </dict>
            <key>zd_gb_x_pg_aa_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,360},{94,82}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{94,82}}</string>
                <key>sourceSize</key>
                <string>{102,96}</string>
            </dict>
            <key>zd_gb_x_pg_aa_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,360},{96,80}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{96,80}}</string>
                <key>sourceSize</key>
                <string>{102,90}</string>
            </dict>
            <key>zd_gb_x_pg_aa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,360},{100,74}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{100,74}}</string>
                <key>sourceSize</key>
                <string>{108,78}</string>
            </dict>
            <key>zd_gb_x_pg_aa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,360},{96,70}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{96,70}}</string>
                <key>sourceSize</key>
                <string>{108,72}</string>
            </dict>
            <key>zd_gb_x_qg_aa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{94,70}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{94,70}}</string>
                <key>sourceSize</key>
                <string>{108,72}</string>
            </dict>
            <key>zd_gb_x_qg_aa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,444},{102,68}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{102,68}}</string>
                <key>sourceSize</key>
                <string>{126,72}</string>
            </dict>
            <key>zd_gb_x_qg_aa_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,444},{102,68}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{102,68}}</string>
                <key>sourceSize</key>
                <string>{124,70}</string>
            </dict>
            <key>zd_gb_x_qg_aa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,444},{96,72}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{96,72}}</string>
                <key>sourceSize</key>
                <string>{112,72}</string>
            </dict>
            <key>zd_gb_x_qg_aa_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,444},{96,70}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{96,70}}</string>
                <key>sourceSize</key>
                <string>{112,70}</string>
            </dict>
            <key>zd_gb_x_qg_aa_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{96,72}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{96,72}}</string>
                <key>sourceSize</key>
                <string>{112,72}</string>
            </dict>
            <key>zd_gb_x_qg_aa_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,518},{96,78}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{96,78}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>zd_gb_x_qg_aa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,518},{98,74}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,74}}</string>
                <key>sourceSize</key>
                <string>{98,78}</string>
            </dict>
            <key>zd_gb_x_qg_aa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,518},{98,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,72}}</string>
                <key>sourceSize</key>
                <string>{98,72}</string>
            </dict>
            <key>zd_gb_x_qg_aa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,518},{98,68}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{98,68}}</string>
                <key>sourceSize</key>
                <string>{102,70}</string>
            </dict>
            <key>zd_gb_x_qg_aa_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{98,70}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{98,70}}</string>
                <key>sourceSize</key>
                <string>{106,70}</string>
            </dict>
            <key>zd_gb_x_qg_aa_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,598},{96,70}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{96,70}}</string>
                <key>sourceSize</key>
                <string>{106,70}</string>
            </dict>
            <key>zd_gb_x_ts_aa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,598},{96,70}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{96,70}}</string>
                <key>sourceSize</key>
                <string>{100,72}</string>
            </dict>
            <key>zd_gb_x_ts_aa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,598},{102,66}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{102,66}}</string>
                <key>sourceSize</key>
                <string>{104,76}</string>
            </dict>
            <key>zd_gb_x_ts_aa_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,598},{108,66}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{108,66}}</string>
                <key>sourceSize</key>
                <string>{112,74}</string>
            </dict>
            <key>zd_gb_x_ts_aa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{110,70}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{110,70}}</string>
                <key>sourceSize</key>
                <string>{112,78}</string>
            </dict>
            <key>zd_gb_x_ts_aa_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,670},{108,68}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{108,68}}</string>
                <key>sourceSize</key>
                <string>{108,78}</string>
            </dict>
            <key>zd_gb_x_ts_aa_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,670},{110,68}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{110,68}}</string>
                <key>sourceSize</key>
                <string>{112,80}</string>
            </dict>
            <key>zd_gb_x_ts_aa_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,670},{112,62}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{112,62}}</string>
                <key>sourceSize</key>
                <string>{116,84}</string>
            </dict>
            <key>zd_gb_x_ts_aa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{116,58}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{116,58}}</string>
                <key>sourceSize</key>
                <string>{124,88}</string>
            </dict>
            <key>zd_gb_x_ts_aa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,742},{118,56}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{118,56}}</string>
                <key>sourceSize</key>
                <string>{128,92}</string>
            </dict>
            <key>zd_gb_x_ts_aa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,742},{118,54}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{118,54}}</string>
                <key>sourceSize</key>
                <string>{128,90}</string>
            </dict>
            <key>zd_gb_x_ts_aa_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,742},{118,56}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{118,56}}</string>
                <key>sourceSize</key>
                <string>{128,94}</string>
            </dict>
            <key>zd_gb_x_ts_aa_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{118,56}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{118,56}}</string>
                <key>sourceSize</key>
                <string>{128,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p2_fight_gb_x.pvr.ccz</string>
            <key>size</key>
            <string>{512,860}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d0ca81f4f53ecbf53a2d1d5af28ce47$</string>
            <key>textureFileName</key>
            <string>p2_fight_gb_x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
