<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zd_qb_x_dj_aa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,86}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{136,86}}</string>
                <key>sourceSize</key>
                <string>{146,98}</string>
            </dict>
            <key>zd_qb_x_dj_aa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{130,84}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{130,84}}</string>
                <key>sourceSize</key>
                <string>{148,98}</string>
            </dict>
            <key>zd_qb_x_dj_aa_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{128,84}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{128,84}}</string>
                <key>sourceSize</key>
                <string>{146,96}</string>
            </dict>
            <key>zd_qb_x_dj_aa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{128,84}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{128,84}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>zd_qb_x_dj_aa_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{132,84}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{132,84}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>zd_qb_x_dj_aa_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{136,84}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{136,84}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>zd_qb_x_dj_aa_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{136,84}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{136,84}}</string>
                <key>sourceSize</key>
                <string>{146,96}</string>
            </dict>
            <key>zd_qb_x_dj_aa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{140,84}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{140,84}}</string>
                <key>sourceSize</key>
                <string>{146,98}</string>
            </dict>
            <key>zd_qb_x_dj_aa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,90},{138,84}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{138,84}}</string>
                <key>sourceSize</key>
                <string>{142,98}</string>
            </dict>
            <key>zd_qb_x_dj_aa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,90},{136,84}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{136,84}}</string>
                <key>sourceSize</key>
                <string>{140,98}</string>
            </dict>
            <key>zd_qb_x_pb_aa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,90},{138,84}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{138,84}}</string>
                <key>sourceSize</key>
                <string>{148,92}</string>
            </dict>
            <key>zd_qb_x_pb_aa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,90},{136,84}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{136,84}}</string>
                <key>sourceSize</key>
                <string>{148,94}</string>
            </dict>
            <key>zd_qb_x_pb_aa_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,90},{136,84}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{136,84}}</string>
                <key>sourceSize</key>
                <string>{150,96}</string>
            </dict>
            <key>zd_qb_x_pb_aa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,90},{142,84}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{142,84}}</string>
                <key>sourceSize</key>
                <string>{154,94}</string>
            </dict>
            <key>zd_qb_x_pb_aa_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{140,84}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{140,84}}</string>
                <key>sourceSize</key>
                <string>{152,94}</string>
            </dict>
            <key>zd_qb_x_pb_aa_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,176},{140,84}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{140,84}}</string>
                <key>sourceSize</key>
                <string>{152,94}</string>
            </dict>
            <key>zd_qb_x_pb_aa_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,176},{140,84}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{140,84}}</string>
                <key>sourceSize</key>
                <string>{154,94}</string>
            </dict>
            <key>zd_qb_x_pb_aa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,176},{142,82}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{142,82}}</string>
                <key>sourceSize</key>
                <string>{152,92}</string>
            </dict>
            <key>zd_qb_x_pb_aa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,176},{140,82}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{140,82}}</string>
                <key>sourceSize</key>
                <string>{150,92}</string>
            </dict>
            <key>zd_qb_x_pb_aa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,176},{138,84}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{138,84}}</string>
                <key>sourceSize</key>
                <string>{148,94}</string>
            </dict>
            <key>zd_qb_x_pg_aa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,176},{136,82}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{136,82}}</string>
                <key>sourceSize</key>
                <string>{150,92}</string>
            </dict>
            <key>zd_qb_x_pg_aa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{142,84}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{142,84}}</string>
                <key>sourceSize</key>
                <string>{152,94}</string>
            </dict>
            <key>zd_qb_x_pg_aa_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,262},{140,84}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{140,84}}</string>
                <key>sourceSize</key>
                <string>{152,98}</string>
            </dict>
            <key>zd_qb_x_pg_aa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,262},{134,86}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{134,86}}</string>
                <key>sourceSize</key>
                <string>{146,100}</string>
            </dict>
            <key>zd_qb_x_pg_aa_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,262},{136,82}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{136,82}}</string>
                <key>sourceSize</key>
                <string>{150,94}</string>
            </dict>
            <key>zd_qb_x_pg_aa_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,262},{142,80}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{142,80}}</string>
                <key>sourceSize</key>
                <string>{154,92}</string>
            </dict>
            <key>zd_qb_x_pg_aa_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,262},{142,80}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{142,80}}</string>
                <key>sourceSize</key>
                <string>{152,92}</string>
            </dict>
            <key>zd_qb_x_pg_aa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,262},{144,80}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{144,80}}</string>
                <key>sourceSize</key>
                <string>{154,92}</string>
            </dict>
            <key>zd_qb_x_pg_aa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{146,82}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{146,82}}</string>
                <key>sourceSize</key>
                <string>{158,94}</string>
            </dict>
            <key>zd_qb_x_pg_aa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,350},{146,82}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{146,82}}</string>
                <key>sourceSize</key>
                <string>{160,94}</string>
            </dict>
            <key>zd_qb_x_pg_aa_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,350},{146,84}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{146,84}}</string>
                <key>sourceSize</key>
                <string>{160,96}</string>
            </dict>
            <key>zd_qb_x_pg_aa_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,350},{142,84}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{142,84}}</string>
                <key>sourceSize</key>
                <string>{154,96}</string>
            </dict>
            <key>zd_qb_x_pg_aa_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,350},{138,84}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{138,84}}</string>
                <key>sourceSize</key>
                <string>{146,96}</string>
            </dict>
            <key>zd_qb_x_qg_aa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,350},{138,82}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{138,82}}</string>
                <key>sourceSize</key>
                <string>{142,92}</string>
            </dict>
            <key>zd_qb_x_qg_aa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,350},{144,82}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{144,82}}</string>
                <key>sourceSize</key>
                <string>{154,92}</string>
            </dict>
            <key>zd_qb_x_qg_aa_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{132,92}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,92}}</string>
                <key>sourceSize</key>
                <string>{136,114}</string>
            </dict>
            <key>zd_qb_x_qg_aa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,436},{126,102}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,102}}</string>
                <key>sourceSize</key>
                <string>{136,124}</string>
            </dict>
            <key>zd_qb_x_qg_aa_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,436},{128,102}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,102}}</string>
                <key>sourceSize</key>
                <string>{134,120}</string>
            </dict>
            <key>zd_qb_x_qg_aa_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,436},{124,94}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,94}}</string>
                <key>sourceSize</key>
                <string>{138,112}</string>
            </dict>
            <key>zd_qb_x_qg_aa_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,436},{134,86}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{134,86}}</string>
                <key>sourceSize</key>
                <string>{148,102}</string>
            </dict>
            <key>zd_qb_x_qg_aa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,436},{142,86}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{142,86}}</string>
                <key>sourceSize</key>
                <string>{162,96}</string>
            </dict>
            <key>zd_qb_x_qg_aa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,436},{142,90}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{142,90}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>zd_qb_x_qg_aa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{142,90}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{142,90}}</string>
                <key>sourceSize</key>
                <string>{164,102}</string>
            </dict>
            <key>zd_qb_x_qg_aa_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,540},{140,92}}</string>
                <key>offset</key>
                <string>{12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{140,92}}</string>
                <key>sourceSize</key>
                <string>{164,106}</string>
            </dict>
            <key>zd_qb_x_qg_aa_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,540},{138,86}}</string>
                <key>offset</key>
                <string>{13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{138,86}}</string>
                <key>sourceSize</key>
                <string>{164,106}</string>
            </dict>
            <key>zd_qb_x_qg_aa_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,540},{136,86}}</string>
                <key>offset</key>
                <string>{11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{136,86}}</string>
                <key>sourceSize</key>
                <string>{158,106}</string>
            </dict>
            <key>zd_qb_x_qg_aa_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,540},{132,84}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{132,84}}</string>
                <key>sourceSize</key>
                <string>{148,106}</string>
            </dict>
            <key>zd_qb_x_qg_aa_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,540},{128,86}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{128,86}}</string>
                <key>sourceSize</key>
                <string>{142,104}</string>
            </dict>
            <key>zd_qb_x_qg_aa_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,540},{126,84}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{126,84}}</string>
                <key>sourceSize</key>
                <string>{142,102}</string>
            </dict>
            <key>zd_qb_x_qg_aa_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{130,84}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{130,84}}</string>
                <key>sourceSize</key>
                <string>{148,102}</string>
            </dict>
            <key>zd_qb_x_qg_aa_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,634},{130,86}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{130,86}}</string>
                <key>sourceSize</key>
                <string>{148,102}</string>
            </dict>
            <key>zd_qb_x_qg_aa_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,634},{132,86}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{132,86}}</string>
                <key>sourceSize</key>
                <string>{146,104}</string>
            </dict>
            <key>zd_qb_x_qg_aa_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,634},{132,88}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{132,88}}</string>
                <key>sourceSize</key>
                <string>{144,104}</string>
            </dict>
            <key>zd_qb_x_qg_aa_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,634},{132,86}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{132,86}}</string>
                <key>sourceSize</key>
                <string>{142,100}</string>
            </dict>
            <key>zd_qb_x_qg_aa_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,634},{134,86}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{134,86}}</string>
                <key>sourceSize</key>
                <string>{146,100}</string>
            </dict>
            <key>zd_qb_x_qg_aa_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,634},{136,86}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{136,86}}</string>
                <key>sourceSize</key>
                <string>{150,98}</string>
            </dict>
            <key>zd_qb_x_qg_aa_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{136,86}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{136,86}}</string>
                <key>sourceSize</key>
                <string>{150,98}</string>
            </dict>
            <key>zd_qb_x_qg_aa_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,724},{138,86}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{138,86}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>zd_qb_x_ts_aa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,724},{130,84}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{130,84}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>zd_qb_x_ts_aa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,724},{130,88}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,88}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>zd_qb_x_ts_aa_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,724},{126,92}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,92}}</string>
                <key>sourceSize</key>
                <string>{132,94}</string>
            </dict>
            <key>zd_qb_x_ts_aa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,724},{128,90}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,90}}</string>
                <key>sourceSize</key>
                <string>{132,94}</string>
            </dict>
            <key>zd_qb_x_ts_aa_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,724},{132,88}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,88}}</string>
                <key>sourceSize</key>
                <string>{140,94}</string>
            </dict>
            <key>zd_qb_x_ts_aa_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{130,88}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,88}}</string>
                <key>sourceSize</key>
                <string>{144,90}</string>
            </dict>
            <key>zd_qb_x_ts_aa_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,818},{128,84}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,84}}</string>
                <key>sourceSize</key>
                <string>{146,84}</string>
            </dict>
            <key>zd_qb_x_ts_aa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,818},{138,92}}</string>
                <key>offset</key>
                <string>{-14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,92}}</string>
                <key>sourceSize</key>
                <string>{166,102}</string>
            </dict>
            <key>zd_qb_x_ts_aa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,818},{134,86}}</string>
                <key>offset</key>
                <string>{-27,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{134,86}}</string>
                <key>sourceSize</key>
                <string>{188,98}</string>
            </dict>
            <key>zd_qb_x_ts_aa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,818},{144,80}}</string>
                <key>offset</key>
                <string>{-40,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{144,80}}</string>
                <key>sourceSize</key>
                <string>{224,108}</string>
            </dict>
            <key>zd_qb_x_ts_aa_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,818},{130,82}}</string>
                <key>offset</key>
                <string>{-44,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{130,82}}</string>
                <key>sourceSize</key>
                <string>{218,122}</string>
            </dict>
            <key>zd_qb_x_ts_aa_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,818},{140,80}}</string>
                <key>offset</key>
                <string>{-58,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{140,80}}</string>
                <key>sourceSize</key>
                <string>{256,132}</string>
            </dict>
            <key>zd_qb_x_ts_aa_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{124,56}}</string>
                <key>offset</key>
                <string>{-55,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{124,56}}</string>
                <key>sourceSize</key>
                <string>{234,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p2_fight_qb_x.pvr.ccz</string>
            <key>size</key>
            <string>{1016,970}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92541ae85acb6192bbaca102b766f9bc$</string>
            <key>textureFileName</key>
            <string>p2_fight_qb_x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
