<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zd_wj_s_dj_aa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,77}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{61,77}}</string>
                <key>sourceSize</key>
                <string>{61,81}</string>
            </dict>
            <key>zd_wj_s_dj_aa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{61,79}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,79}}</string>
                <key>sourceSize</key>
                <string>{63,81}</string>
            </dict>
            <key>zd_wj_s_dj_aa_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{61,77}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{61,77}}</string>
                <key>sourceSize</key>
                <string>{63,81}</string>
            </dict>
            <key>zd_wj_s_dj_aa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{61,77}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{61,77}}</string>
                <key>sourceSize</key>
                <string>{61,81}</string>
            </dict>
            <key>zd_wj_s_dj_aa_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{59,77}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{59,77}}</string>
                <key>sourceSize</key>
                <string>{59,81}</string>
            </dict>
            <key>zd_wj_s_dj_aa_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,2},{57,75}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{57,75}}</string>
                <key>sourceSize</key>
                <string>{59,79}</string>
            </dict>
            <key>zd_wj_s_dj_aa_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{55,75}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{55,75}}</string>
                <key>sourceSize</key>
                <string>{61,79}</string>
            </dict>
            <key>zd_wj_s_dj_aa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{55,75}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{55,75}}</string>
                <key>sourceSize</key>
                <string>{61,79}</string>
            </dict>
            <key>zd_wj_s_dj_aa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{59,77}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{59,77}}</string>
                <key>sourceSize</key>
                <string>{65,81}</string>
            </dict>
            <key>zd_wj_s_dj_aa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,83},{59,79}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{59,79}}</string>
                <key>sourceSize</key>
                <string>{65,81}</string>
            </dict>
            <key>zd_wj_s_dj_aa_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,83},{61,79}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{61,79}}</string>
                <key>sourceSize</key>
                <string>{65,81}</string>
            </dict>
            <key>zd_wj_s_dj_aa_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,83},{63,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{63,79}}</string>
                <key>sourceSize</key>
                <string>{63,81}</string>
            </dict>
            <key>zd_wj_s_dj_aa_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,83},{61,77}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{61,77}}</string>
                <key>sourceSize</key>
                <string>{61,81}</string>
            </dict>
            <key>zd_wj_s_pb_aa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,83},{71,75}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{71,75}}</string>
                <key>sourceSize</key>
                <string>{73,87}</string>
            </dict>
            <key>zd_wj_s_pb_aa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,83},{69,75}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{69,75}}</string>
                <key>sourceSize</key>
                <string>{71,85}</string>
            </dict>
            <key>zd_wj_s_pb_aa_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{67,75}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{67,75}}</string>
                <key>sourceSize</key>
                <string>{67,85}</string>
            </dict>
            <key>zd_wj_s_pb_aa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,164},{65,75}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{65,75}}</string>
                <key>sourceSize</key>
                <string>{65,85}</string>
            </dict>
            <key>zd_wj_s_pb_aa_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,164},{65,77}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{65,77}}</string>
                <key>sourceSize</key>
                <string>{65,85}</string>
            </dict>
            <key>zd_wj_s_pb_aa_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,164},{63,79}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{63,79}}</string>
                <key>sourceSize</key>
                <string>{63,85}</string>
            </dict>
            <key>zd_wj_s_pb_aa_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,164},{63,81}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{63,81}}</string>
                <key>sourceSize</key>
                <string>{65,85}</string>
            </dict>
            <key>zd_wj_s_pb_aa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,164},{61,81}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{61,81}}</string>
                <key>sourceSize</key>
                <string>{65,85}</string>
            </dict>
            <key>zd_wj_s_pb_aa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,164},{63,79}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{63,79}}</string>
                <key>sourceSize</key>
                <string>{69,87}</string>
            </dict>
            <key>zd_wj_s_pb_aa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{65,79}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{65,79}}</string>
                <key>sourceSize</key>
                <string>{69,87}</string>
            </dict>
            <key>zd_wj_s_pb_aa_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,247},{71,77}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{71,77}}</string>
                <key>sourceSize</key>
                <string>{73,87}</string>
            </dict>
            <key>zd_wj_s_pg_aa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,247},{65,77}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{65,77}}</string>
                <key>sourceSize</key>
                <string>{69,81}</string>
            </dict>
            <key>zd_wj_s_pg_aa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,247},{65,77}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{65,77}}</string>
                <key>sourceSize</key>
                <string>{69,81}</string>
            </dict>
            <key>zd_wj_s_pg_aa_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,247},{61,79}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{61,79}}</string>
                <key>sourceSize</key>
                <string>{65,81}</string>
            </dict>
            <key>zd_wj_s_pg_aa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,247},{75,75}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{75,75}}</string>
                <key>sourceSize</key>
                <string>{81,83}</string>
            </dict>
            <key>zd_wj_s_pg_aa_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,247},{65,75}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{65,75}}</string>
                <key>sourceSize</key>
                <string>{69,95}</string>
            </dict>
            <key>zd_wj_s_pg_aa_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{89,77}}</string>
                <key>offset</key>
                <string>{-18,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{89,77}}</string>
                <key>sourceSize</key>
                <string>{125,87}</string>
            </dict>
            <key>zd_wj_s_pg_aa_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,328},{77,77}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{77,77}}</string>
                <key>sourceSize</key>
                <string>{107,85}</string>
            </dict>
            <key>zd_wj_s_pg_aa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,328},{77,81}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{77,81}}</string>
                <key>sourceSize</key>
                <string>{103,85}</string>
            </dict>
            <key>zd_wj_s_pg_aa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,328},{77,85}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,85}}</string>
                <key>sourceSize</key>
                <string>{95,85}</string>
            </dict>
            <key>zd_wj_s_pg_aa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,328},{77,85}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,85}}</string>
                <key>sourceSize</key>
                <string>{93,89}</string>
            </dict>
            <key>zd_wj_s_pg_aa_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,328},{77,87}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,87}}</string>
                <key>sourceSize</key>
                <string>{97,91}</string>
            </dict>
            <key>zd_wj_s_pg_aa_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{77,85}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,85}}</string>
                <key>sourceSize</key>
                <string>{93,91}</string>
            </dict>
            <key>zd_wj_s_pg_aa_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,417},{79,81}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,81}}</string>
                <key>sourceSize</key>
                <string>{97,81}</string>
            </dict>
            <key>zd_wj_s_pg_aa_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,417},{81,77}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{81,77}}</string>
                <key>sourceSize</key>
                <string>{97,81}</string>
            </dict>
            <key>zd_wj_s_pg_aa_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,417},{79,77}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{79,77}}</string>
                <key>sourceSize</key>
                <string>{93,81}</string>
            </dict>
            <key>zd_wj_s_pg_aa_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,417},{71,75}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{71,75}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>zd_wj_s_qg_aa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,417},{67,75}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{67,75}}</string>
                <key>sourceSize</key>
                <string>{71,81}</string>
            </dict>
            <key>zd_wj_s_qg_aa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{69,77}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{69,77}}</string>
                <key>sourceSize</key>
                <string>{73,81}</string>
            </dict>
            <key>zd_wj_s_qg_aa_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,504},{77,79}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{77,79}}</string>
                <key>sourceSize</key>
                <string>{101,83}</string>
            </dict>
            <key>zd_wj_s_qg_aa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,504},{75,81}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{75,81}}</string>
                <key>sourceSize</key>
                <string>{103,83}</string>
            </dict>
            <key>zd_wj_s_qg_aa_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,504},{71,81}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{71,81}}</string>
                <key>sourceSize</key>
                <string>{95,85}</string>
            </dict>
            <key>zd_wj_s_qg_aa_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,504},{67,83}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{67,83}}</string>
                <key>sourceSize</key>
                <string>{75,85}</string>
            </dict>
            <key>zd_wj_s_qg_aa_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,504},{61,85}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,85}}</string>
                <key>sourceSize</key>
                <string>{67,87}</string>
            </dict>
            <key>zd_wj_s_qg_aa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,504},{71,89}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,89}}</string>
                <key>sourceSize</key>
                <string>{95,89}</string>
            </dict>
            <key>zd_wj_s_qg_aa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,595},{65,85}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,85}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>zd_wj_s_qg_aa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,595},{63,85}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,85}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>zd_wj_s_qg_aa_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,595},{61,85}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,85}}</string>
                <key>sourceSize</key>
                <string>{83,85}</string>
            </dict>
            <key>zd_wj_s_qg_aa_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,595},{59,83}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{59,83}}</string>
                <key>sourceSize</key>
                <string>{79,85}</string>
            </dict>
            <key>zd_wj_s_qg_aa_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,595},{61,83}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{61,83}}</string>
                <key>sourceSize</key>
                <string>{79,85}</string>
            </dict>
            <key>zd_wj_s_qg_aa_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,595},{65,79}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,79}}</string>
                <key>sourceSize</key>
                <string>{75,79}</string>
            </dict>
            <key>zd_wj_s_qg_aa_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,595},{65,77}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{65,77}}</string>
                <key>sourceSize</key>
                <string>{67,81}</string>
            </dict>
            <key>zd_wj_s_ts_aa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{67,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,73}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>zd_wj_s_ts_aa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,682},{59,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{59,75}}</string>
                <key>sourceSize</key>
                <string>{61,75}</string>
            </dict>
            <key>zd_wj_s_ts_aa_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,682},{61,87}}</string>
                <key>offset</key>
                <string>{13,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{61,87}}</string>
                <key>sourceSize</key>
                <string>{87,95}</string>
            </dict>
            <key>zd_wj_s_ts_aa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,682},{73,75}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{115,75}</string>
            </dict>
            <key>zd_wj_s_ts_aa_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,682},{89,71}}</string>
                <key>offset</key>
                <string>{24,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,6},{89,71}}</string>
                <key>sourceSize</key>
                <string>{137,77}</string>
            </dict>
            <key>zd_wj_s_ts_aa_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,682},{95,57}}</string>
                <key>offset</key>
                <string>{24,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,26},{95,57}}</string>
                <key>sourceSize</key>
                <string>{143,83}</string>
            </dict>
            <key>zd_wj_s_ts_aa_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,771},{103,53}}</string>
                <key>offset</key>
                <string>{17,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,36},{103,53}}</string>
                <key>sourceSize</key>
                <string>{137,89}</string>
            </dict>
            <key>zd_wj_s_ts_aa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,771},{103,59}}</string>
                <key>offset</key>
                <string>{17,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,40},{103,59}}</string>
                <key>sourceSize</key>
                <string>{137,99}</string>
            </dict>
            <key>zd_wj_s_ts_aa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,771},{135,47}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,44},{135,47}}</string>
                <key>sourceSize</key>
                <string>{137,91}</string>
            </dict>
            <key>zd_wj_s_ts_aa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,771},{137,41}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{137,41}}</string>
                <key>sourceSize</key>
                <string>{137,91}</string>
            </dict>
            <key>zd_wj_s_ts_aa_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{137,43}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{137,43}}</string>
                <key>sourceSize</key>
                <string>{137,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p2_fight_wj_s.pvr.ccz</string>
            <key>size</key>
            <string>{507,877}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca6c0f731e5f2c041fe2355b1ed9e76f$</string>
            <key>textureFileName</key>
            <string>p2_fight_wj_s.pvr.ccz</string>
        </dict>
    </dict>
</plist>
