<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zd_wj_x_dj_aa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,69}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{61,69}}</string>
                <key>sourceSize</key>
                <string>{67,75}</string>
            </dict>
            <key>zd_wj_x_dj_aa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{63,69}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{63,69}}</string>
                <key>sourceSize</key>
                <string>{69,77}</string>
            </dict>
            <key>zd_wj_x_dj_aa_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{63,73}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{63,73}}</string>
                <key>sourceSize</key>
                <string>{71,83}</string>
            </dict>
            <key>zd_wj_x_dj_aa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{63,71}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{63,71}}</string>
                <key>sourceSize</key>
                <string>{69,81}</string>
            </dict>
            <key>zd_wj_x_dj_aa_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{61,71}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{61,71}}</string>
                <key>sourceSize</key>
                <string>{65,79}</string>
            </dict>
            <key>zd_wj_x_dj_aa_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{59,71}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{59,71}}</string>
                <key>sourceSize</key>
                <string>{61,79}</string>
            </dict>
            <key>zd_wj_x_dj_aa_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{55,73}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{55,73}}</string>
                <key>sourceSize</key>
                <string>{55,81}</string>
            </dict>
            <key>zd_wj_x_dj_aa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,2},{55,75}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{55,75}}</string>
                <key>sourceSize</key>
                <string>{57,83}</string>
            </dict>
            <key>zd_wj_x_dj_aa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{59,75}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{59,75}}</string>
                <key>sourceSize</key>
                <string>{59,83}</string>
            </dict>
            <key>zd_wj_x_dj_aa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,79},{59,75}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{59,75}}</string>
                <key>sourceSize</key>
                <string>{59,83}</string>
            </dict>
            <key>zd_wj_x_dj_aa_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,79},{63,73}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{63,73}}</string>
                <key>sourceSize</key>
                <string>{67,79}</string>
            </dict>
            <key>zd_wj_x_dj_aa_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,79},{61,71}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{61,71}}</string>
                <key>sourceSize</key>
                <string>{67,75}</string>
            </dict>
            <key>zd_wj_x_dj_aa_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,79},{63,69}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{63,69}}</string>
                <key>sourceSize</key>
                <string>{69,75}</string>
            </dict>
            <key>zd_wj_x_pb_aa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,79},{73,77}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{73,77}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>zd_wj_x_pb_aa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,79},{71,77}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{71,77}}</string>
                <key>sourceSize</key>
                <string>{79,81}</string>
            </dict>
            <key>zd_wj_x_pb_aa_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{69,77}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{69,77}}</string>
                <key>sourceSize</key>
                <string>{75,79}</string>
            </dict>
            <key>zd_wj_x_pb_aa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,158},{67,79}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,79}}</string>
                <key>sourceSize</key>
                <string>{71,79}</string>
            </dict>
            <key>zd_wj_x_pb_aa_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,158},{67,79}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,79}}</string>
                <key>sourceSize</key>
                <string>{69,83}</string>
            </dict>
            <key>zd_wj_x_pb_aa_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,158},{67,81}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,81}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>zd_wj_x_pb_aa_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,158},{67,83}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,83}}</string>
                <key>sourceSize</key>
                <string>{71,89}</string>
            </dict>
            <key>zd_wj_x_pb_aa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,158},{63,81}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,81}}</string>
                <key>sourceSize</key>
                <string>{63,85}</string>
            </dict>
            <key>zd_wj_x_pb_aa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,158},{65,79}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{65,79}}</string>
                <key>sourceSize</key>
                <string>{67,83}</string>
            </dict>
            <key>zd_wj_x_pb_aa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{69,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,77}}</string>
                <key>sourceSize</key>
                <string>{69,77}</string>
            </dict>
            <key>zd_wj_x_pb_aa_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,243},{71,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{71,77}}</string>
                <key>sourceSize</key>
                <string>{71,79}</string>
            </dict>
            <key>zd_wj_x_pg_aa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,243},{65,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,73}}</string>
                <key>sourceSize</key>
                <string>{67,73}</string>
            </dict>
            <key>zd_wj_x_pg_aa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,243},{67,87}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,87}}</string>
                <key>sourceSize</key>
                <string>{69,101}</string>
            </dict>
            <key>zd_wj_x_pg_aa_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,243},{63,97}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,97}}</string>
                <key>sourceSize</key>
                <string>{67,121}</string>
            </dict>
            <key>zd_wj_x_pg_aa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,243},{75,71}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,71}}</string>
                <key>sourceSize</key>
                <string>{87,73}</string>
            </dict>
            <key>zd_wj_x_pg_aa_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,243},{65,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,75}}</string>
                <key>sourceSize</key>
                <string>{67,75}</string>
            </dict>
            <key>zd_wj_x_pg_aa_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{87,65}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{87,65}}</string>
                <key>sourceSize</key>
                <string>{119,73}</string>
            </dict>
            <key>zd_wj_x_pg_aa_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,342},{77,71}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{77,71}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>zd_wj_x_pg_aa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,342},{77,73}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{77,73}}</string>
                <key>sourceSize</key>
                <string>{95,85}</string>
            </dict>
            <key>zd_wj_x_pg_aa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,342},{77,75}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{77,75}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>zd_wj_x_pg_aa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,342},{77,77}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{77,77}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>zd_wj_x_pg_aa_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,342},{79,79}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{79,79}}</string>
                <key>sourceSize</key>
                <string>{91,85}</string>
            </dict>
            <key>zd_wj_x_pg_aa_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{77,79}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{77,79}}</string>
                <key>sourceSize</key>
                <string>{87,83}</string>
            </dict>
            <key>zd_wj_x_pg_aa_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,423},{81,79}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{81,79}}</string>
                <key>sourceSize</key>
                <string>{91,83}</string>
            </dict>
            <key>zd_wj_x_pg_aa_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,423},{81,79}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{81,79}}</string>
                <key>sourceSize</key>
                <string>{91,81}</string>
            </dict>
            <key>zd_wj_x_pg_aa_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,423},{79,79}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{87,79}</string>
            </dict>
            <key>zd_wj_x_pg_aa_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,423},{73,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>zd_wj_x_qg_aa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,423},{67,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,75}}</string>
                <key>sourceSize</key>
                <string>{69,75}</string>
            </dict>
            <key>zd_wj_x_qg_aa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{69,79}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,79}}</string>
                <key>sourceSize</key>
                <string>{77,79}</string>
            </dict>
            <key>zd_wj_x_qg_aa_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,504},{77,85}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,85}}</string>
                <key>sourceSize</key>
                <string>{107,89}</string>
            </dict>
            <key>zd_wj_x_qg_aa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,504},{77,91}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,91}}</string>
                <key>sourceSize</key>
                <string>{109,91}</string>
            </dict>
            <key>zd_wj_x_qg_aa_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,504},{73,93}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,93}}</string>
                <key>sourceSize</key>
                <string>{103,95}</string>
            </dict>
            <key>zd_wj_x_qg_aa_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,504},{69,91}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,91}}</string>
                <key>sourceSize</key>
                <string>{81,93}</string>
            </dict>
            <key>zd_wj_x_qg_aa_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,504},{63,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,91}}</string>
                <key>sourceSize</key>
                <string>{63,91}</string>
            </dict>
            <key>zd_wj_x_qg_aa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{71,81}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{71,81}}</string>
                <key>sourceSize</key>
                <string>{91,85}</string>
            </dict>
            <key>zd_wj_x_qg_aa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,599},{65,87}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{65,87}}</string>
                <key>sourceSize</key>
                <string>{83,87}</string>
            </dict>
            <key>zd_wj_x_qg_aa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,599},{65,89}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{83,89}</string>
            </dict>
            <key>zd_wj_x_qg_aa_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,599},{61,91}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{79,91}</string>
            </dict>
            <key>zd_wj_x_qg_aa_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,599},{61,95}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{61,95}}</string>
                <key>sourceSize</key>
                <string>{75,95}</string>
            </dict>
            <key>zd_wj_x_qg_aa_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,599},{61,93}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{61,93}}</string>
                <key>sourceSize</key>
                <string>{75,93}</string>
            </dict>
            <key>zd_wj_x_qg_aa_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,599},{65,83}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{65,83}}</string>
                <key>sourceSize</key>
                <string>{71,83}</string>
            </dict>
            <key>zd_wj_x_qg_aa_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{65,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,73}}</string>
                <key>sourceSize</key>
                <string>{67,73}</string>
            </dict>
            <key>zd_wj_x_ts_aa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,696},{69,73}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{69,73}}</string>
                <key>sourceSize</key>
                <string>{73,79}</string>
            </dict>
            <key>zd_wj_x_ts_aa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,696},{59,79}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{59,79}}</string>
                <key>sourceSize</key>
                <string>{69,91}</string>
            </dict>
            <key>zd_wj_x_ts_aa_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,696},{61,89}}</string>
                <key>offset</key>
                <string>{-17,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{61,89}}</string>
                <key>sourceSize</key>
                <string>{95,109}</string>
            </dict>
            <key>zd_wj_x_ts_aa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,696},{73,91}}</string>
                <key>offset</key>
                <string>{-24,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{73,91}}</string>
                <key>sourceSize</key>
                <string>{121,107}</string>
            </dict>
            <key>zd_wj_x_ts_aa_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,696},{91,89}}</string>
                <key>offset</key>
                <string>{-27,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{91,89}}</string>
                <key>sourceSize</key>
                <string>{145,95}</string>
            </dict>
            <key>zd_wj_x_ts_aa_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,789},{97,79}}</string>
                <key>offset</key>
                <string>{-26,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{97,79}}</string>
                <key>sourceSize</key>
                <string>{149,93}</string>
            </dict>
            <key>zd_wj_x_ts_aa_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,789},{105,61}}</string>
                <key>offset</key>
                <string>{-20,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{105,61}}</string>
                <key>sourceSize</key>
                <string>{145,101}</string>
            </dict>
            <key>zd_wj_x_ts_aa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,789},{105,71}}</string>
                <key>offset</key>
                <string>{-20,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{105,71}}</string>
                <key>sourceSize</key>
                <string>{145,99}</string>
            </dict>
            <key>zd_wj_x_ts_aa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,789},{137,49}}</string>
                <key>offset</key>
                <string>{-4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{137,49}}</string>
                <key>sourceSize</key>
                <string>{145,97}</string>
            </dict>
            <key>zd_wj_x_ts_aa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{141,41}}</string>
                <key>offset</key>
                <string>{-2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{141,41}}</string>
                <key>sourceSize</key>
                <string>{145,97}</string>
            </dict>
            <key>zd_wj_x_ts_aa_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,870},{139,39}}</string>
                <key>offset</key>
                <string>{-3,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{139,39}}</string>
                <key>sourceSize</key>
                <string>{145,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p2_fight_wj_x.pvr.ccz</string>
            <key>size</key>
            <string>{498,913}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b86b786a3a7ab5b8ed86ae353543f21$</string>
            <key>textureFileName</key>
            <string>p2_fight_wj_x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
