<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sj_boss_s_dj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1654},{212,300}}</string>
                <key>offset</key>
                <string>{12,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,27},{212,300}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_dj_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1346},{218,298}}</string>
                <key>offset</key>
                <string>{15,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,30},{218,298}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_dj_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,328},{224,302}}</string>
                <key>offset</key>
                <string>{18,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,26},{224,302}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_dj_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1366},{226,316}}</string>
                <key>offset</key>
                <string>{21,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,13},{226,316}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_dj_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,366},{230,326}}</string>
                <key>offset</key>
                <string>{23,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,4},{230,326}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_dj_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{220,330}}</string>
                <key>offset</key>
                <string>{19,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,0},{220,330}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_dj_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{212,332}}</string>
                <key>offset</key>
                <string>{16,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,0},{212,332}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_dj_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{216,332}}</string>
                <key>offset</key>
                <string>{18,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,0},{216,332}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_dj_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,700},{200,328}}</string>
                <key>offset</key>
                <string>{11,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,0},{200,328}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_dj_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1226},{202,294}}</string>
                <key>offset</key>
                <string>{11,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,33},{202,294}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_dj_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,298},{208,294}}</string>
                <key>offset</key>
                <string>{13,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,32},{208,294}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_dj_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,600},{208,294}}</string>
                <key>offset</key>
                <string>{11,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,32},{208,294}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_pg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1522},{200,294}}</string>
                <key>offset</key>
                <string>{7,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,30},{200,294}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_pg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,896},{218,290}}</string>
                <key>offset</key>
                <string>{-6,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,30},{218,290}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_pg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1008},{192,298}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,17},{192,298}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_pg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,694},{218,312}}</string>
                <key>offset</key>
                <string>{-9,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,2},{218,312}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_pg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,292},{182,286}}</string>
                <key>offset</key>
                <string>{-49,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,44},{182,286}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_pg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,1420},{214,258}}</string>
                <key>offset</key>
                <string>{-57,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,70},{214,258}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_pg_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,2},{252,258}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,72},{252,258}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_pg_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,566},{254,262}}</string>
                <key>offset</key>
                <string>{-23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,70},{254,262}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_pg_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,274},{258,254}}</string>
                <key>offset</key>
                <string>{-35,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,79},{258,254}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_pg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,1130},{206,258}}</string>
                <key>offset</key>
                <string>{-57,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,74},{206,258}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_pg_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{134,324}}</string>
                <key>offset</key>
                <string>{-27,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,7},{134,324}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_pg_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,2},{194,288}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,39},{194,288}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_qg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,632},{214,296}}</string>
                <key>offset</key>
                <string>{11,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,28},{214,296}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_qg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{246,300}}</string>
                <key>offset</key>
                <string>{5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,21},{246,300}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_qg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1346},{254,306}}</string>
                <key>offset</key>
                <string>{8,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,9},{254,306}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_qg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,1756},{196,288}}</string>
                <key>offset</key>
                <string>{24,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,8},{196,288}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_qg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,288},{188,276}}</string>
                <key>offset</key>
                <string>{36,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,8},{188,276}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_qg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,580},{236,284}}</string>
                <key>offset</key>
                <string>{-30,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,82},{236,284}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_qg_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1818},{228,266}}</string>
                <key>offset</key>
                <string>{-34,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,101},{228,266}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_qg_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,1150},{230,268}}</string>
                <key>offset</key>
                <string>{-33,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,103},{230,268}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_qg_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,1770},{222,276}}</string>
                <key>offset</key>
                <string>{-37,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,93},{222,276}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_qg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1226},{214,292}}</string>
                <key>offset</key>
                <string>{-40,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,72},{214,292}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_qg_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1684},{210,310}}</string>
                <key>offset</key>
                <string>{-38,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,48},{210,310}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_qg_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1684},{212,308}}</string>
                <key>offset</key>
                <string>{-33,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,36},{212,308}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_qg_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,860},{216,268}}</string>
                <key>offset</key>
                <string>{-26,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,62},{216,268}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_qg_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1480},{216,288}}</string>
                <key>offset</key>
                <string>{-14,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,39},{216,288}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_ts_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,1466},{204,288}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,43},{204,288}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_ts_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,1814},{232,286}}</string>
                <key>offset</key>
                <string>{9,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,45},{232,286}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_ts_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,866},{214,282}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,49},{214,282}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_ts_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,292},{200,284}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,47},{200,284}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_ts_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,1176},{212,288}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,42},{212,288}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_ts_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,578},{216,280}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,51},{216,280}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_ts_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,2},{196,284}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,46},{196,284}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_ts_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,1188},{196,290}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,40},{196,290}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_ts_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,886},{246,288}}</string>
                <key>offset</key>
                <string>{25,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,42},{246,288}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_ts_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{328,362}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{328,362}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_ts_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1030},{314,284}}</string>
                <key>offset</key>
                <string>{-7,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,100},{314,284}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_ts_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,304},{288,294}}</string>
                <key>offset</key>
                <string>{6,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,103},{288,294}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_ts_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1646},{294,226}}</string>
                <key>offset</key>
                <string>{3,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,172},{294,226}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_ts_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{294,230}}</string>
                <key>offset</key>
                <string>{3,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,172},{294,230}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_ts_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{294,228}}</string>
                <key>offset</key>
                <string>{3,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,173},{294,228}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_ts_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,930},{294,222}}</string>
                <key>offset</key>
                <string>{3,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,180},{294,222}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_ts_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,1520},{292,212}}</string>
                <key>offset</key>
                <string>{4,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,187},{292,212}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_ts_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,594},{290,202}}</string>
                <key>offset</key>
                <string>{3,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,186},{290,202}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_ts_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,2},{270,208}}</string>
                <key>offset</key>
                <string>{-7,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,180},{270,208}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
            <key>sj_boss_s_ts_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,830},{256,194}}</string>
                <key>offset</key>
                <string>{-15,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,194},{256,194}}</string>
                <key>sourceSize</key>
                <string>{328,402}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p2_fight_boss_s.pvr.ccz</string>
            <key>size</key>
            <string>{2036,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31a2812bf0025e906ffcd99c3e6c72ba$</string>
            <key>textureFileName</key>
            <string>p2_fight_boss_s.pvr.ccz</string>
        </dict>
    </dict>
</plist>
