<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gb_x_dj_b_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,73},{16,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,27}}</string>
                <key>sourceSize</key>
                <string>{16,27}</string>
            </dict>
            <key>gb_x_dj_b_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,73},{16,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,27}}</string>
                <key>sourceSize</key>
                <string>{16,27}</string>
            </dict>
            <key>gb_x_dj_b_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,73},{14,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,27}}</string>
                <key>sourceSize</key>
                <string>{14,27}</string>
            </dict>
            <key>gb_x_dj_b_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,73},{14,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,31}}</string>
                <key>sourceSize</key>
                <string>{14,31}</string>
            </dict>
            <key>gb_x_dj_b_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,73},{14,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,34}}</string>
                <key>sourceSize</key>
                <string>{14,34}</string>
            </dict>
            <key>gb_x_dj_b_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,73},{14,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,34}}</string>
                <key>sourceSize</key>
                <string>{14,34}</string>
            </dict>
            <key>gb_x_dj_b_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,73},{14,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,34}}</string>
                <key>sourceSize</key>
                <string>{14,34}</string>
            </dict>
            <key>gb_x_dj_b_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,73},{14,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,34}}</string>
                <key>sourceSize</key>
                <string>{14,34}</string>
            </dict>
            <key>gb_x_dj_b_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,38},{13,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,34}}</string>
                <key>sourceSize</key>
                <string>{13,34}</string>
            </dict>
            <key>gb_x_dj_b_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,38},{14,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,34}}</string>
                <key>sourceSize</key>
                <string>{14,34}</string>
            </dict>
            <key>gb_x_dj_b_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,38},{14,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,34}}</string>
                <key>sourceSize</key>
                <string>{14,34}</string>
            </dict>
            <key>gb_x_dj_b_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,38},{13,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,34}}</string>
                <key>sourceSize</key>
                <string>{13,34}</string>
            </dict>
            <key>gb_x_dj_b_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,38},{13,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,34}}</string>
                <key>sourceSize</key>
                <string>{13,34}</string>
            </dict>
            <key>gb_x_dj_b_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,38},{13,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,34}}</string>
                <key>sourceSize</key>
                <string>{13,34}</string>
            </dict>
            <key>gb_x_dj_b_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,38},{13,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,34}}</string>
                <key>sourceSize</key>
                <string>{13,34}</string>
            </dict>
            <key>gb_x_dj_b_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,38},{14,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,34}}</string>
                <key>sourceSize</key>
                <string>{14,34}</string>
            </dict>
            <key>gb_x_dj_b_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1},{14,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,34}}</string>
                <key>sourceSize</key>
                <string>{14,34}</string>
            </dict>
            <key>gb_x_dj_b_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1},{14,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,36}}</string>
                <key>sourceSize</key>
                <string>{14,36}</string>
            </dict>
            <key>gb_x_dj_b_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1},{14,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,34}}</string>
                <key>sourceSize</key>
                <string>{14,34}</string>
            </dict>
            <key>gb_x_dj_b_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,1},{14,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,34}}</string>
                <key>sourceSize</key>
                <string>{14,34}</string>
            </dict>
            <key>gb_x_dj_b_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,1},{13,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,32}}</string>
                <key>sourceSize</key>
                <string>{13,32}</string>
            </dict>
            <key>gb_x_dj_b_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1},{14,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,27}}</string>
                <key>sourceSize</key>
                <string>{14,27}</string>
            </dict>
            <key>gb_x_dj_b_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,1},{14,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,27}}</string>
                <key>sourceSize</key>
                <string>{14,27}</string>
            </dict>
            <key>gb_x_dj_b_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{17,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,27}}</string>
                <key>sourceSize</key>
                <string>{17,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gb_x_dj_b.png</string>
            <key>size</key>
            <string>{125,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba33d6f9d04791128ac46a198eb41f84$</string>
            <key>textureFileName</key>
            <string>gb_x_dj_b.png</string>
        </dict>
    </dict>
</plist>
