<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gb_x_gj_a_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,190},{19,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,29}}</string>
                <key>sourceSize</key>
                <string>{19,29}</string>
            </dict>
            <key>gb_x_gj_a_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,190},{15,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,29}}</string>
                <key>sourceSize</key>
                <string>{15,29}</string>
            </dict>
            <key>gb_x_gj_a_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,190},{15,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,29}}</string>
                <key>sourceSize</key>
                <string>{15,29}</string>
            </dict>
            <key>gb_x_gj_a_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{17,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,48}}</string>
                <key>sourceSize</key>
                <string>{17,48}</string>
            </dict>
            <key>gb_x_gj_a_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,160},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>gb_x_gj_a_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,160},{33,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,29}}</string>
                <key>sourceSize</key>
                <string>{33,29}</string>
            </dict>
            <key>gb_x_gj_a_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,220},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>gb_x_gj_a_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,129},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,30}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>gb_x_gj_a_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,129},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,30}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>gb_x_gj_a_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,50},{22,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,39}}</string>
                <key>sourceSize</key>
                <string>{22,39}</string>
            </dict>
            <key>gb_x_gj_a_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,50},{22,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,39}}</string>
                <key>sourceSize</key>
                <string>{22,39}</string>
            </dict>
            <key>gb_x_gj_a_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,1},{23,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,41}}</string>
                <key>sourceSize</key>
                <string>{23,41}</string>
            </dict>
            <key>gb_x_gj_a_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,1},{20,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,42}}</string>
                <key>sourceSize</key>
                <string>{20,42}</string>
            </dict>
            <key>gb_x_gj_a_01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,90},{24,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,38}}</string>
                <key>sourceSize</key>
                <string>{24,38}</string>
            </dict>
            <key>gb_x_gj_a_01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,220},{25,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,29}}</string>
                <key>sourceSize</key>
                <string>{25,29}</string>
            </dict>
            <key>gb_x_gj_a_01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,90},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gb_x_gj_a.png</string>
            <key>size</key>
            <string>{64,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5cd139fd52b03d0f85ed03f82bc1479$</string>
            <key>textureFileName</key>
            <string>gb_x_gj_a.png</string>
        </dict>
    </dict>
</plist>
