<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_loading_x_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,257},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>sg_loading_x_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,256},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>sg_loading_x_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,154},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>sg_loading_x_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,154},{101,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,107}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>sg_loadingfa_x_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,103},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>sg_loadingfa_x_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,103},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>sg_loadingfa_x_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,103},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>sg_loadingfa_x_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,103},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>sg_loadingfa_x_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,52},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>sg_loadingfa_x_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,52},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>sg_loadingfa_x_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,52},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>sg_loadingfa_x_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,52},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>sg_loadingfa_x_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>sg_loadingfa_x_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>sg_loadingfa_x_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,1},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>sg_loadingfa_x_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_loading.png</string>
            <key>size</key>
            <string>{212,360}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6861351c1b6e9f5c50e9b405da6843e1$</string>
            <key>textureFileName</key>
            <string>p1_loading.png</string>
        </dict>
    </dict>
</plist>
