<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_guqt__2_sa1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{210,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,206}}</string>
                <key>sourceSize</key>
                <string>{210,206}</string>
            </dict>
            <key>sg_guqt__2_sa1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1},{365,351}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,351}}</string>
                <key>sourceSize</key>
                <string>{365,351}</string>
            </dict>
            <key>sg_guqt__2_sa1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_tx_jzjs.png</string>
            <key>size</key>
            <string>{707,353}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68f2b084d54f0a18ed077ab336dfd765$</string>
            <key>textureFileName</key>
            <string>p1_tx_jzjs.png</string>
        </dict>
    </dict>
</plist>
