<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_lxs_zjm0301_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,1},{17,15}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>sg_lxs_zjm0301_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,1},{17,15}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>sg_lxs_zjm0301_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,1},{17,15}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>sg_lxs_zjm0301_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1},{17,15}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>sg_lxs_zjm0301_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1},{17,15}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>sg_lxs_zjm0301_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1},{17,15}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>sg_lxs_zjm0301_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1},{17,15}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>sg_lxs_zjm0301_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1},{19,15}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,15}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>sg_lxs_zjm0301_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1},{19,15}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,15}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>sg_lxs_zjm0301_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1},{19,15}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,15}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>sg_lxs_zjm0301_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1},{19,15}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,15}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>sg_lxs_zjm0301_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,1},{19,15}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,15}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>sg_lxs_zjm0301_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1},{19,15}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,15}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>sg_lxs_zjm0301_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1},{19,15}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,15}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>sg_lxs_zjm0301_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,1},{19,15}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,15}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>sg_lxs_zjm0301_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1},{19,15}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,15}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>sg_lxs_zjm0301_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1},{19,15}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,15}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>sg_lxs_zjm0301_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,1},{19,15}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,15}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>sg_lxs_zjm0301_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1},{17,15}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>sg_lxs_zjm0301_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1},{17,15}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>sg_lxs_zjm0301_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,1},{17,15}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>sg_lxs_zjm0301_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1},{17,15}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>sg_lxs_zjm0301_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,1},{17,15}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>sg_lxs_zjm0301_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,1},{17,15}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>sg_lxs_zjm0301_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{17,15}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>sg_lxs_zjm035_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,339},{39,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{39,80}}</string>
                <key>sourceSize</key>
                <string>{39,82}</string>
            </dict>
            <key>sg_lxs_zjm035_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,274},{39,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{39,80}}</string>
                <key>sourceSize</key>
                <string>{39,82}</string>
            </dict>
            <key>sg_lxs_zjm035_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,274},{39,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{39,80}}</string>
                <key>sourceSize</key>
                <string>{39,82}</string>
            </dict>
            <key>sg_lxs_zjm035_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,274},{39,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{39,80}}</string>
                <key>sourceSize</key>
                <string>{39,82}</string>
            </dict>
            <key>sg_lxs_zjm035_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,314},{39,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{39,78}}</string>
                <key>sourceSize</key>
                <string>{39,82}</string>
            </dict>
            <key>sg_lxs_zjm035_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,314},{39,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{39,78}}</string>
                <key>sourceSize</key>
                <string>{39,82}</string>
            </dict>
            <key>sg_lxs_zjm035_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,314},{39,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{39,78}}</string>
                <key>sourceSize</key>
                <string>{39,82}</string>
            </dict>
            <key>sg_lxs_zjm035_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,314},{39,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{39,78}}</string>
                <key>sourceSize</key>
                <string>{39,82}</string>
            </dict>
            <key>sg_lxs_zjm035_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,299},{39,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{39,78}}</string>
                <key>sourceSize</key>
                <string>{39,82}</string>
            </dict>
            <key>sg_lxs_zjm035_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,299},{39,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{39,78}}</string>
                <key>sourceSize</key>
                <string>{39,82}</string>
            </dict>
            <key>sg_lxs_zjm035_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,274},{39,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{39,78}}</string>
                <key>sourceSize</key>
                <string>{39,82}</string>
            </dict>
            <key>sg_lxs_zjm035_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,259},{39,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{39,78}}</string>
                <key>sourceSize</key>
                <string>{39,82}</string>
            </dict>
            <key>sg_lxs_zjm035_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,234},{39,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{39,78}}</string>
                <key>sourceSize</key>
                <string>{39,82}</string>
            </dict>
            <key>sg_lxs_zjm035_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,234},{39,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{39,78}}</string>
                <key>sourceSize</key>
                <string>{39,82}</string>
            </dict>
            <key>sg_lxs_zjm035_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,234},{39,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{39,78}}</string>
                <key>sourceSize</key>
                <string>{39,82}</string>
            </dict>
            <key>sg_lxs_zjm035_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,194},{39,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{39,80}}</string>
                <key>sourceSize</key>
                <string>{39,82}</string>
            </dict>
            <key>sg_lxs_zjm035_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,194},{39,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{39,80}}</string>
                <key>sourceSize</key>
                <string>{39,82}</string>
            </dict>
            <key>sg_lxs_zjm035_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,194},{39,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{39,80}}</string>
                <key>sourceSize</key>
                <string>{39,82}</string>
            </dict>
            <key>sg_lxs_zjm035_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,234},{39,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{39,78}}</string>
                <key>sourceSize</key>
                <string>{39,82}</string>
            </dict>
            <key>sg_lxs_zjm035_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,234},{39,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{39,78}}</string>
                <key>sourceSize</key>
                <string>{39,82}</string>
            </dict>
            <key>sg_lxs_zjm035_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,219},{39,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{39,78}}</string>
                <key>sourceSize</key>
                <string>{39,82}</string>
            </dict>
            <key>sg_lxs_zjm035_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,194},{39,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{39,78}}</string>
                <key>sourceSize</key>
                <string>{39,82}</string>
            </dict>
            <key>sg_lxs_zjm035_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,140},{39,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{39,78}}</string>
                <key>sourceSize</key>
                <string>{39,82}</string>
            </dict>
            <key>sg_lxs_zjm035_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,61},{39,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{39,78}}</string>
                <key>sourceSize</key>
                <string>{39,82}</string>
            </dict>
            <key>sg_lxs_zjm035_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,194},{39,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{39,80}}</string>
                <key>sourceSize</key>
                <string>{39,82}</string>
            </dict>
            <key>sg_lxs_zjm03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,46},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>sg_lxs_zjm03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,46},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>sg_lxs_zjm03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,46},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>sg_lxs_zjm03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,46},{30,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>sg_lxs_zjm03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,46},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>sg_lxs_zjm03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,46},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>sg_lxs_zjm03_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,46},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>sg_lxs_zjm03_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,17},{28,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{28,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>sg_lxs_zjm03_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,17},{28,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{28,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>sg_lxs_zjm03_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,17},{28,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{28,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>sg_lxs_zjm03_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,17},{28,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{28,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>sg_lxs_zjm03_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,17},{28,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{28,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>sg_lxs_zjm03_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,17},{28,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{28,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>sg_lxs_zjm03_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,17},{28,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{28,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>sg_lxs_zjm03_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,17},{28,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{28,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>sg_lxs_zjm03_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,17},{28,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{28,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>sg_lxs_zjm03_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,17},{28,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{28,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>sg_lxs_zjm03_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,17},{28,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{28,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>sg_lxs_zjm03_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,17},{28,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{28,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>sg_lxs_zjm03_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,1},{28,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{28,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>sg_lxs_zjm03_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,30},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>sg_lxs_zjm03_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,46},{30,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>sg_lxs_zjm03_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,46},{30,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>sg_lxs_zjm03_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,46},{30,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>sg_lxs_zjm03_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,46},{30,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>sg_lxs_zjm_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,421},{40,89}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{40,89}}</string>
                <key>sourceSize</key>
                <string>{40,93}</string>
            </dict>
            <key>sg_lxs_zjm_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,395},{40,89}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{40,89}}</string>
                <key>sourceSize</key>
                <string>{40,93}</string>
            </dict>
            <key>sg_lxs_zjm_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,395},{40,89}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{40,89}}</string>
                <key>sourceSize</key>
                <string>{40,93}</string>
            </dict>
            <key>sg_lxs_zjm_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,395},{40,89}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{40,89}}</string>
                <key>sourceSize</key>
                <string>{40,93}</string>
            </dict>
            <key>sg_lxs_zjm_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,155},{38,87}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{38,87}}</string>
                <key>sourceSize</key>
                <string>{40,93}</string>
            </dict>
            <key>sg_lxs_zjm_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,155},{38,87}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{38,87}}</string>
                <key>sourceSize</key>
                <string>{40,93}</string>
            </dict>
            <key>sg_lxs_zjm_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,77},{38,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{38,85}}</string>
                <key>sourceSize</key>
                <string>{40,93}</string>
            </dict>
            <key>sg_lxs_zjm_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,77},{38,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{38,85}}</string>
                <key>sourceSize</key>
                <string>{40,93}</string>
            </dict>
            <key>sg_lxs_zjm_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,155},{38,87}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{38,87}}</string>
                <key>sourceSize</key>
                <string>{40,93}</string>
            </dict>
            <key>sg_lxs_zjm_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,155},{38,87}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{38,87}}</string>
                <key>sourceSize</key>
                <string>{40,93}</string>
            </dict>
            <key>sg_lxs_zjm_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,155},{38,87}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{38,87}}</string>
                <key>sourceSize</key>
                <string>{40,93}</string>
            </dict>
            <key>sg_lxs_zjm_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,116},{38,87}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{38,87}}</string>
                <key>sourceSize</key>
                <string>{40,93}</string>
            </dict>
            <key>sg_lxs_zjm_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,116},{38,87}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{38,87}}</string>
                <key>sourceSize</key>
                <string>{40,93}</string>
            </dict>
            <key>sg_lxs_zjm_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,116},{38,87}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{38,87}}</string>
                <key>sourceSize</key>
                <string>{40,93}</string>
            </dict>
            <key>sg_lxs_zjm_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,116},{38,87}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{38,87}}</string>
                <key>sourceSize</key>
                <string>{40,93}</string>
            </dict>
            <key>sg_lxs_zjm_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,116},{38,87}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{38,87}}</string>
                <key>sourceSize</key>
                <string>{40,93}</string>
            </dict>
            <key>sg_lxs_zjm_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,77},{38,87}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{38,87}}</string>
                <key>sourceSize</key>
                <string>{40,93}</string>
            </dict>
            <key>sg_lxs_zjm_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,77},{38,87}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{38,87}}</string>
                <key>sourceSize</key>
                <string>{40,93}</string>
            </dict>
            <key>sg_lxs_zjm_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,77},{38,87}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{38,87}}</string>
                <key>sourceSize</key>
                <string>{40,93}</string>
            </dict>
            <key>sg_lxs_zjm_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,379},{40,87}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{40,87}}</string>
                <key>sourceSize</key>
                <string>{40,93}</string>
            </dict>
            <key>sg_lxs_zjm_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,380},{40,89}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{40,89}}</string>
                <key>sourceSize</key>
                <string>{40,93}</string>
            </dict>
            <key>sg_lxs_zjm_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,354},{40,89}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{40,89}}</string>
                <key>sourceSize</key>
                <string>{40,93}</string>
            </dict>
            <key>sg_lxs_zjm_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,354},{40,89}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{40,89}}</string>
                <key>sourceSize</key>
                <string>{40,93}</string>
            </dict>
            <key>sg_lxs_zjm_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,354},{40,89}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{40,89}}</string>
                <key>sourceSize</key>
                <string>{40,93}</string>
            </dict>
            <key>sg_lxs_zjm_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,339},{40,89}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{40,89}}</string>
                <key>sourceSize</key>
                <string>{40,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_tx_slt.png</string>
            <key>size</key>
            <string>{512,462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b4d90ea0cd222f9d3eb1fd2bf1120f7$</string>
            <key>textureFileName</key>
            <string>p1_tx_slt.png</string>
        </dict>
    </dict>
</plist>
