<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_zjm_pb_x_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,283},{212,140}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{212,140}}</string>
                <key>sourceSize</key>
                <string>{212,142}</string>
            </dict>
            <key>sg_zjm_pb_x_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,283},{212,140}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{212,140}}</string>
                <key>sourceSize</key>
                <string>{212,142}</string>
            </dict>
            <key>sg_zjm_pb_x_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,214},{212,140}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{212,140}}</string>
                <key>sourceSize</key>
                <string>{212,142}</string>
            </dict>
            <key>sg_zjm_pb_x_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,142},{212,140}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{212,140}}</string>
                <key>sourceSize</key>
                <string>{212,142}</string>
            </dict>
            <key>sg_zjm_pb_x_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,142},{212,140}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{212,140}}</string>
                <key>sourceSize</key>
                <string>{212,142}</string>
            </dict>
            <key>sg_zjm_pb_x_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,142},{212,140}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{212,140}}</string>
                <key>sourceSize</key>
                <string>{212,142}</string>
            </dict>
            <key>sg_zjm_pb_x_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,142},{212,140}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{212,140}}</string>
                <key>sourceSize</key>
                <string>{212,142}</string>
            </dict>
            <key>sg_zjm_pb_x_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,1},{212,140}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{212,140}}</string>
                <key>sourceSize</key>
                <string>{212,142}</string>
            </dict>
            <key>sg_zjm_pb_x_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1},{212,140}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{212,140}}</string>
                <key>sourceSize</key>
                <string>{212,142}</string>
            </dict>
            <key>sg_zjm_pb_x_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,1},{212,140}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{212,140}}</string>
                <key>sourceSize</key>
                <string>{212,142}</string>
            </dict>
            <key>sg_zjm_pb_x_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1},{212,140}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{212,140}}</string>
                <key>sourceSize</key>
                <string>{212,142}</string>
            </dict>
            <key>sg_zjm_pb_x_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{212,140}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{212,140}}</string>
                <key>sourceSize</key>
                <string>{212,142}</string>
            </dict>
            <key>sg_zjm_pb_x_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,1177},{81,122}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,122}}</string>
                <key>sourceSize</key>
                <string>{93,124}</string>
            </dict>
            <key>sg_zjm_pb_x_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1138},{81,122}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,122}}</string>
                <key>sourceSize</key>
                <string>{93,124}</string>
            </dict>
            <key>sg_zjm_pb_x_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1114},{81,122}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,122}}</string>
                <key>sourceSize</key>
                <string>{93,124}</string>
            </dict>
            <key>sg_zjm_pb_x_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1054},{83,122}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,122}}</string>
                <key>sourceSize</key>
                <string>{93,124}</string>
            </dict>
            <key>sg_zjm_pb_x_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1057},{85,122}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,122}}</string>
                <key>sourceSize</key>
                <string>{93,124}</string>
            </dict>
            <key>sg_zjm_pb_x_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1054},{83,122}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,122}}</string>
                <key>sourceSize</key>
                <string>{93,124}</string>
            </dict>
            <key>sg_zjm_pb_x_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1104},{85,120}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,120}}</string>
                <key>sourceSize</key>
                <string>{93,124}</string>
            </dict>
            <key>sg_zjm_pb_x_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1077},{85,120}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,120}}</string>
                <key>sourceSize</key>
                <string>{93,124}</string>
            </dict>
            <key>sg_zjm_pb_x_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1027},{87,120}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,120}}</string>
                <key>sourceSize</key>
                <string>{93,124}</string>
            </dict>
            <key>sg_zjm_pb_x_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1029},{85,122}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,122}}</string>
                <key>sourceSize</key>
                <string>{93,124}</string>
            </dict>
            <key>sg_zjm_pb_x_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,969},{87,122}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,122}}</string>
                <key>sourceSize</key>
                <string>{93,124}</string>
            </dict>
            <key>sg_zjm_pb_x_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,941},{87,122}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,122}}</string>
                <key>sourceSize</key>
                <string>{93,124}</string>
            </dict>
            <key>sg_zjm_pb_x_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,939},{87,122}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,122}}</string>
                <key>sourceSize</key>
                <string>{93,124}</string>
            </dict>
            <key>sg_zjm_pb_z_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,756},{88,148}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,148}}</string>
                <key>sourceSize</key>
                <string>{92,154}</string>
            </dict>
            <key>sg_zjm_pb_z_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,683},{88,150}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,150}}</string>
                <key>sourceSize</key>
                <string>{92,154}</string>
            </dict>
            <key>sg_zjm_pb_z_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,667},{88,150}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,150}}</string>
                <key>sourceSize</key>
                <string>{92,154}</string>
            </dict>
            <key>sg_zjm_pb_z_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,555},{90,150}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,150}}</string>
                <key>sourceSize</key>
                <string>{92,154}</string>
            </dict>
            <key>sg_zjm_pb_z_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,795},{88,140}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,140}}</string>
                <key>sourceSize</key>
                <string>{92,154}</string>
            </dict>
            <key>sg_zjm_pb_z_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,1017},{86,140}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,140}}</string>
                <key>sourceSize</key>
                <string>{92,154}</string>
            </dict>
            <key>sg_zjm_pb_z_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,936},{86,140}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,140}}</string>
                <key>sourceSize</key>
                <string>{92,154}</string>
            </dict>
            <key>sg_zjm_pb_z_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,882},{86,140}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{86,140}}</string>
                <key>sourceSize</key>
                <string>{92,154}</string>
            </dict>
            <key>sg_zjm_pb_z_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,854},{86,142}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,142}}</string>
                <key>sourceSize</key>
                <string>{92,154}</string>
            </dict>
            <key>sg_zjm_pb_z_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,967},{86,142}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{86,142}}</string>
                <key>sourceSize</key>
                <string>{92,154}</string>
            </dict>
            <key>sg_zjm_pb_z_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,944},{86,142}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{86,142}}</string>
                <key>sourceSize</key>
                <string>{92,154}</string>
            </dict>
            <key>sg_zjm_pb_z_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1031},{82,140}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{82,140}}</string>
                <key>sourceSize</key>
                <string>{92,154}</string>
            </dict>
            <key>sg_zjm_pb_z_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,880},{86,142}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,142}}</string>
                <key>sourceSize</key>
                <string>{92,154}</string>
            </dict>
            <key>sg_zjm_pb_z_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,854},{84,144}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{84,144}}</string>
                <key>sourceSize</key>
                <string>{92,154}</string>
            </dict>
            <key>sg_zjm_pb_z_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,859},{84,146}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{84,146}}</string>
                <key>sourceSize</key>
                <string>{92,154}</string>
            </dict>
            <key>sg_zjm_pb_z_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,680},{86,146}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{86,146}}</string>
                <key>sourceSize</key>
                <string>{92,154}</string>
            </dict>
            <key>sg_zjm_pb_z_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,680},{86,146}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{86,146}}</string>
                <key>sourceSize</key>
                <string>{92,154}</string>
            </dict>
            <key>sg_zjm_pb_z_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,795},{86,144}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{86,144}}</string>
                <key>sourceSize</key>
                <string>{92,154}</string>
            </dict>
            <key>sg_zjm_pb_z_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,767},{86,144}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,144}}</string>
                <key>sourceSize</key>
                <string>{92,154}</string>
            </dict>
            <key>sg_zjm_pb_z_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,930},{86,142}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{86,142}}</string>
                <key>sourceSize</key>
                <string>{92,154}</string>
            </dict>
            <key>sg_zjm_pb_z_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,767},{86,144}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{86,144}}</string>
                <key>sourceSize</key>
                <string>{92,154}</string>
            </dict>
            <key>sg_zjm_pb_z_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,845},{84,146}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{84,146}}</string>
                <key>sourceSize</key>
                <string>{92,154}</string>
            </dict>
            <key>sg_zjm_pb_z_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,793},{86,146}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{86,146}}</string>
                <key>sourceSize</key>
                <string>{92,154}</string>
            </dict>
            <key>sg_zjm_pb_z_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,772},{86,148}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,148}}</string>
                <key>sourceSize</key>
                <string>{92,154}</string>
            </dict>
            <key>sg_zjm_pb_z_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,706},{86,148}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,148}}</string>
                <key>sourceSize</key>
                <string>{92,154}</string>
            </dict>
            <key>sg_zjm_pubu_sx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,424},{182,127}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{182,127}}</string>
                <key>sourceSize</key>
                <string>{186,127}</string>
            </dict>
            <key>sg_zjm_pubu_sx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,667},{178,127}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{178,127}}</string>
                <key>sourceSize</key>
                <string>{186,127}</string>
            </dict>
            <key>sg_zjm_pubu_sx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,552},{180,127}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{180,127}}</string>
                <key>sourceSize</key>
                <string>{186,127}</string>
            </dict>
            <key>sg_zjm_pubu_sx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,555},{180,127}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{180,127}}</string>
                <key>sourceSize</key>
                <string>{186,127}</string>
            </dict>
            <key>sg_zjm_pubu_sx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,539},{180,127}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{180,127}}</string>
                <key>sourceSize</key>
                <string>{186,127}</string>
            </dict>
            <key>sg_zjm_pubu_sx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,552},{178,127}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{178,127}}</string>
                <key>sourceSize</key>
                <string>{186,127}</string>
            </dict>
            <key>sg_zjm_pubu_sx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,539},{180,127}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{180,127}}</string>
                <key>sourceSize</key>
                <string>{186,127}</string>
            </dict>
            <key>sg_zjm_pubu_sx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,283},{184,127}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{184,127}}</string>
                <key>sourceSize</key>
                <string>{186,127}</string>
            </dict>
            <key>sg_zjm_pubu_sx_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,424},{182,127}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{182,127}}</string>
                <key>sourceSize</key>
                <string>{186,127}</string>
            </dict>
            <key>sg_zjm_pubu_sx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,427},{182,127}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{182,127}}</string>
                <key>sourceSize</key>
                <string>{186,127}</string>
            </dict>
            <key>sg_zjm_pubu_sx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,411},{182,127}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{182,127}}</string>
                <key>sourceSize</key>
                <string>{186,127}</string>
            </dict>
            <key>sg_zjm_pubu_sx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,411},{182,127}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{182,127}}</string>
                <key>sourceSize</key>
                <string>{186,127}</string>
            </dict>
            <key>sg_zjm_pubu_sx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,283},{184,127}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{184,127}}</string>
                <key>sourceSize</key>
                <string>{186,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_tx_zjmpb.png</string>
            <key>size</key>
            <string>{1006,1259}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:116a1344b2e6e776bb91e68f9359425a$</string>
            <key>textureFileName</key>
            <string>p1_tx_zjmpb.png</string>
        </dict>
    </dict>
</plist>
