<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_zjm_pb_y_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,1},{184,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,162}}</string>
                <key>sourceSize</key>
                <string>{184,162}</string>
            </dict>
            <key>sg_zjm_pb_y_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,162},{184,160}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{184,160}}</string>
                <key>sourceSize</key>
                <string>{184,162}</string>
            </dict>
            <key>sg_zjm_pb_y_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,162},{182,160}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{182,160}}</string>
                <key>sourceSize</key>
                <string>{184,162}</string>
            </dict>
            <key>sg_zjm_pb_y_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,484},{174,160}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{174,160}}</string>
                <key>sourceSize</key>
                <string>{184,162}</string>
            </dict>
            <key>sg_zjm_pb_y_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,647},{164,152}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{164,152}}</string>
                <key>sourceSize</key>
                <string>{184,162}</string>
            </dict>
            <key>sg_zjm_pb_y_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,649},{166,152}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{166,152}}</string>
                <key>sourceSize</key>
                <string>{184,162}</string>
            </dict>
            <key>sg_zjm_pb_y_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,647},{166,152}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{166,152}}</string>
                <key>sourceSize</key>
                <string>{184,162}</string>
            </dict>
            <key>sg_zjm_pb_y_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,645},{168,154}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{168,154}}</string>
                <key>sourceSize</key>
                <string>{184,162}</string>
            </dict>
            <key>sg_zjm_pb_y_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,486},{168,158}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{168,158}}</string>
                <key>sourceSize</key>
                <string>{184,162}</string>
            </dict>
            <key>sg_zjm_pb_y_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,488},{168,160}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{168,160}}</string>
                <key>sourceSize</key>
                <string>{184,162}</string>
            </dict>
            <key>sg_zjm_pb_y_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,486},{168,160}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{168,160}}</string>
                <key>sourceSize</key>
                <string>{184,162}</string>
            </dict>
            <key>sg_zjm_pb_y_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,645},{168,160}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{168,160}}</string>
                <key>sourceSize</key>
                <string>{184,162}</string>
            </dict>
            <key>sg_zjm_pb_y_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,484},{172,162}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{172,162}}</string>
                <key>sourceSize</key>
                <string>{184,162}</string>
            </dict>
            <key>sg_zjm_pb_y_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,325},{174,162}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{174,162}}</string>
                <key>sourceSize</key>
                <string>{184,162}</string>
            </dict>
            <key>sg_zjm_pb_y_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,325},{176,160}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{176,160}}</string>
                <key>sourceSize</key>
                <string>{184,162}</string>
            </dict>
            <key>sg_zjm_pb_y_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,323},{178,160}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{178,160}}</string>
                <key>sourceSize</key>
                <string>{184,162}</string>
            </dict>
            <key>sg_zjm_pb_y_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,323},{178,160}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{178,160}}</string>
                <key>sourceSize</key>
                <string>{184,162}</string>
            </dict>
            <key>sg_zjm_pb_y_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,325},{176,160}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{176,160}}</string>
                <key>sourceSize</key>
                <string>{184,162}</string>
            </dict>
            <key>sg_zjm_pb_y_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,164},{178,160}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{178,160}}</string>
                <key>sourceSize</key>
                <string>{184,162}</string>
            </dict>
            <key>sg_zjm_pb_y_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,164},{180,160}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{180,160}}</string>
                <key>sourceSize</key>
                <string>{184,162}</string>
            </dict>
            <key>sg_zjm_pb_y_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,164},{180,160}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{180,160}}</string>
                <key>sourceSize</key>
                <string>{184,162}</string>
            </dict>
            <key>sg_zjm_pb_y_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1},{184,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,162}}</string>
                <key>sourceSize</key>
                <string>{184,162}</string>
            </dict>
            <key>sg_zjm_pb_y_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{184,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,162}}</string>
                <key>sourceSize</key>
                <string>{184,162}</string>
            </dict>
            <key>sg_zjm_pb_y_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1},{184,160}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{184,160}}</string>
                <key>sourceSize</key>
                <string>{184,162}</string>
            </dict>
            <key>sg_zjm_pb_y_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1},{184,160}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{184,160}}</string>
                <key>sourceSize</key>
                <string>{184,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_tx_zjmpb2.png</string>
            <key>size</key>
            <string>{926,806}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9a039417600b0fd295a3a527ab3168b$</string>
            <key>textureFileName</key>
            <string>p1_tx_zjmpb2.png</string>
        </dict>
    </dict>
</plist>
