<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rwww_wjxh_xs_sg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,253},{23,14}}</string>
                <key>offset</key>
                <string>{15,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,37},{23,14}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>rwww_wjxh_xs_sg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,287},{51,42}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,37},{51,42}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>rwww_wjxh_xs_sg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{53,44}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,37},{53,44}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>rwww_wjxh_xs_sg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,286},{65,54}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,29},{65,54}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>rwww_wjxh_xs_sg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,227},{69,58}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{69,58}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>rwww_wjxh_xs_sg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{73,68}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{73,68}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>rwww_wjxh_xs_sg_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,83},{75,72}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{75,72}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>rwww_wjxh_xs_sg_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{79,76}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,16},{79,76}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>rwww_wjxh_xs_sg_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{83,80}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{83,80}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>rwww_wjxh_xs_sg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,77},{85,84}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{85,84}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>rwww_wjxh_xs_sg_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,86}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{85,86}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>rwww_wjxh_xs_sg_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{73,86}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{73,86}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>rwww_wjxh_xs_sg_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,157},{75,68}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{75,68}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>rwww_wjxh_xs_sg_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,163},{75,66}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{75,66}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>rwww_wjxh_xs_sg_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{53,68}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,6},{53,68}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>rwww_wjxh_xs_sg_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,231},{53,68}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,6},{53,68}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>rwww_wjxh_xs_sg_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,331},{47,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,24},{47,50}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>rwww_wjxh_xs_sg_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,287},{47,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,24},{47,50}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>rwww_wjxh_xs_sg_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{47,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,25},{47,46}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>rwww_wjxh_xs_sg_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,336},{47,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{47,46}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>rwww_wjxh_xs_sg_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,342},{45,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,25},{45,46}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>rwww_wjxh_xs_sg_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,380},{41,44}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,25},{41,44}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>rwww_wjxh_xs_sg_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,342},{37,42}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,25},{37,42}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>rwww_wjxh_xs_sg_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{31,38}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,25},{31,38}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>rwww_wjxh_xs_sg_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,381},{25,32}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,25},{25,32}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>rwww_wjxh_xs_sg_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,227},{17,24}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,26},{17,24}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rwww_wjxh_xs_sg.png</string>
            <key>size</key>
            <string>{256,433}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0120cb2d843467a07d6d46a56dc55e43$</string>
            <key>textureFileName</key>
            <string>rwww_wjxh_xs_sg.png</string>
        </dict>
    </dict>
</plist>
