<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rwww_sjbs_xdg_bk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,222},{42,30}}</string>
                <key>offset</key>
                <string>{49,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,9},{42,30}}</string>
                <key>sourceSize</key>
                <string>{140,88}</string>
            </dict>
            <key>rwww_sjbs_xdg_bk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,82},{96,78}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,6},{96,78}}</string>
                <key>sourceSize</key>
                <string>{140,88}</string>
            </dict>
            <key>rwww_sjbs_xdg_bk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{132,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{132,76}}</string>
                <key>sourceSize</key>
                <string>{140,88}</string>
            </dict>
            <key>rwww_sjbs_xdg_bk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,68}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{138,68}}</string>
                <key>sourceSize</key>
                <string>{140,88}</string>
            </dict>
            <key>rwww_sjbs_xdg_bk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{136,70}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{136,70}}</string>
                <key>sourceSize</key>
                <string>{140,88}</string>
            </dict>
            <key>rwww_sjbs_xdg_bk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{112,78}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{112,78}}</string>
                <key>sourceSize</key>
                <string>{140,88}</string>
            </dict>
            <key>rwww_sjbs_xdg_bk_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,162},{92,82}}</string>
                <key>offset</key>
                <string>{-20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{92,82}}</string>
                <key>sourceSize</key>
                <string>{140,88}</string>
            </dict>
            <key>rwww_sjbs_xdg_bk_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{64,64}}</string>
                <key>offset</key>
                <string>{-33,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{140,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rwww_sjbs_xdg_bk.png</string>
            <key>size</key>
            <string>{256,288}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd32ff6fd337cc5281658539e76344e2$</string>
            <key>textureFileName</key>
            <string>rwww_sjbs_xdg_bk.png</string>
        </dict>
    </dict>
</plist>
