<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rwww_gc_gjfs_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{26,31}}</string>
                <key>offset</key>
                <string>{-87,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,68},{26,31}}</string>
                <key>sourceSize</key>
                <string>{200,99}</string>
            </dict>
            <key>rwww_gc_gjfs_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,89},{30,29}}</string>
                <key>offset</key>
                <string>{-78,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,59},{30,29}}</string>
                <key>sourceSize</key>
                <string>{200,99}</string>
            </dict>
            <key>rwww_gc_gjfs_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,89},{30,27}}</string>
                <key>offset</key>
                <string>{-68,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,50},{30,27}}</string>
                <key>sourceSize</key>
                <string>{200,99}</string>
            </dict>
            <key>rwww_gc_gjfs_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,62},{32,25}}</string>
                <key>offset</key>
                <string>{-57,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,42},{32,25}}</string>
                <key>sourceSize</key>
                <string>{200,99}</string>
            </dict>
            <key>rwww_gc_gjfs_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{34,23}}</string>
                <key>offset</key>
                <string>{-47,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{34,23}}</string>
                <key>sourceSize</key>
                <string>{200,99}</string>
            </dict>
            <key>rwww_gc_gjfs_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,51},{34,21}}</string>
                <key>offset</key>
                <string>{-35,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,27},{34,21}}</string>
                <key>sourceSize</key>
                <string>{200,99}</string>
            </dict>
            <key>rwww_gc_gjfs_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,30},{36,19}}</string>
                <key>offset</key>
                <string>{-24,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,21},{36,19}}</string>
                <key>sourceSize</key>
                <string>{200,99}</string>
            </dict>
            <key>rwww_gc_gjfs_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{36,19}}</string>
                <key>offset</key>
                <string>{-11,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,15},{36,19}}</string>
                <key>sourceSize</key>
                <string>{200,99}</string>
            </dict>
            <key>rwww_gc_gjfs_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,43},{36,17}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,12},{36,17}}</string>
                <key>sourceSize</key>
                <string>{200,99}</string>
            </dict>
            <key>rwww_gc_gjfs_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,15}}</string>
                <key>offset</key>
                <string>{9,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,10},{38,15}}</string>
                <key>sourceSize</key>
                <string>{200,99}</string>
            </dict>
            <key>rwww_gc_gjfs_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{38,13}}</string>
                <key>offset</key>
                <string>{20,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,8},{38,13}}</string>
                <key>sourceSize</key>
                <string>{200,99}</string>
            </dict>
            <key>rwww_gc_gjfs_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{38,13}}</string>
                <key>offset</key>
                <string>{31,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,6},{38,13}}</string>
                <key>sourceSize</key>
                <string>{200,99}</string>
            </dict>
            <key>rwww_gc_gjfs_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,30},{38,11}}</string>
                <key>offset</key>
                <string>{41,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,5},{38,11}}</string>
                <key>sourceSize</key>
                <string>{200,99}</string>
            </dict>
            <key>rwww_gc_gjfs_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,17},{38,11}}</string>
                <key>offset</key>
                <string>{52,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,4},{38,11}}</string>
                <key>sourceSize</key>
                <string>{200,99}</string>
            </dict>
            <key>rwww_gc_gjfs_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,19},{38,11}}</string>
                <key>offset</key>
                <string>{63,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,3},{38,11}}</string>
                <key>sourceSize</key>
                <string>{200,99}</string>
            </dict>
            <key>rwww_gc_gjfs_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,17},{38,11}}</string>
                <key>offset</key>
                <string>{74,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,3},{38,11}}</string>
                <key>sourceSize</key>
                <string>{200,99}</string>
            </dict>
            <key>rwww_gc_gjfs_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,51},{34,11}}</string>
                <key>offset</key>
                <string>{83,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,2},{34,11}}</string>
                <key>sourceSize</key>
                <string>{200,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rwww_gc_gifs.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7ac2b17026ed5f7eea1988d718e75dc$</string>
            <key>textureFileName</key>
            <string>rwww_gc_gifs.png</string>
        </dict>
    </dict>
</plist>
