<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rwww_ns2lx_gjgx_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,352},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>rwww_nslx_gjgx2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,414},{77,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,82}}</string>
                <key>sourceSize</key>
                <string>{77,82}</string>
            </dict>
            <key>rwww_nslx_gjgx2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,335},{77,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,82}}</string>
                <key>sourceSize</key>
                <string>{77,82}</string>
            </dict>
            <key>rwww_nslx_gjgx2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,256},{77,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,82}}</string>
                <key>sourceSize</key>
                <string>{77,82}</string>
            </dict>
            <key>rwww_nslx_gjgx2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,256},{77,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,82}}</string>
                <key>sourceSize</key>
                <string>{77,82}</string>
            </dict>
            <key>rwww_nslx_gjgx2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,177},{77,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,82}}</string>
                <key>sourceSize</key>
                <string>{77,82}</string>
            </dict>
            <key>rwww_nslx_gjgx2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,352},{77,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,82}}</string>
                <key>sourceSize</key>
                <string>{77,82}</string>
            </dict>
            <key>rwww_nslx_gjgx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{4,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,6}}</string>
                <key>sourceSize</key>
                <string>{4,6}</string>
            </dict>
            <key>rwww_nslx_gjgx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{4,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,6}}</string>
                <key>sourceSize</key>
                <string>{4,6}</string>
            </dict>
            <key>rwww_nslx_gjgx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,177},{173,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,150}}</string>
                <key>sourceSize</key>
                <string>{173,150}</string>
            </dict>
            <key>rwww_nslx_gjgx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{173,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,150}}</string>
                <key>sourceSize</key>
                <string>{173,150}</string>
            </dict>
            <key>rwww_nslx_gjgx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{173,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,150}}</string>
                <key>sourceSize</key>
                <string>{173,150}</string>
            </dict>
            <key>rwww_nslx_gjgx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{173,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,150}}</string>
                <key>sourceSize</key>
                <string>{173,150}</string>
            </dict>
            <key>rwww_nslx_gjgx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{173,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,150}}</string>
                <key>sourceSize</key>
                <string>{173,150}</string>
            </dict>
            <key>rwww_nslx_gjgx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{173,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,150}}</string>
                <key>sourceSize</key>
                <string>{173,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rwww_nslx_gjgx.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a289c619700269ff3525a26bcdea4605$</string>
            <key>textureFileName</key>
            <string>rwww_nslx_gjgx.png</string>
        </dict>
    </dict>
</plist>
