<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rwww_boss_jdt_bp_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,161},{111,90}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,31},{111,90}}</string>
                <key>sourceSize</key>
                <string>{147,138}</string>
            </dict>
            <key>rwww_boss_jdt_bp_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{105,98}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,25},{105,98}}</string>
                <key>sourceSize</key>
                <string>{147,138}</string>
            </dict>
            <key>rwww_boss_jdt_bp_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,253},{111,106}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{111,106}}</string>
                <key>sourceSize</key>
                <string>{147,138}</string>
            </dict>
            <key>rwww_boss_jdt_bp_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,255},{117,112}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{117,112}}</string>
                <key>sourceSize</key>
                <string>{147,138}</string>
            </dict>
            <key>rwww_boss_jdt_bp_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{123,122}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{123,122}}</string>
                <key>sourceSize</key>
                <string>{147,138}</string>
            </dict>
            <key>rwww_boss_jdt_bp_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,361},{131,126}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{131,126}}</string>
                <key>sourceSize</key>
                <string>{147,138}</string>
            </dict>
            <key>rwww_boss_jdt_bp_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,369},{143,134}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{143,134}}</string>
                <key>sourceSize</key>
                <string>{147,138}</string>
            </dict>
            <key>rwww_boss_jdt_bp_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{131,70}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,38},{131,70}}</string>
                <key>sourceSize</key>
                <string>{147,138}</string>
            </dict>
            <key>rwww_boss_jdt_bp_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{121,72}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,36},{121,72}}</string>
                <key>sourceSize</key>
                <string>{147,138}</string>
            </dict>
            <key>rwww_boss_jdt_bp_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,160},{121,84}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,33},{121,84}}</string>
                <key>sourceSize</key>
                <string>{147,138}</string>
            </dict>
            <key>rwww_boss_jdt_bp_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{103,88}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,29},{103,88}}</string>
                <key>sourceSize</key>
                <string>{147,138}</string>
            </dict>
            <key>rwww_boss_jdt_bp_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,161},{103,92}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{103,92}}</string>
                <key>sourceSize</key>
                <string>{147,138}</string>
            </dict>
            <key>rwww_boss_jdt_bp_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,246},{107,98}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{107,98}}</string>
                <key>sourceSize</key>
                <string>{147,138}</string>
            </dict>
            <key>rwww_boss_jdt_bp_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,2},{107,76}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,40},{107,76}}</string>
                <key>sourceSize</key>
                <string>{147,138}</string>
            </dict>
            <key>rwww_boss_jdt_bp_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,76},{111,82}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,37},{111,82}}</string>
                <key>sourceSize</key>
                <string>{147,138}</string>
            </dict>
            <key>rwww_boss_jdt_bp_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,74},{111,80}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,42},{111,80}}</string>
                <key>sourceSize</key>
                <string>{147,138}</string>
            </dict>
            <key>rwww_boss_jdt_bp_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{111,78}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,43},{111,78}}</string>
                <key>sourceSize</key>
                <string>{147,138}</string>
            </dict>
            <key>rwww_boss_jdt_bp_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,38}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,71},{81,38}}</string>
                <key>sourceSize</key>
                <string>{147,138}</string>
            </dict>
            <key>rwww_boss_yq1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,76},{90,83}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,83}}</string>
                <key>sourceSize</key>
                <string>{90,91}</string>
            </dict>
            <key>rwww_boss_yq1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,489},{163,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,161}}</string>
                <key>sourceSize</key>
                <string>{163,161}</string>
            </dict>
            <key>rwww_boss_yq1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{90,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,58}}</string>
                <key>sourceSize</key>
                <string>{90,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rwww_boss_jdt.png</string>
            <key>size</key>
            <string>{511,652}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:911dc9647b4b7f4821e8bd199bac6376$</string>
            <key>textureFileName</key>
            <string>rwww_boss_jdt.png</string>
        </dict>
    </dict>
</plist>
