<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rwww_gc_stgj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,95},{15,15}}</string>
                <key>offset</key>
                <string>{-72,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,44},{15,15}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>rwww_gc_stgj_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,59},{17,17}}</string>
                <key>offset</key>
                <string>{-66,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,37},{17,17}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>rwww_gc_stgj_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,44},{17,17}}</string>
                <key>offset</key>
                <string>{-59,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,32},{17,17}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>rwww_gc_stgj_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,23},{17,19}}</string>
                <key>offset</key>
                <string>{-52,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,26},{17,19}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>rwww_gc_stgj_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,23},{17,19}}</string>
                <key>offset</key>
                <string>{-45,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,21},{17,19}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>rwww_gc_stgj_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{15,19}}</string>
                <key>offset</key>
                <string>{-38,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,17},{15,19}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>rwww_gc_stgj_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,80},{13,19}}</string>
                <key>offset</key>
                <string>{-29,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,13},{13,19}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>rwww_gc_stgj_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{17,19}}</string>
                <key>offset</key>
                <string>{-22,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,10},{17,19}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>rwww_gc_stgj_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{19,19}}</string>
                <key>offset</key>
                <string>{-14,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,7},{19,19}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>rwww_gc_stgj_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,21},{19,17}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,6},{19,17}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>rwww_gc_stgj_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,2},{19,17}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,4},{19,17}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>rwww_gc_stgj_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{17,17}}</string>
                <key>offset</key>
                <string>{11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,4},{17,17}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>rwww_gc_stgj_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{15,17}}</string>
                <key>offset</key>
                <string>{19,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,3},{15,17}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>rwww_gc_stgj_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,112},{13,17}}</string>
                <key>offset</key>
                <string>{27,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,3},{13,17}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>rwww_gc_stgj_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,112},{13,17}}</string>
                <key>offset</key>
                <string>{36,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,3},{13,17}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>rwww_gc_stgj_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{15,15}}</string>
                <key>offset</key>
                <string>{44,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,5},{15,15}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>rwww_gc_stgj_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,78},{17,15}}</string>
                <key>offset</key>
                <string>{52,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,6},{17,15}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>rwww_gc_stgj_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,63},{17,15}}</string>
                <key>offset</key>
                <string>{60,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,7},{17,15}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>rwww_gc_stgj_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,40},{17,17}}</string>
                <key>offset</key>
                <string>{68,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,7},{17,17}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>rwww_gc_stgj_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,95},{15,15}}</string>
                <key>offset</key>
                <string>{72,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,9},{15,15}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rwww_gc_stgj.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74f718857461ebedf10e7852cf8f368e$</string>
            <key>textureFileName</key>
            <string>rwww_gc_stgj.png</string>
        </dict>
    </dict>
</plist>
