<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rwww_kksg_wjxh_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{201,3}}</string>
                <key>offset</key>
                <string>{117,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,8},{201,3}}</string>
                <key>sourceSize</key>
                <string>{463,21}</string>
            </dict>
            <key>rwww_kksg_wjxh_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{257,3}}</string>
                <key>offset</key>
                <string>{103,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,8},{257,3}}</string>
                <key>sourceSize</key>
                <string>{463,21}</string>
            </dict>
            <key>rwww_kksg_wjxh_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,7},{297,5}}</string>
                <key>offset</key>
                <string>{83,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,7},{297,5}}</string>
                <key>sourceSize</key>
                <string>{463,21}</string>
            </dict>
            <key>rwww_kksg_wjxh_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,14},{337,5}}</string>
                <key>offset</key>
                <string>{63,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,7},{337,5}}</string>
                <key>sourceSize</key>
                <string>{463,21}</string>
            </dict>
            <key>rwww_kksg_wjxh_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,21},{375,7}}</string>
                <key>offset</key>
                <string>{44,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,6},{375,7}}</string>
                <key>sourceSize</key>
                <string>{463,21}</string>
            </dict>
            <key>rwww_kksg_wjxh_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{399,7}}</string>
                <key>offset</key>
                <string>{32,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,6},{399,7}}</string>
                <key>sourceSize</key>
                <string>{463,21}</string>
            </dict>
            <key>rwww_kksg_wjxh_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{407,5}}</string>
                <key>offset</key>
                <string>{28,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,7},{407,5}}</string>
                <key>sourceSize</key>
                <string>{463,21}</string>
            </dict>
            <key>rwww_kksg_wjxh_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{377,5}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,7},{377,5}}</string>
                <key>sourceSize</key>
                <string>{463,21}</string>
            </dict>
            <key>rwww_kksg_wjxh_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{343,5}}</string>
                <key>offset</key>
                <string>{-20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,7},{343,5}}</string>
                <key>sourceSize</key>
                <string>{463,21}</string>
            </dict>
            <key>rwww_kksg_wjxh_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{301,3}}</string>
                <key>offset</key>
                <string>{-47,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,8},{301,3}}</string>
                <key>sourceSize</key>
                <string>{463,21}</string>
            </dict>
            <key>rwww_kksg_wjxh_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{257,3}}</string>
                <key>offset</key>
                <string>{-75,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{257,3}}</string>
                <key>sourceSize</key>
                <string>{463,21}</string>
            </dict>
            <key>rwww_kksg_wjxh_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,65},{181,3}}</string>
                <key>offset</key>
                <string>{-110,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,8},{181,3}}</string>
                <key>sourceSize</key>
                <string>{463,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rwww_kksg_wjxh.png</string>
            <key>size</key>
            <string>{464,70}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11f8f548b32477dec2573848a1e2c42d$</string>
            <key>textureFileName</key>
            <string>rwww_kksg_wjxh.png</string>
        </dict>
    </dict>
</plist>
