<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_jssj_zjm_2x3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,39},{19,31}}</string>
                <key>offset</key>
                <string>{43,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,6},{19,31}}</string>
                <key>sourceSize</key>
                <string>{109,43}</string>
            </dict>
            <key>sg_jssj_zjm_2x3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1},{37,35}}</string>
                <key>offset</key>
                <string>{35,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,6},{37,35}}</string>
                <key>sourceSize</key>
                <string>{109,43}</string>
            </dict>
            <key>sg_jssj_zjm_2x3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,177},{55,39}}</string>
                <key>offset</key>
                <string>{26,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,3},{55,39}}</string>
                <key>sourceSize</key>
                <string>{109,43}</string>
            </dict>
            <key>sg_jssj_zjm_2x3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,169},{67,41}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,1},{67,41}}</string>
                <key>sourceSize</key>
                <string>{109,43}</string>
            </dict>
            <key>sg_jssj_zjm_2x3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,133},{79,43}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{79,43}}</string>
                <key>sourceSize</key>
                <string>{109,43}</string>
            </dict>
            <key>sg_jssj_zjm_2x3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,45},{87,43}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{87,43}}</string>
                <key>sourceSize</key>
                <string>{109,43}</string>
            </dict>
            <key>sg_jssj_zjm_2x3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{89,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{89,43}}</string>
                <key>sourceSize</key>
                <string>{109,43}</string>
            </dict>
            <key>sg_jssj_zjm_2x3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,89},{83,43}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{83,43}}</string>
                <key>sourceSize</key>
                <string>{109,43}</string>
            </dict>
            <key>sg_jssj_zjm_2x3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,99},{69,41}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{69,41}}</string>
                <key>sourceSize</key>
                <string>{109,43}</string>
            </dict>
            <key>sg_jssj_zjm_2x3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,177},{55,39}}</string>
                <key>offset</key>
                <string>{-27,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{55,39}}</string>
                <key>sourceSize</key>
                <string>{109,43}</string>
            </dict>
            <key>sg_jssj_zjm_2x3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,59},{37,25}}</string>
                <key>offset</key>
                <string>{-36,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{37,25}}</string>
                <key>sourceSize</key>
                <string>{109,43}</string>
            </dict>
            <key>sg_jssj_zjm_2x3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,85},{23,13}}</string>
                <key>offset</key>
                <string>{-43,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{23,13}}</string>
                <key>sourceSize</key>
                <string>{109,43}</string>
            </dict>
            <key>sg_jssj_zjm_2x3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,39},{5,3}}</string>
                <key>offset</key>
                <string>{-52,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{5,3}}</string>
                <key>sourceSize</key>
                <string>{109,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sg_jssj_zjm_2x3.png</string>
            <key>size</key>
            <string>{127,237}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f147bd0681e03bd6ae55b36b32fc33a$</string>
            <key>textureFileName</key>
            <string>sg_jssj_zjm_2x3.png</string>
        </dict>
    </dict>
</plist>
