<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_jssj_zjm_2s3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,124},{17,18}}</string>
                <key>offset</key>
                <string>{20,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,106},{17,18}}</string>
                <key>sourceSize</key>
                <string>{69,128}</string>
            </dict>
            <key>sg_jssj_zjm_2s3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,31},{27,22}}</string>
                <key>offset</key>
                <string>{15,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,102},{27,22}}</string>
                <key>sourceSize</key>
                <string>{69,128}</string>
            </dict>
            <key>sg_jssj_zjm_2s3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,59},{35,28}}</string>
                <key>offset</key>
                <string>{11,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,95},{35,28}}</string>
                <key>sourceSize</key>
                <string>{69,128}</string>
            </dict>
            <key>sg_jssj_zjm_2s3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,51},{43,34}}</string>
                <key>offset</key>
                <string>{6,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,88},{43,34}}</string>
                <key>sourceSize</key>
                <string>{69,128}</string>
            </dict>
            <key>sg_jssj_zjm_2s3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,95},{41,38}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,78},{41,38}}</string>
                <key>sourceSize</key>
                <string>{69,128}</string>
            </dict>
            <key>sg_jssj_zjm_2s3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,69},{37,42}}</string>
                <key>offset</key>
                <string>{-8,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,67},{37,42}}</string>
                <key>sourceSize</key>
                <string>{69,128}</string>
            </dict>
            <key>sg_jssj_zjm_2s3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,21},{29,48}}</string>
                <key>offset</key>
                <string>{-14,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,53},{29,48}}</string>
                <key>sourceSize</key>
                <string>{69,128}</string>
            </dict>
            <key>sg_jssj_zjm_2s3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{19,52}}</string>
                <key>offset</key>
                <string>{-19,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,40},{19,52}}</string>
                <key>sourceSize</key>
                <string>{69,128}</string>
            </dict>
            <key>sg_jssj_zjm_2s3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,1},{13,52}}</string>
                <key>offset</key>
                <string>{-22,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,28},{13,52}}</string>
                <key>sourceSize</key>
                <string>{69,128}</string>
            </dict>
            <key>sg_jssj_zjm_2s3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,15},{21,50}}</string>
                <key>offset</key>
                <string>{-19,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,17},{21,50}}</string>
                <key>sourceSize</key>
                <string>{69,128}</string>
            </dict>
            <key>sg_jssj_zjm_2s3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,37},{31,46}}</string>
                <key>offset</key>
                <string>{-13,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{31,46}}</string>
                <key>sourceSize</key>
                <string>{69,128}</string>
            </dict>
            <key>sg_jssj_zjm_2s3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,86},{37,38}}</string>
                <key>offset</key>
                <string>{-8,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{37,38}}</string>
                <key>sourceSize</key>
                <string>{69,128}</string>
            </dict>
            <key>sg_jssj_zjm_2s3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,107},{33,28}}</string>
                <key>offset</key>
                <string>{-4,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{33,28}}</string>
                <key>sourceSize</key>
                <string>{69,128}</string>
            </dict>
            <key>sg_jssj_zjm_2s3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,1},{29,18}}</string>
                <key>offset</key>
                <string>{0,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{29,18}}</string>
                <key>sourceSize</key>
                <string>{69,128}</string>
            </dict>
            <key>sg_jssj_zjm_2s3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,107},{17,12}}</string>
                <key>offset</key>
                <string>{5,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,2},{17,12}}</string>
                <key>sourceSize</key>
                <string>{69,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sg_jssj_zjm_2s3.png</string>
            <key>size</key>
            <string>{128,142}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8c360db306961e4aedadf474b202582$</string>
            <key>textureFileName</key>
            <string>sg_jssj_zjm_2s3.png</string>
        </dict>
    </dict>
</plist>
