<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_sjdt_xbhz_x_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,160},{76,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,52}}</string>
                <key>sourceSize</key>
                <string>{76,54}</string>
            </dict>
            <key>sg_sjdt_xbhz_x_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,160},{76,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,52}}</string>
                <key>sourceSize</key>
                <string>{76,54}</string>
            </dict>
            <key>sg_sjdt_xbhz_x_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,160},{76,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,52}}</string>
                <key>sourceSize</key>
                <string>{76,54}</string>
            </dict>
            <key>sg_sjdt_xbhz_x_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,107},{76,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,52}}</string>
                <key>sourceSize</key>
                <string>{76,54}</string>
            </dict>
            <key>sg_sjdt_xbhz_x_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,107},{76,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,52}}</string>
                <key>sourceSize</key>
                <string>{76,54}</string>
            </dict>
            <key>sg_sjdt_xbhz_x_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,107},{76,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,52}}</string>
                <key>sourceSize</key>
                <string>{76,54}</string>
            </dict>
            <key>sg_sjdt_xbhz_x_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,54},{76,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,52}}</string>
                <key>sourceSize</key>
                <string>{76,54}</string>
            </dict>
            <key>sg_sjdt_xbhz_x_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,54},{76,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,52}}</string>
                <key>sourceSize</key>
                <string>{76,54}</string>
            </dict>
            <key>sg_sjdt_xbhz_x_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,54},{76,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,52}}</string>
                <key>sourceSize</key>
                <string>{76,54}</string>
            </dict>
            <key>sg_sjdt_xbhz_x_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1},{76,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,52}}</string>
                <key>sourceSize</key>
                <string>{76,54}</string>
            </dict>
            <key>sg_sjdt_xbhz_x_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1},{76,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,52}}</string>
                <key>sourceSize</key>
                <string>{76,54}</string>
            </dict>
            <key>sg_sjdt_xbhz_x_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{76,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,52}}</string>
                <key>sourceSize</key>
                <string>{76,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sg_sjdt_xbhz_x.png</string>
            <key>size</key>
            <string>{232,213}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04ba7ae0a6d03ac41d9a03907eef5426$</string>
            <key>textureFileName</key>
            <string>sg_sjdt_xbhz_x.png</string>
        </dict>
    </dict>
</plist>
