<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_sjdt_sjboss_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,967},{93,83}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,83}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>sg_sjdt_sjboss_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,881},{93,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,85}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>sg_sjdt_sjboss_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,793},{93,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,87}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>sg_sjdt_sjboss_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,705},{93,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,87}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>sg_sjdt_sjboss_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,617},{93,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,87}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>sg_sjdt_sjboss_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,529},{93,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,87}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>sg_sjdt_sjboss_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,441},{93,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,87}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>sg_sjdt_sjboss_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,353},{93,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,87}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>sg_sjdt_sjboss_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,265},{93,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,87}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>sg_sjdt_sjboss_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,177},{93,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,87}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>sg_sjdt_sjboss_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,89},{93,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,87}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>sg_sjdt_sjboss_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{93,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,87}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sg_sjdt_sjboss.png</string>
            <key>size</key>
            <string>{95,1051}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d4b76171b87c59c41f41fc7f9368c32$</string>
            <key>textureFileName</key>
            <string>sg_sjdt_sjboss.png</string>
        </dict>
    </dict>
</plist>
