<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_sjdt_csdtx_sa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,342},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{28,23}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>sg_sjdt_csdtx_sa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,363},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{28,23}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>sg_sjdt_csdtx_sa_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,339},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{28,23}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>sg_sjdt_csdtx_sa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,315},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{28,23}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>sg_sjdt_csdtx_sa_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,265},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{28,25}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>sg_sjdt_csdtx_sa_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,428},{30,23}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>sg_sjdt_csdtx_sa_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,459},{30,23}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>sg_sjdt_csdtx_sa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,150},{30,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{30,21}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>sg_sjdt_csdtx_sa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,435},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{30,23}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>sg_sjdt_csdtx_sa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,117},{32,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{32,21}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>sg_sjdt_csdtx_sa_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,84},{32,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{32,21}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>sg_sjdt_csdtx_sa_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,387},{32,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,23}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>sg_sjdt_csdtx_sa_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,411},{30,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,23}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>sg_sjdt_csdtx_sa_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,291},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{28,23}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>sg_sjdt_csdtx_sa_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,239},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{28,25}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>sg_sjdt_csdtx_sa_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,210},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{28,25}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>sg_sjdt_csdtx_sa_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,181},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{28,25}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>sg_sjdt_csdtx_sa_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,397},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{30,23}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>sg_sjdt_csdtx_sa_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,366},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{30,23}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,579},{73,82}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,17},{73,82}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,633},{77,82}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,17},{77,82}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1},{107,82}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{107,82}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,77},{101,90}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{101,90}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,464},{77,84}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,16},{77,84}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,402},{85,84}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{85,84}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,84},{75,94}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,8},{75,94}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,168},{79,92}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{79,92}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,160},{73,94}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,12},{73,94}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,84},{73,98}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{73,98}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1},{75,102}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,9},{75,102}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,310},{75,92}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,12},{75,92}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,342},{75,86}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,14},{75,86}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,618},{75,84}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,16},{75,84}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,616},{75,84}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,16},{75,84}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,563},{75,84}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,16},{75,84}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,308},{79,86}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,16},{79,86}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,386},{77,86}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,17},{77,86}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,388},{75,86}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,17},{75,86}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,314},{73,92}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,10},{73,92}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,501},{77,84}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,17},{77,84}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{107,82}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{107,82}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,77},{101,80}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{101,80}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,579},{77,82}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,17},{77,82}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,418},{85,82}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{85,82}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,248},{75,92}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,7},{75,92}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,232},{81,92}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{81,92}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,158},{73,94}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,12},{73,94}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,158},{73,98}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{73,98}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1},{75,102}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,9},{75,102}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,232},{75,92}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,12},{75,92}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,557},{75,84}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,16},{75,84}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,542},{75,84}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,16},{75,84}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,540},{75,84}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,16},{75,84}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,487},{75,84}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,16},{75,84}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,81},{75,90}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{75,90}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,464},{75,84}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,16},{75,84}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,694},{73,82}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,18},{73,82}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,692},{73,82}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,18},{73,82}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,473},{83,84}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,18},{83,84}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,157},{97,86}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,17},{97,86}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,255},{91,86}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{91,86}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,324},{77,86}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,16},{77,86}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,388},{85,84}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{85,84}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,234},{75,92}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,8},{75,92}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,1},{79,88}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{79,88}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,711},{73,80}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{73,80}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,657},{73,80}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,12},{73,80}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,639},{75,82}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,10},{75,82}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,653},{75,80}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,12},{75,80}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,766},{75,72}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{75,72}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,715},{75,72}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{75,72}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,768},{75,70}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{75,70}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,729},{75,66}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,25},{75,66}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,731},{75,64}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,26},{75,64}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,785},{73,62}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,27},{73,62}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>sg_sjdt_zdtx_sa_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,788},{73,46}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,27},{73,46}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sg_sjdt_zdtx_sa.png</string>
            <key>size</key>
            <string>{512,848}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:623a11a475b827a6263b8bc6ad9b181e$</string>
            <key>textureFileName</key>
            <string>sg_sjdt_zdtx_sa.png</string>
        </dict>
    </dict>
</plist>
