<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_smby_taoyue_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,48},{28,17}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{28,17}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>sg_smby_taoyue_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,92},{44,15}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{44,15}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>sg_smby_taoyue_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,92},{14,11}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{14,11}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>sg_smby_taoyue_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,78},{18,13}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{18,13}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>sg_smby_taoyue_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,25},{22,21}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>sg_smby_taoyue_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,1},{24,23}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{24,23}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>sg_smby_taoyue_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,191},{36,37}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>sg_smby_taoyue_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,115},{44,37}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{44,37}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>sg_smby_taoyue_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{50,37}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{50,37}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>sg_smby_taoyue_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,175},{34,37}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>sg_smby_taoyue_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,161},{36,37}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>sg_smby_taoyue_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,137},{38,37}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>sg_smby_taoyue_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,153},{40,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{40,37}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>sg_smby_taoyue_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,123},{42,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{42,37}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>sg_smby_taoyue_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,47},{46,37}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{46,37}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>sg_smby_taoyue_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,39},{46,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{46,37}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>sg_smby_taoyue_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,21},{48,25}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{48,25}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>sg_smby_taoyue_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,1},{50,13}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{50,13}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>sg_smby_taoyue_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,15},{50,5}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,30},{50,5}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>sg_smby_taoyue_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,85},{44,37}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{44,37}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>sg_smby_taoyue_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,77},{44,37}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{44,37}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>sg_smby_taoyue_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,72},{20,5}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,29},{20,5}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>sg_smby_taoyue_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,66},{22,5}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,29},{22,5}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>sg_smby_taoyue_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,66},{22,5}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{22,5}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>sg_smby_taoyue_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,77},{22,5}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,29},{22,5}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>sg_smby_taoyue_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,25},{22,3}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,31},{22,3}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>sg_smby_taoyue_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,39},{22,3}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,31},{22,3}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sg_smby_taoyue.png</string>
            <key>size</key>
            <string>{128,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24285c87991e085c9b3737b73efb21c8$</string>
            <key>textureFileName</key>
            <string>sg_smby_taoyue.png</string>
        </dict>
    </dict>
</plist>
