<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_tx_jmtx_smjsj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,109},{80,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,105}}</string>
                <key>sourceSize</key>
                <string>{80,105}</string>
            </dict>
            <key>sg_tx_jmtx_smjsj_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{80,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,105}}</string>
                <key>sourceSize</key>
                <string>{80,105}</string>
            </dict>
            <key>sg_tx_jmtx_smjsj_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,109},{80,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,105}}</string>
                <key>sourceSize</key>
                <string>{80,105}</string>
            </dict>
            <key>sg_tx_jmtx_smjsj_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,216},{80,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,105}}</string>
                <key>sourceSize</key>
                <string>{80,105}</string>
            </dict>
            <key>sg_tx_jmtx_smjsj_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,216},{80,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,105}}</string>
                <key>sourceSize</key>
                <string>{80,105}</string>
            </dict>
            <key>sg_tx_jmtx_smjsj_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,216},{80,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,105}}</string>
                <key>sourceSize</key>
                <string>{80,105}</string>
            </dict>
            <key>sg_tx_jmtx_smjsj_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,216},{80,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,105}}</string>
                <key>sourceSize</key>
                <string>{80,105}</string>
            </dict>
            <key>sg_tx_jmtx_smjsj_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,216},{80,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,105}}</string>
                <key>sourceSize</key>
                <string>{80,105}</string>
            </dict>
            <key>sg_tx_jmtx_smjsj_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,109},{80,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,105}}</string>
                <key>sourceSize</key>
                <string>{80,105}</string>
            </dict>
            <key>sg_tx_jmtx_smjsj_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,109},{80,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,105}}</string>
                <key>sourceSize</key>
                <string>{80,105}</string>
            </dict>
            <key>sg_tx_jmtx_smjsj_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,105}}</string>
                <key>sourceSize</key>
                <string>{80,105}</string>
            </dict>
            <key>sg_tx_jmtx_smjsj_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,105}}</string>
                <key>sourceSize</key>
                <string>{80,105}</string>
            </dict>
            <key>sg_tx_jmtx_smjsj_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{80,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,105}}</string>
                <key>sourceSize</key>
                <string>{80,105}</string>
            </dict>
            <key>sg_tx_jmtx_smjsj_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{80,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,105}}</string>
                <key>sourceSize</key>
                <string>{80,105}</string>
            </dict>
            <key>sg_tx_jmtx_smjsj_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{80,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,105}}</string>
                <key>sourceSize</key>
                <string>{80,105}</string>
            </dict>
            <key>sg_tx_jmtx_smjsj_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,109},{80,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,105}}</string>
                <key>sourceSize</key>
                <string>{80,105}</string>
            </dict>
            <key>sg_tx_jmtx_smjsj_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{80,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,105}}</string>
                <key>sourceSize</key>
                <string>{80,105}</string>
            </dict>
            <key>sg_tx_jmtx_smjsj_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{80,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,105}}</string>
                <key>sourceSize</key>
                <string>{80,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sg_tx_jmtx_smjsj.png</string>
            <key>size</key>
            <string>{494,323}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b90d344504de56a671ef47d5d3886da9$</string>
            <key>textureFileName</key>
            <string>sg_tx_jmtx_smjsj.png</string>
        </dict>
    </dict>
</plist>
