<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_xldb_yw_x_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,0},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{79,70}</string>
            </dict>
            <key>sg_xldb_yw_x_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,0},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{79,70}</string>
            </dict>
            <key>sg_xldb_yw_x_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,0},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{79,70}</string>
            </dict>
            <key>sg_xldb_yw_x_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,0},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{79,70}</string>
            </dict>
            <key>sg_xldb_yw_x_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,0},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{79,70}</string>
            </dict>
            <key>sg_xldb_yw_x_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,0},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{79,70}</string>
            </dict>
            <key>sg_xldb_yw_x_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,0},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{79,70}</string>
            </dict>
            <key>sg_xldb_yw_x_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,0},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{79,70}</string>
            </dict>
            <key>sg_xldb_yw_x_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,0},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{79,70}</string>
            </dict>
            <key>sg_xldb_yw_x_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,0},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{79,70}</string>
            </dict>
            <key>sg_xldb_yw_x_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,0},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{79,70}</string>
            </dict>
            <key>sg_xldb_yw_x_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,0},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{79,70}</string>
            </dict>
            <key>sg_xldb_yw_y_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{71,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,74}}</string>
                <key>sourceSize</key>
                <string>{71,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sg_xldb_yw_x.png</string>
            <key>size</key>
            <string>{911,74}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78a3ea83aecb5a5ea5d2fd308ab0cffe$</string>
            <key>textureFileName</key>
            <string>sg_xldb_yw_x.png</string>
        </dict>
    </dict>
</plist>
