<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_xlb_qbx_x_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{24,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,49}}</string>
                <key>sourceSize</key>
                <string>{24,49}</string>
            </dict>
            <key>sg_xlb_qbx_x_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,1},{24,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,49}}</string>
                <key>sourceSize</key>
                <string>{24,49}</string>
            </dict>
            <key>sg_xlb_qbx_x_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,1},{24,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,49}}</string>
                <key>sourceSize</key>
                <string>{24,49}</string>
            </dict>
            <key>sg_xlb_qbx_x_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1},{24,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,49}}</string>
                <key>sourceSize</key>
                <string>{24,49}</string>
            </dict>
            <key>sg_xlb_qbx_x_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1},{24,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,49}}</string>
                <key>sourceSize</key>
                <string>{24,49}</string>
            </dict>
            <key>sg_xlb_qbx_x_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1},{24,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,49}}</string>
                <key>sourceSize</key>
                <string>{24,49}</string>
            </dict>
            <key>sg_xlb_qbx_x_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1},{24,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,49}}</string>
                <key>sourceSize</key>
                <string>{24,49}</string>
            </dict>
            <key>sg_xlb_qbx_x_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1},{24,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,49}}</string>
                <key>sourceSize</key>
                <string>{24,49}</string>
            </dict>
            <key>sg_xlb_qbx_x_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1},{24,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,49}}</string>
                <key>sourceSize</key>
                <string>{24,49}</string>
            </dict>
            <key>sg_xlb_qbx_x_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1},{24,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,49}}</string>
                <key>sourceSize</key>
                <string>{24,49}</string>
            </dict>
            <key>sg_xlb_qbx_x_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1},{24,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,49}}</string>
                <key>sourceSize</key>
                <string>{24,49}</string>
            </dict>
            <key>sg_xlb_qbx_x_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1},{24,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,49}}</string>
                <key>sourceSize</key>
                <string>{24,49}</string>
            </dict>
            <key>sg_xlb_qbx_x_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1},{24,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,49}}</string>
                <key>sourceSize</key>
                <string>{24,49}</string>
            </dict>
            <key>sg_xlb_qbx_x_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1},{24,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,49}}</string>
                <key>sourceSize</key>
                <string>{24,49}</string>
            </dict>
            <key>sg_xlb_qbx_x_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1},{24,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,49}}</string>
                <key>sourceSize</key>
                <string>{24,49}</string>
            </dict>
            <key>sg_xlb_qbx_x_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1},{24,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,49}}</string>
                <key>sourceSize</key>
                <string>{24,49}</string>
            </dict>
            <key>sg_xlb_qbx_x_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1},{24,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,49}}</string>
                <key>sourceSize</key>
                <string>{24,49}</string>
            </dict>
            <key>sg_xlb_qbx_x_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1},{24,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,49}}</string>
                <key>sourceSize</key>
                <string>{24,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sg_xlb_qbx_x.png</string>
            <key>size</key>
            <string>{451,51}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6fbe04e127a997e9161947718b7ab0b$</string>
            <key>textureFileName</key>
            <string>sg_xlb_qbx_x.png</string>
        </dict>
    </dict>
</plist>
