<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_zjm_bbgjdj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,113},{38,39}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{38,39}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>sg_zjm_bbgjdj_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,193},{38,45}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{38,45}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>sg_zjm_bbgjdj_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,73},{54,39}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{54,39}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>sg_zjm_bbgjdj_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,113},{38,39}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{38,39}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>sg_zjm_bbgjdj_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,153},{38,39}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{38,39}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>sg_zjm_bbgjdj_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,153},{40,39}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{40,39}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>sg_zjm_bbgjdj_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,113},{38,39}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{38,39}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>sg_zjm_bbgjdj_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,113},{38,39}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{38,39}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>sg_zjm_bbgjdj_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,113},{38,39}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{38,39}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>sg_zjm_bbgjdj_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,113},{38,39}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{38,39}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>sg_zjm_bbgjdj_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,153},{40,39}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{40,39}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>sg_zjm_bbgjdj_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,193},{44,57}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{44,57}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>sg_zjm_bbgjdj_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,193},{48,55}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{48,55}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>sg_zjm_bbgjdj_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,1},{42,31}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,27},{42,31}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>sg_zjm_bbgjdj_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,1},{44,31}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,27},{44,31}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>sg_zjm_bbgjdj_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{42,31}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,27},{42,31}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>sg_zjm_bbgjdj_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1},{42,33}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{42,33}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>sg_zjm_bbgjdj_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1},{42,33}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{42,33}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>sg_zjm_bbgjdj_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,35},{44,35}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{44,35}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>sg_zjm_bbgjdj_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,73},{44,37}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{44,37}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>sg_zjm_bbgjdj_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,153},{40,39}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{40,39}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>sg_zjm_bbgjdj_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,153},{40,39}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{40,39}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>sg_zjm_bbgjdj_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,193},{44,45}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{44,45}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>sg_zjm_bbgjdj_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,193},{64,45}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{64,45}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>sg_zjm_bbgjdj_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,35},{40,37}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{40,37}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>sg_zjm_bbgjdj_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,73},{44,37}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{44,37}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>sg_zjm_bbgjdj_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,73},{42,37}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{42,37}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>sg_zjm_bbgjdj_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,35},{40,37}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{40,37}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>sg_zjm_bbgjdj_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,35},{40,37}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{40,37}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>sg_zjm_bbgjdj_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,35},{44,37}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{44,37}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>sg_zjm_bbgjdj_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,73},{44,39}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{44,39}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>sg_zjm_bbgjdj_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,153},{38,39}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{38,39}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sg_zjm_bbgjdj.png</string>
            <key>size</key>
            <string>{244,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7584e8163a54a897609fb8e122bb2a97$</string>
            <key>textureFileName</key>
            <string>sg_zjm_bbgjdj.png</string>
        </dict>
    </dict>
</plist>
