<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_zjm_blsqt_sfx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,53},{27,27}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>sg_zjm_blsqt_sfx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,53},{27,27}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>sg_zjm_blsqt_sfx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,1},{29,25}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{29,25}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>sg_zjm_blsqt_sfx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,1},{29,25}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{29,25}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>sg_zjm_blsqt_sfx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,27},{31,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{31,25}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>sg_zjm_blsqt_sfx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,49},{27,27}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{27,27}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>sg_zjm_blsqt_sfx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,27},{25,25}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{25,25}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>sg_zjm_blsqt_sfx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,27},{27,25}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{27,25}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>sg_zjm_blsqt_sfx_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,23},{29,25}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{29,25}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>sg_zjm_blsqt_sfx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1},{29,25}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{29,25}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>sg_zjm_blsqt_sfx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{31,21}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{31,21}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>sg_zjm_blsqt_sfx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,53},{31,27}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,27}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sg_zjm_blsqt_sfx.png</string>
            <key>size</key>
            <string>{123,81}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65a8c6da961b4fab3091b996e91ab134$</string>
            <key>textureFileName</key>
            <string>sg_zjm_blsqt_sfx.png</string>
        </dict>
    </dict>
</plist>
