<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_zjm_ddh_xfs_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,65},{41,37}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{41,37}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>sg_zjm_ddh_xfs_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,63},{43,33}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{43,33}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>sg_zjm_ddh_xfs_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,31},{43,31}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{43,31}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>sg_zjm_ddh_xfs_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1},{41,29}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{41,29}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>sg_zjm_ddh_xfs_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,1},{41,29}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{41,29}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>sg_zjm_ddh_xfs_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,1},{41,29}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{41,29}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>sg_zjm_ddh_xfs_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1},{39,29}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{39,29}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>sg_zjm_ddh_xfs_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,31},{37,29}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{37,29}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>sg_zjm_ddh_xfs_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1},{37,29}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{37,29}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>sg_zjm_ddh_xfs_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{35,29}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{35,29}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>sg_zjm_ddh_xfs_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,31},{35,31}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{35,31}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>sg_zjm_ddh_xfs_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,31},{35,31}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{35,31}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>sg_zjm_ddh_xfs_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,31},{35,33}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{35,33}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>sg_zjm_ddh_xfs_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,31},{35,33}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{35,33}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>sg_zjm_ddh_xfs_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,63},{39,33}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{39,33}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>sg_zjm_ddh_xfs_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,63},{41,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{41,35}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>sg_zjm_ddh_xfs_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,65},{43,39}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{43,39}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>sg_zjm_ddh_xfs_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,105},{43,41}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>sg_zjm_ddh_xfs_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,137},{41,41}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>sg_zjm_ddh_xfs_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,137},{41,41}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>sg_zjm_ddh_xfs_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,105},{41,41}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>sg_zjm_ddh_xfs_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,103},{41,41}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>sg_zjm_ddh_xfs_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,99},{41,41}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>sg_zjm_ddh_xfs_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,97},{41,39}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{41,39}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>sg_zjm_ddh_xfs_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,97},{41,39}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{41,39}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>sg_zjm_ddh_xfs_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,65},{41,39}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{41,39}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sg_zjm_ddh_xfs.png</string>
            <key>size</key>
            <string>{255,179}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74640f440af955b336e01231e724b165$</string>
            <key>textureFileName</key>
            <string>sg_zjm_ddh_xfs.png</string>
        </dict>
    </dict>
</plist>
