<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>v1_img_guojia_renwubaoxiang2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,38}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{64,38}}</string>
                <key>sourceSize</key>
                <string>{76,50}</string>
            </dict>
            <key>v1_img_guojia_renwubaoxiang2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{100,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,95}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_treasurebox.png</string>
            <key>size</key>
            <string>{104,139}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d85fe1d6277fe271e668e04f298e25d$</string>
            <key>textureFileName</key>
            <string>tx_treasurebox.png</string>
        </dict>
    </dict>
</plist>
