<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rwww_jjc_qz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{18,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,84}}</string>
                <key>sourceSize</key>
                <string>{18,86}</string>
            </dict>
            <key>rwww_jjc_qz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{18,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,84}}</string>
                <key>sourceSize</key>
                <string>{18,86}</string>
            </dict>
            <key>rwww_jjc_qz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{18,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,84}}</string>
                <key>sourceSize</key>
                <string>{18,86}</string>
            </dict>
            <key>rwww_jjc_qz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,88},{18,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,84}}</string>
                <key>sourceSize</key>
                <string>{18,86}</string>
            </dict>
            <key>rwww_jjc_qz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,88},{18,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,84}}</string>
                <key>sourceSize</key>
                <string>{18,86}</string>
            </dict>
            <key>rwww_jjc_qz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{18,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,84}}</string>
                <key>sourceSize</key>
                <string>{18,86}</string>
            </dict>
            <key>rwww_jjc_qz_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{18,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,84}}</string>
                <key>sourceSize</key>
                <string>{18,86}</string>
            </dict>
            <key>rwww_jjc_qz_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{18,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,84}}</string>
                <key>sourceSize</key>
                <string>{18,86}</string>
            </dict>
            <key>rwww_jjc_qz_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{18,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,84}}</string>
                <key>sourceSize</key>
                <string>{18,86}</string>
            </dict>
            <key>rwww_jjc_qz_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{18,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,84}}</string>
                <key>sourceSize</key>
                <string>{18,86}</string>
            </dict>
            <key>rwww_jjc_qz_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{18,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,84}}</string>
                <key>sourceSize</key>
                <string>{18,86}</string>
            </dict>
            <key>rwww_jjc_qz_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{18,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,84}}</string>
                <key>sourceSize</key>
                <string>{18,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rwww_jjc_qz.png</string>
            <key>size</key>
            <string>{128,174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:727b46bf2958cd786d31a499fd46054a$</string>
            <key>textureFileName</key>
            <string>rwww_jjc_qz.png</string>
        </dict>
    </dict>
</plist>
