<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_by_zysj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,65},{34,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{34,23}}</string>
                <key>sourceSize</key>
                <string>{38,33}</string>
            </dict>
            <key>sg_by_zysj_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,164},{22,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{22,31}}</string>
                <key>sourceSize</key>
                <string>{38,33}</string>
            </dict>
            <key>sg_by_zysj_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,103},{36,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{36,17}}</string>
                <key>sourceSize</key>
                <string>{38,33}</string>
            </dict>
            <key>sg_by_zysj_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,185},{14,29}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{14,29}}</string>
                <key>sourceSize</key>
                <string>{38,33}</string>
            </dict>
            <key>sg_by_zysj_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,115},{34,17}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{34,17}}</string>
                <key>sourceSize</key>
                <string>{38,33}</string>
            </dict>
            <key>sg_by_zysj_dc_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,133},{30,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>sg_by_zysj_dc_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,102},{20,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{20,46}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>sg_by_zysj_dc_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,140},{22,44}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{22,44}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>sg_by_zysj_dc_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,123},{16,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{16,46}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>sg_by_zysj_dc_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,75},{26,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{26,46}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>sg_by_zysj_gk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,193},{28,29}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{28,29}}</string>
                <key>sourceSize</key>
                <string>{38,33}</string>
            </dict>
            <key>sg_by_zysj_gk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,35},{34,29}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{34,29}}</string>
                <key>sourceSize</key>
                <string>{38,33}</string>
            </dict>
            <key>sg_by_zysj_gk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,89},{36,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{36,25}}</string>
                <key>sourceSize</key>
                <string>{38,33}</string>
            </dict>
            <key>sg_by_zysj_gk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1},{34,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{38,33}</string>
            </dict>
            <key>sg_by_zysj_gk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,75},{38,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{38,27}}</string>
                <key>sourceSize</key>
                <string>{38,33}</string>
            </dict>
            <key>sg_by_zysj_jb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,163},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>sg_by_zysj_jb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,164},{31,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{31,15}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>sg_by_zysj_jb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,153},{31,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,33}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>sg_by_zysj_jb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,185},{31,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{31,17}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>sg_by_zysj_jb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,121},{31,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,33}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>sg_zszy_sswrgm_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{90,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,73}}</string>
                <key>sourceSize</key>
                <string>{90,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sg_by_zysj.png</string>
            <key>size</key>
            <string>{128,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7662942fbe64bc5138f08e2aff1e8a3$</string>
            <key>textureFileName</key>
            <string>sg_by_zysj.png</string>
        </dict>
    </dict>
</plist>
