<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_jmtx_hdwpdh_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{76,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,160}}</string>
                <key>sourceSize</key>
                <string>{76,160}</string>
            </dict>
            <key>sg_jmtx_hdwpdh_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1},{76,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,160}}</string>
                <key>sourceSize</key>
                <string>{76,160}</string>
            </dict>
            <key>sg_jmtx_hdwpdh_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1},{76,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,160}}</string>
                <key>sourceSize</key>
                <string>{76,160}</string>
            </dict>
            <key>sg_jmtx_hdwpdh_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1},{76,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,160}}</string>
                <key>sourceSize</key>
                <string>{76,160}</string>
            </dict>
            <key>sg_jmtx_hdwpdh_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1},{76,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,160}}</string>
                <key>sourceSize</key>
                <string>{76,160}</string>
            </dict>
            <key>sg_jmtx_hdwpdh_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1},{76,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,160}}</string>
                <key>sourceSize</key>
                <string>{76,160}</string>
            </dict>
            <key>sg_jmtx_hdwpdh_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1},{76,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,160}}</string>
                <key>sourceSize</key>
                <string>{76,160}</string>
            </dict>
            <key>sg_jmtx_hdwpdh_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1},{76,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,160}}</string>
                <key>sourceSize</key>
                <string>{76,160}</string>
            </dict>
            <key>sg_jmtx_hdwpdh_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,1},{76,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,160}}</string>
                <key>sourceSize</key>
                <string>{76,160}</string>
            </dict>
            <key>sg_jmtx_hdwpdh_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1},{76,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,160}}</string>
                <key>sourceSize</key>
                <string>{76,160}</string>
            </dict>
            <key>sg_jmtx_hdwpdh_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,1},{76,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,160}}</string>
                <key>sourceSize</key>
                <string>{76,160}</string>
            </dict>
            <key>sg_jmtx_hdwpdh_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1},{76,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,160}}</string>
                <key>sourceSize</key>
                <string>{76,160}</string>
            </dict>
            <key>sg_jmtx_hdwpdh_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,1},{76,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,160}}</string>
                <key>sourceSize</key>
                <string>{76,160}</string>
            </dict>
            <key>sg_jmtx_hdwpdh_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,1},{76,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,160}}</string>
                <key>sourceSize</key>
                <string>{76,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sg_jmtx_hdwpdh.png</string>
            <key>size</key>
            <string>{1079,162}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:993cd7acad733a1c3db09deb21c53b88$</string>
            <key>textureFileName</key>
            <string>sg_jmtx_hdwpdh.png</string>
        </dict>
    </dict>
</plist>
