<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_mw_sdx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{39,132}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{39,132}}</string>
                <key>sourceSize</key>
                <string>{41,136}</string>
            </dict>
            <key>sg_mw_sdx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,82},{37,132}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{37,132}}</string>
                <key>sourceSize</key>
                <string>{41,136}</string>
            </dict>
            <key>sg_mw_sdx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{37,134}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,134}}</string>
                <key>sourceSize</key>
                <string>{41,136}</string>
            </dict>
            <key>sg_mw_sdx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{35,134}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{35,134}}</string>
                <key>sourceSize</key>
                <string>{41,136}</string>
            </dict>
            <key>sg_mw_sdx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{37,134}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,134}}</string>
                <key>sourceSize</key>
                <string>{41,136}</string>
            </dict>
            <key>sg_mw_sdx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,82},{37,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{37,132}}</string>
                <key>sourceSize</key>
                <string>{41,136}</string>
            </dict>
            <key>sg_mw_sdx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,41},{39,132}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{39,132}}</string>
                <key>sourceSize</key>
                <string>{41,136}</string>
            </dict>
            <key>sg_mw_sdx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,162},{39,130}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{39,130}}</string>
                <key>sourceSize</key>
                <string>{41,136}</string>
            </dict>
            <key>sg_mw_sdx_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,121},{39,130}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{39,130}}</string>
                <key>sourceSize</key>
                <string>{41,136}</string>
            </dict>
            <key>sg_mw_sdx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{41,130}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{41,130}}</string>
                <key>sourceSize</key>
                <string>{41,136}</string>
            </dict>
            <key>sg_mw_sdx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,39},{41,132}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{41,132}}</string>
                <key>sourceSize</key>
                <string>{41,136}</string>
            </dict>
            <key>sg_mw_sdx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,121},{41,130}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{41,130}}</string>
                <key>sourceSize</key>
                <string>{41,136}</string>
            </dict>
            <key>sg_mw_sdx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{39,132}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{39,132}}</string>
                <key>sourceSize</key>
                <string>{41,136}</string>
            </dict>
            <key>sg_mw_xds_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,726},{38,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{38,120}}</string>
                <key>sourceSize</key>
                <string>{40,130}</string>
            </dict>
            <key>sg_mw_xds_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,615},{36,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{36,122}}</string>
                <key>sourceSize</key>
                <string>{40,130}</string>
            </dict>
            <key>sg_mw_xds_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,581},{36,122}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{36,122}}</string>
                <key>sourceSize</key>
                <string>{40,130}</string>
            </dict>
            <key>sg_mw_xds_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,405},{34,124}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{34,124}}</string>
                <key>sourceSize</key>
                <string>{40,130}</string>
            </dict>
            <key>sg_mw_xds_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{36,126}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{36,126}}</string>
                <key>sourceSize</key>
                <string>{40,130}</string>
            </dict>
            <key>sg_mw_xds_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,203},{36,128}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{36,128}}</string>
                <key>sourceSize</key>
                <string>{40,130}</string>
            </dict>
            <key>sg_mw_xds_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{38,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,128}}</string>
                <key>sourceSize</key>
                <string>{40,130}</string>
            </dict>
            <key>sg_mw_xds_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,164},{38,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,128}}</string>
                <key>sourceSize</key>
                <string>{40,130}</string>
            </dict>
            <key>sg_mw_xds_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,303},{38,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,126}}</string>
                <key>sourceSize</key>
                <string>{40,130}</string>
            </dict>
            <key>sg_mw_xds_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,377},{40,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,124}}</string>
                <key>sourceSize</key>
                <string>{40,130}</string>
            </dict>
            <key>sg_mw_xds_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,570},{40,122}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,122}}</string>
                <key>sourceSize</key>
                <string>{40,130}</string>
            </dict>
            <key>sg_mw_xds_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,715},{40,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{40,120}}</string>
                <key>sourceSize</key>
                <string>{40,130}</string>
            </dict>
            <key>sg_mw_xds_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,684},{40,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{40,120}}</string>
                <key>sourceSize</key>
                <string>{40,130}</string>
            </dict>
            <key>sg_mw_zdy_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,844},{76,115}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{76,115}}</string>
                <key>sourceSize</key>
                <string>{88,119}</string>
            </dict>
            <key>sg_mw_zdy_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,817},{76,115}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{76,115}}</string>
                <key>sourceSize</key>
                <string>{88,119}</string>
            </dict>
            <key>sg_mw_zdy_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,762},{78,115}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{78,115}}</string>
                <key>sourceSize</key>
                <string>{88,119}</string>
            </dict>
            <key>sg_mw_zdy_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,921},{80,115}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{80,115}}</string>
                <key>sourceSize</key>
                <string>{88,119}</string>
            </dict>
            <key>sg_mw_zdy_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,839},{80,115}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{80,115}}</string>
                <key>sourceSize</key>
                <string>{88,119}</string>
            </dict>
            <key>sg_mw_zdy_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{82,117}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{82,117}}</string>
                <key>sourceSize</key>
                <string>{88,119}</string>
            </dict>
            <key>sg_mw_zdy_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,757},{80,117}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{80,117}}</string>
                <key>sourceSize</key>
                <string>{88,119}</string>
            </dict>
            <key>sg_mw_zdy_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,121},{80,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{80,119}}</string>
                <key>sourceSize</key>
                <string>{88,119}</string>
            </dict>
            <key>sg_mw_zdy_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,682},{78,117}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{78,117}}</string>
                <key>sourceSize</key>
                <string>{88,119}</string>
            </dict>
            <key>sg_mw_zdy_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,766},{76,117}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{76,117}}</string>
                <key>sourceSize</key>
                <string>{88,119}</string>
            </dict>
            <key>sg_mw_zdy_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,739},{76,117}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{76,117}}</string>
                <key>sourceSize</key>
                <string>{88,119}</string>
            </dict>
            <key>sg_mw_zdy_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,922},{74,115}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{74,115}}</string>
                <key>sourceSize</key>
                <string>{88,119}</string>
            </dict>
            <key>sg_mw_zdy_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,895},{74,115}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{74,115}}</string>
                <key>sourceSize</key>
                <string>{88,119}</string>
            </dict>
            <key>sg_mw_zsdyx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,555},{58,122}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{58,122}}</string>
                <key>sourceSize</key>
                <string>{68,128}</string>
            </dict>
            <key>sg_mw_zsdyx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,521},{58,122}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{58,122}}</string>
                <key>sourceSize</key>
                <string>{68,128}</string>
            </dict>
            <key>sg_mw_zsdyx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,393},{60,124}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{60,124}}</string>
                <key>sourceSize</key>
                <string>{68,128}</string>
            </dict>
            <key>sg_mw_zsdyx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,343},{60,124}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{60,124}}</string>
                <key>sourceSize</key>
                <string>{68,128}</string>
            </dict>
            <key>sg_mw_zsdyx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,241},{60,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{60,126}}</string>
                <key>sourceSize</key>
                <string>{68,128}</string>
            </dict>
            <key>sg_mw_zsdyx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{60,124}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{60,124}}</string>
                <key>sourceSize</key>
                <string>{68,128}</string>
            </dict>
            <key>sg_mw_zsdyx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,313},{62,124}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,124}}</string>
                <key>sourceSize</key>
                <string>{68,128}</string>
            </dict>
            <key>sg_mw_zsdyx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,455},{64,122}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,122}}</string>
                <key>sourceSize</key>
                <string>{68,128}</string>
            </dict>
            <key>sg_mw_zsdyx_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,441},{64,122}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{64,122}}</string>
                <key>sourceSize</key>
                <string>{68,128}</string>
            </dict>
            <key>sg_mw_zsdyx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,491},{62,122}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{62,122}}</string>
                <key>sourceSize</key>
                <string>{68,128}</string>
            </dict>
            <key>sg_mw_zsdyx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,653},{60,120}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{60,120}}</string>
                <key>sourceSize</key>
                <string>{68,128}</string>
            </dict>
            <key>sg_mw_zsdyx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,681},{56,120}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{56,120}}</string>
                <key>sourceSize</key>
                <string>{68,128}</string>
            </dict>
            <key>sg_mw_zsdyx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,549},{56,122}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{56,122}}</string>
                <key>sourceSize</key>
                <string>{68,128}</string>
            </dict>
            <key>sg_mw_zxdys_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,612},{67,120}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{67,120}}</string>
                <key>sourceSize</key>
                <string>{73,130}</string>
            </dict>
            <key>sg_mw_zxdys_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,619},{63,120}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{63,120}}</string>
                <key>sourceSize</key>
                <string>{73,130}</string>
            </dict>
            <key>sg_mw_zxdys_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,507},{61,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{61,122}}</string>
                <key>sourceSize</key>
                <string>{73,130}</string>
            </dict>
            <key>sg_mw_zxdys_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,486},{61,122}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{61,122}}</string>
                <key>sourceSize</key>
                <string>{73,130}</string>
            </dict>
            <key>sg_mw_zxdys_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,330},{61,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{61,124}}</string>
                <key>sourceSize</key>
                <string>{73,130}</string>
            </dict>
            <key>sg_mw_zxdys_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{59,124}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{59,124}}</string>
                <key>sourceSize</key>
                <string>{73,130}</string>
            </dict>
            <key>sg_mw_zxdys_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,269},{59,126}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{59,126}}</string>
                <key>sourceSize</key>
                <string>{73,130}</string>
            </dict>
            <key>sg_mw_zxdys_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{59,126}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{59,126}}</string>
                <key>sourceSize</key>
                <string>{73,130}</string>
            </dict>
            <key>sg_mw_zxdys_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{61,126}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{61,126}}</string>
                <key>sourceSize</key>
                <string>{73,130}</string>
            </dict>
            <key>sg_mw_zxdys_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,204},{63,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{63,126}}</string>
                <key>sourceSize</key>
                <string>{73,130}</string>
            </dict>
            <key>sg_mw_zxdys_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,419},{65,122}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{65,122}}</string>
                <key>sourceSize</key>
                <string>{73,130}</string>
            </dict>
            <key>sg_mw_zxdys_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,242},{69,122}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{69,122}}</string>
                <key>sourceSize</key>
                <string>{73,130}</string>
            </dict>
            <key>sg_mw_zxdys_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,607},{73,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{73,120}}</string>
                <key>sourceSize</key>
                <string>{73,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sg_mw_line_hero.png</string>
            <key>size</key>
            <string>{512,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55cda00613e5d5cb23c86862a68b6369$</string>
            <key>textureFileName</key>
            <string>sg_mw_line_hero.png</string>
        </dict>
    </dict>
</plist>
