<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_sjdt_xzg_zstx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,1},{69,63}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{69,63}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>sg_sjdt_xzg_zstx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,1},{67,61}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{67,61}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>sg_sjdt_xzg_zstx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1},{67,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{67,63}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>sg_sjdt_xzg_zstx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1},{63,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{63,65}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>sg_sjdt_xzg_zstx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1},{63,67}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{63,67}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>sg_sjdt_xzg_zstx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,1},{61,67}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{61,67}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>sg_sjdt_xzg_zstx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1},{61,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{61,69}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>sg_sjdt_xzg_zstx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1},{61,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{61,69}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>sg_sjdt_xzg_zstx_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1},{61,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{61,69}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>sg_sjdt_xzg_zstx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{63,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{63,69}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>sg_sjdt_xzg_zstx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1},{63,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{63,67}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>sg_sjdt_xzg_zstx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,1},{63,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{63,65}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>sg_sjdt_xzg_zstx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1},{67,63}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{67,63}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sg_sjdt_xzg_zstx.png</string>
            <key>size</key>
            <string>{823,71}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19b7a65278aaeded790fec41d43a7d89$</string>
            <key>textureFileName</key>
            <string>sg_sjdt_xzg_zstx.png</string>
        </dict>
    </dict>
</plist>
