<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_zjm_gf_jzd_0hxfc_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,627},{17,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,39}}</string>
                <key>sourceSize</key>
                <string>{17,39}</string>
            </dict>
            <key>sg_zjm_gf_jzdhfc_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,168},{83,103}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{83,103}}</string>
                <key>sourceSize</key>
                <string>{91,113}</string>
            </dict>
            <key>sg_zjm_gf_jzdhfc_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,380},{81,99}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{81,99}}</string>
                <key>sourceSize</key>
                <string>{91,113}</string>
            </dict>
            <key>sg_zjm_gf_jzdhfc_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,276},{81,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{81,103}}</string>
                <key>sourceSize</key>
                <string>{91,113}</string>
            </dict>
            <key>sg_zjm_gf_jzdhfc_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,380},{81,101}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{81,101}}</string>
                <key>sourceSize</key>
                <string>{91,113}</string>
            </dict>
            <key>sg_zjm_gf_jzdhfc_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,482},{85,99}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{85,99}}</string>
                <key>sourceSize</key>
                <string>{91,113}</string>
            </dict>
            <key>sg_zjm_gf_jzdhfc_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,276},{85,101}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{85,101}}</string>
                <key>sourceSize</key>
                <string>{91,113}</string>
            </dict>
            <key>sg_zjm_gf_jzdhfc_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,482},{81,97}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{81,97}}</string>
                <key>sourceSize</key>
                <string>{91,113}</string>
            </dict>
            <key>sg_zjm_gf_jzdhfc_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,380},{81,99}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{81,99}}</string>
                <key>sourceSize</key>
                <string>{91,113}</string>
            </dict>
            <key>sg_zjm_gf_jzdhfc_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,482},{81,97}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{81,97}}</string>
                <key>sourceSize</key>
                <string>{91,113}</string>
            </dict>
            <key>sg_zjm_gf_jzdhfc_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,168},{81,107}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{81,107}}</string>
                <key>sourceSize</key>
                <string>{91,113}</string>
            </dict>
            <key>sg_zjm_gf_jzdhfc_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,168},{81,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{81,105}}</string>
                <key>sourceSize</key>
                <string>{91,113}</string>
            </dict>
            <key>sg_zjm_gf_jzdhfc_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,276},{83,103}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{83,103}}</string>
                <key>sourceSize</key>
                <string>{91,113}</string>
            </dict>
            <key>sg_zjm_gf_jzdhxfc_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,627},{28,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{28,40}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>sg_zjm_gf_jzdhxfc_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,582},{28,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{28,42}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>sg_zjm_gf_jzdhxfc_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,627},{28,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{28,42}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>sg_zjm_gf_jzdhxfc_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,582},{28,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,44}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>sg_zjm_gf_jzdhxfc_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,582},{26,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,44}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>sg_zjm_gf_jzdhxfc_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,582},{28,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,44}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>sg_zjm_gf_jzdhxfc_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,582},{28,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,44}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>sg_zjm_gf_jzdhxfc_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,582},{28,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,44}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>sg_zjm_gf_jzdhxfc_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,582},{28,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{28,42}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>sg_zjm_gf_jzdhxfc_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,582},{28,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{28,42}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>sg_zjm_gf_jzdhxfc_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,627},{28,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{28,40}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>sg_zjm_gf_jzdhxfc_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,627},{28,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{28,40}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>zjm_wkq_jztp_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{182,166}}</string>
                <key>offset</key>
                <string>{29,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,14},{182,166}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sg_zjm_gf_jzd.png</string>
            <key>size</key>
            <string>{253,670}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd4325713160db369d56711e3bb8d43a$</string>
            <key>textureFileName</key>
            <string>sg_zjm_gf_jzd.png</string>
        </dict>
    </dict>
</plist>
