<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_zdsl_js_sl_sg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,1},{13,19}}</string>
                <key>offset</key>
                <string>{-41,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,30},{13,19}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>sg_zdsl_js_sl_sg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1},{23,37}}</string>
                <key>offset</key>
                <string>{-38,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{23,37}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>sg_zdsl_js_sl_sg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,19},{33,53}}</string>
                <key>offset</key>
                <string>{-34,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{33,53}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>sg_zdsl_js_sl_sg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,68},{43,53}}</string>
                <key>offset</key>
                <string>{-29,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{43,53}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>sg_zdsl_js_sl_sg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,155},{49,53}}</string>
                <key>offset</key>
                <string>{-25,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{49,53}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>sg_zdsl_js_sl_sg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,259},{63,53}}</string>
                <key>offset</key>
                <string>{-18,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{63,53}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>sg_zdsl_js_sl_sg_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,266},{69,53}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{69,53}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>sg_zdsl_js_sl_sg_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,275},{71,53}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{71,53}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>sg_zdsl_js_sl_sg_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,320},{87,53}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{87,53}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>sg_zdsl_js_sl_sg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,383},{91,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{91,55}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>sg_zdsl_js_sl_sg_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,329},{91,53}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{91,53}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>sg_zdsl_js_sl_sg_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,374},{85,55}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{85,55}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>sg_zdsl_js_sl_sg_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,383},{73,55}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{73,55}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>sg_zdsl_js_sl_sg_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,329},{67,53}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{67,53}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>sg_zdsl_js_sl_sg_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,161},{51,53}}</string>
                <key>offset</key>
                <string>{21,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>sg_zdsl_js_sl_sg_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,31},{45,49}}</string>
                <key>offset</key>
                <string>{24,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,0},{45,49}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>sg_zdsl_js_sl_sg_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,30},{37,49}}</string>
                <key>offset</key>
                <string>{28,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,0},{37,49}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>sg_zdsl_js_sl_sg_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1},{29,43}}</string>
                <key>offset</key>
                <string>{32,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,0},{29,43}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>sg_zdsl_js_sl_sg_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1},{17,27}}</string>
                <key>offset</key>
                <string>{38,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,0},{17,27}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>sg_zdsl_js_sl_sg_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{7,1},{9,11}}</string>
                <key>offset</key>
                <string>{42,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,0},{9,11}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>sg_zdsl_lg_sg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{5,4}}</string>
                <key>offset</key>
                <string>{49,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,44},{5,4}}</string>
                <key>sourceSize</key>
                <string>{103,52}</string>
            </dict>
            <key>sg_zdsl_lg_sg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,1},{13,14}}</string>
                <key>offset</key>
                <string>{45,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,38},{13,14}}</string>
                <key>sourceSize</key>
                <string>{103,52}</string>
            </dict>
            <key>sg_zdsl_lg_sg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,1},{19,14}}</string>
                <key>offset</key>
                <string>{42,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,38},{19,14}}</string>
                <key>sourceSize</key>
                <string>{103,52}</string>
            </dict>
            <key>sg_zdsl_lg_sg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1},{27,24}}</string>
                <key>offset</key>
                <string>{38,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,28},{27,24}}</string>
                <key>sourceSize</key>
                <string>{103,52}</string>
            </dict>
            <key>sg_zdsl_lg_sg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1},{37,28}}</string>
                <key>offset</key>
                <string>{33,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,24},{37,28}}</string>
                <key>sourceSize</key>
                <string>{103,52}</string>
            </dict>
            <key>sg_zdsl_lg_sg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,15},{45,32}}</string>
                <key>offset</key>
                <string>{29,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,20},{45,32}}</string>
                <key>sourceSize</key>
                <string>{103,52}</string>
            </dict>
            <key>sg_zdsl_lg_sg_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,26},{51,36}}</string>
                <key>offset</key>
                <string>{26,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,16},{51,36}}</string>
                <key>sourceSize</key>
                <string>{103,52}</string>
            </dict>
            <key>sg_zdsl_lg_sg_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,53},{61,38}}</string>
                <key>offset</key>
                <string>{21,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,14},{61,38}}</string>
                <key>sourceSize</key>
                <string>{103,52}</string>
            </dict>
            <key>sg_zdsl_lg_sg_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,63},{65,42}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,10},{65,42}}</string>
                <key>sourceSize</key>
                <string>{103,52}</string>
            </dict>
            <key>sg_zdsl_lg_sg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,77},{65,44}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{65,44}}</string>
                <key>sourceSize</key>
                <string>{103,52}</string>
            </dict>
            <key>sg_zdsl_lg_sg_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,106},{71,48}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{71,48}}</string>
                <key>sourceSize</key>
                <string>{103,52}</string>
            </dict>
            <key>sg_zdsl_lg_sg_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,171},{75,50}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{75,50}}</string>
                <key>sourceSize</key>
                <string>{103,52}</string>
            </dict>
            <key>sg_zdsl_lg_sg_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,206},{77,52}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{77,52}}</string>
                <key>sourceSize</key>
                <string>{103,52}</string>
            </dict>
            <key>sg_zdsl_lg_sg_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,213},{75,52}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{75,52}}</string>
                <key>sourceSize</key>
                <string>{103,52}</string>
            </dict>
            <key>sg_zdsl_lg_sg_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,222},{71,52}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,52}}</string>
                <key>sourceSize</key>
                <string>{103,52}</string>
            </dict>
            <key>sg_zdsl_lg_sg_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,155},{65,50}}</string>
                <key>offset</key>
                <string>{-19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{103,52}</string>
            </dict>
            <key>sg_zdsl_lg_sg_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,122},{61,48}}</string>
                <key>offset</key>
                <string>{-21,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,48}}</string>
                <key>sourceSize</key>
                <string>{103,52}</string>
            </dict>
            <key>sg_zdsl_lg_sg_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,112},{55,48}}</string>
                <key>offset</key>
                <string>{-24,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,48}}</string>
                <key>sourceSize</key>
                <string>{103,52}</string>
            </dict>
            <key>sg_zdsl_lg_sg_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,92},{47,48}}</string>
                <key>offset</key>
                <string>{-28,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{103,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sg_zdsl_js_sl.png</string>
            <key>size</key>
            <string>{253,439}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1f22365105ccf2ee2973a5dde161a43$</string>
            <key>textureFileName</key>
            <string>sg_zdsl_js_sl.png</string>
        </dict>
    </dict>
</plist>
