<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_zjm_jzdh_jjf_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,162},{122,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,160}}</string>
                <key>sourceSize</key>
                <string>{122,160}</string>
            </dict>
            <key>sg_zjm_jzdh_jjf_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,323},{122,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,160}}</string>
                <key>sourceSize</key>
                <string>{122,160}</string>
            </dict>
            <key>sg_zjm_jzdh_jjf_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,323},{122,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,160}}</string>
                <key>sourceSize</key>
                <string>{122,160}</string>
            </dict>
            <key>sg_zjm_jzdh_jjf_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,323},{122,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,160}}</string>
                <key>sourceSize</key>
                <string>{122,160}</string>
            </dict>
            <key>sg_zjm_jzdh_jjf_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,323},{122,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,160}}</string>
                <key>sourceSize</key>
                <string>{122,160}</string>
            </dict>
            <key>sg_zjm_jzdh_jjf_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,162},{122,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,160}}</string>
                <key>sourceSize</key>
                <string>{122,160}</string>
            </dict>
            <key>sg_zjm_jzdh_jjf_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,162},{122,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,160}}</string>
                <key>sourceSize</key>
                <string>{122,160}</string>
            </dict>
            <key>sg_zjm_jzdh_jjf_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{122,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,160}}</string>
                <key>sourceSize</key>
                <string>{122,160}</string>
            </dict>
            <key>sg_zjm_jzdh_jjf_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,1},{122,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,160}}</string>
                <key>sourceSize</key>
                <string>{122,160}</string>
            </dict>
            <key>sg_zjm_jzdh_jjf_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,162},{122,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,160}}</string>
                <key>sourceSize</key>
                <string>{122,160}</string>
            </dict>
            <key>sg_zjm_jzdh_jjf_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1},{122,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,160}}</string>
                <key>sourceSize</key>
                <string>{122,160}</string>
            </dict>
            <key>sg_zjm_jzdh_jjf_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1},{122,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,160}}</string>
                <key>sourceSize</key>
                <string>{122,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sg_zjm_jzdh_jjf.png</string>
            <key>size</key>
            <string>{493,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:044f7f21d906e3549d08db6fcbc352c1$</string>
            <key>textureFileName</key>
            <string>sg_zjm_jzdh_jjf.png</string>
        </dict>
    </dict>
</plist>
