<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_zjm_rw_tih_fk_sdx_xx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,72},{289,165}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{289,165}}</string>
                <key>sourceSize</key>
                <string>{297,165}</string>
            </dict>
            <key>sg_zjm_rwtih_fk_sdx_xx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sg_zjm_rwtih_sdx_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{189,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,49}}</string>
                <key>sourceSize</key>
                <string>{189,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sg_zjm_rwtih_1.png</string>
            <key>size</key>
            <string>{291,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa85b3ea8ef75acbe53bc0322fb3ad1a$</string>
            <key>textureFileName</key>
            <string>sg_zjm_rwtih_1.png</string>
        </dict>
    </dict>
</plist>
