<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_zjm_jzdh_nc_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,1},{52,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,86}}</string>
                <key>sourceSize</key>
                <string>{52,86}</string>
            </dict>
            <key>sg_zjm_jzdh_nc_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1},{52,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,86}}</string>
                <key>sourceSize</key>
                <string>{52,86}</string>
            </dict>
            <key>sg_zjm_jzdh_nc_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1},{52,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{52,84}}</string>
                <key>sourceSize</key>
                <string>{52,86}</string>
            </dict>
            <key>sg_zjm_jzdh_nc_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,1},{52,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,86}}</string>
                <key>sourceSize</key>
                <string>{52,86}</string>
            </dict>
            <key>sg_zjm_jzdh_nc_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1},{52,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,86}}</string>
                <key>sourceSize</key>
                <string>{52,86}</string>
            </dict>
            <key>sg_zjm_jzdh_nc_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1},{52,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,86}}</string>
                <key>sourceSize</key>
                <string>{52,86}</string>
            </dict>
            <key>sg_zjm_jzdh_nc_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1},{52,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,86}}</string>
                <key>sourceSize</key>
                <string>{52,86}</string>
            </dict>
            <key>sg_zjm_jzdh_nc_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1},{52,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,86}}</string>
                <key>sourceSize</key>
                <string>{52,86}</string>
            </dict>
            <key>sg_zjm_jzdh_nc_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1},{52,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,86}}</string>
                <key>sourceSize</key>
                <string>{52,86}</string>
            </dict>
            <key>sg_zjm_jzdh_nc_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,1},{52,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,86}}</string>
                <key>sourceSize</key>
                <string>{52,86}</string>
            </dict>
            <key>sg_zjm_jzdh_nc_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,1},{52,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,86}}</string>
                <key>sourceSize</key>
                <string>{52,86}</string>
            </dict>
            <key>sg_zjm_jzdh_nc_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{52,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,86}}</string>
                <key>sourceSize</key>
                <string>{52,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sg_zjm_jzdh_nc.png</string>
            <key>size</key>
            <string>{637,88}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f02a9169dc6287de3fca7bb22828f97b$</string>
            <key>textureFileName</key>
            <string>sg_zjm_jzdh_nc.png</string>
        </dict>
    </dict>
</plist>
