<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_zjm_jztx_yw_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1345,1},{54,71}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{54,71}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>sg_zjm_jztx_yw_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,1},{56,69}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>sg_zjm_jztx_yw_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,1},{56,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>sg_zjm_jztx_yw_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,1},{56,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>sg_zjm_jztx_yw_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1},{56,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,73}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>sg_zjm_jztx_yw_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,1},{56,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>sg_zjm_jztx_yw_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,1},{56,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>sg_zjm_jztx_yw_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1},{56,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>sg_zjm_jztx_yw_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1},{56,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>sg_zjm_jztx_yw_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,1},{56,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>sg_zjm_jztx_yw_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,1},{56,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>sg_zjm_jztx_yw_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{56,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>sg_zjm_jztx_yw_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,1},{54,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>sg_zjm_jztx_yw_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,1},{54,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>sg_zjm_jztx_yw_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,1},{54,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>sg_zjm_jztx_yw_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,1},{54,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>sg_zjm_jztx_yw_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,1},{54,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>sg_zjm_jztx_yw_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,1},{54,71}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{54,71}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>sg_zjm_jztx_yw_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,1},{54,71}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{54,71}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sg_zjm_jztx_yw.png</string>
            <key>size</key>
            <string>{1417,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f44bb0e1cccd9674f03c5684d027ef8$</string>
            <key>textureFileName</key>
            <string>sg_zjm_jztx_yw.png</string>
        </dict>
    </dict>
</plist>
