<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_zjm_jzdh_gby_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,67},{100,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,65}}</string>
                <key>sourceSize</key>
                <string>{100,65}</string>
            </dict>
            <key>sg_zjm_jzdh_gby_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,67},{100,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,65}}</string>
                <key>sourceSize</key>
                <string>{100,65}</string>
            </dict>
            <key>sg_zjm_jzdh_gby_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1},{100,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,65}}</string>
                <key>sourceSize</key>
                <string>{100,65}</string>
            </dict>
            <key>sg_zjm_jzdh_gby_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{100,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,65}}</string>
                <key>sourceSize</key>
                <string>{100,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sg_zjm_jzdh_gby.png</string>
            <key>size</key>
            <string>{203,133}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aeb1c4d20cfb88f86a674148f9a8a074$</string>
            <key>textureFileName</key>
            <string>sg_zjm_jzdh_gby.png</string>
        </dict>
    </dict>
</plist>
